[2013-11-27 18:42] vernnobile opened #8 "Metapolator on OSX, seems to break Prepolator and Superpolator!"
Installing requirements for Metapolator on OSX, seems to have broken my Prepolator and Superpolator. I'm assuming it's python related.

[2013-11-29 04:08] #8 closed, assigned to nobody

[2013-12-04 03:51] davelab6 opened #9 "Install steps fail for me on Ubuntu Precise"
Install steps fail for me on Ubuntu Precise:

[code]

[2013-12-06 17:23] davelab6 opened #10 "Only use 4 beautiful colors for glyph parts"
Looking at this,

![real screen shot 2013-12-03 at 3 43 02 pm](https://f.cloud.github.com/assets/261579/1694109/183d8352-5e9b-11e3-944b-c6a39d207973.png)

and knowing about http://en.wikipedia.org/wiki/Four_color_theorem

I suggest we should pick 4 colors for the glyph parts and use them throughout.

The colors in the left glyph are too similar. The middle one is good.

Perhaps colors from http://

[2013-12-11 23:56] davelab6 opened #11 "Add option to visualise skeleton points"

[2013-12-12 16:12] davelab6 opened #12 "Catch and killl recursive loop in metapost"
:)

[2013-12-13 10:06] #12 closed, assigned to nobody

[2013-12-19 00:56] davelab6 opened #13 "Display a preview of each axis above each axis slider"
- [ ] Show the value of the slider on each axis to the left of the slider (easy with Angular! :)
- [ ] We place the masters at default positions on each axis today, but based on https://github.com/metapolator/metapolator/issues/46 lets add a way to set the master's positions
- [ ] Display a preview of each axis above each axis slider #13. This could use `opentype.js` or `paper.js`. Mock up: ![scre

[2014-01-03 04:51] davelab6 opened #14 "Integrate the Impallari Weight Calculator"
http://www.impallari.com/projects/overview/family-stem-weight-calculator by @impallari allows calculating where weights should be exactly. Would be great to see this integrated into metapolator :)

[2014-01-03 20:54] davelab6 opened #15 "Overlay UFOs"
It would be good to overlay UFOs as well as see them side by side.

https://twitter.com/djrrb/status/419172670001774593

[2014-01-25 17:49] #11 closed, assigned to nobody

[2014-01-25 17:59] davelab6 opened #17 "Ideas of things show in a demo video?"
We need a 3 minute demonstration video showing how metapolator helps with:
1. weight selection: picking the weights of the 9 styles given interpolatable masters. No meta-fun.
2. x-height modification: skeleton fun.
3. serif swapping: from none to slab to wedged

We can use Roboto/Slab for this with just a few glyphs - `HOna`
### Things already working
- [x] Uploading UFOs with drag and drop - show

[2014-01-26 01:04] davelab6 opened #18 "Sliding Sidebar for Glyph List"
The 'menu' link on the top right of http://www.squarespace.com/templates is a great example of the 'sliding sidebar' I mentioned on the recent call.

Use this to show the glyph list (which is currently a Bootstrap modal) on the left side of the page.

[2014-01-26 13:53] simonegli opened #19 "show parent shape when applying metafont parameters"
![screen shot 2014-01-24 at 1 24 01 pm](https://f.cloud.github.com/assets/1283394/2004022/9632dc68-8690-11e3-97fd-1fbef80abc98.png)

show on / off parent shape in background 10% when applying non-destrucive metafont parameters. Revealing shape according to original points.

[2014-01-26 14:00] simonegli opened #20 "Direction Tool"
- [ ] Add a direction tool, that provides an intuitive user interaction for setting the value of the `dir` (direction) point attribute: Click on a zpoint and drag to show a line from zpoint to mouse pointer position, labeled with the direction degree. See [paperjs vector documentation](http://paperjs.org/tutorials/geometry/vector-geometry/) at the end of the page for a demo and code to reuse

[2014-01-26 15:47] weiweihuanghuang opened #21 "Option to drag and drop skeletal point"
Saw that visualising the control point was recently implemented :)
- [ ] allow moving skeleton point with a drag and drop, which means repositioning the `z_l` and `z_r` points as a pair in the master

[2014-01-27 11:51] davelab6 opened #22 "Setup Docker image"
- [x] Create a docker image for metapolator
- [x] Confirm that running Metapolator is as easy as

[code]

Following tutorials like http://www.johnmcostaiii.net/2013/installing-redis-on-docker/

[2014-01-28 07:45] vitalyvolkov opened #23 "Controlpoints Mode does not work with current pointset changes"

[2014-01-30 13:56] #22 closed, assigned to vitalyvolkov

[2014-01-31 10:46] #23 closed, assigned to vitalyvolkov

[2014-01-31 16:21] vitalyvolkov opened #24 "Get rid of setting mode manually"
As UFO in pen mode has z-points in pair (z1l and z1r) It will be easy to free user from clicking mode at the top of page and set mode automatically.

[2014-02-05 03:22] davelab6 opened #26 "Add a Makefile"
Add a convenient Makefile similar to https://github.com/xen/fontbakery/blob/master/Makefile

[2014-02-11 16:29] davelab6 opened #27 "Set up beta.metapolator.com"
- [x] Move the live demo at http://beta.metapolator.com:9000 to port 80
- [x] Set up a Makefile https://github.com/metapolator/metapolator/issues/26
- [x] Set up Continuous Deployment with [drone.io](http://docs.drone.io/ssh.html)

[2014-02-11 16:48] davelab6 opened #28 "Give the demo page a splash of visual design"
Simon's mock up:

![screen shot 2014-02-11 at 12 46 13 pm](https://f.cloud.github.com/assets/261579/2139221/3b816510-933c-11e3-9a80-3a8aab472271.png)

[2014-02-11 16:51] davelab6 opened #29 "Provide 4 instances for the demo page"
- [x] 1. Regular
- [x] 2. Bold
- [x] 3. Tall x-height
- [x] 4. Wide spacing

[2014-02-12 12:46] #27 closed, assigned to vitalyvolkov

[2014-02-12 21:12] #29 closed, assigned to simonegli

[2014-02-12 21:13] #28 closed, assigned to Troush

[2014-02-12 21:16] davelab6 opened #30 "Move the demo page to the homepage"
- [ ] Merge content from https://github.com/metapolator/metapolator/blob/gh-pages/about.html into https://github.com/metapolator/metapolator/blob/gh-pages/test/index.html
- [ ] Move https://github.com/metapolator/metapolator/blob/gh-pages/test/index.html to https://github.com/metapolator/metapolator/blob/gh-pages/index.html

[2014-02-12 21:20] davelab6 opened #31 "Move the demo page to the homepage"
- [x] Merge content from https://github.com/metapolator/metapolator/blob/gh-pages/about.html into https://github.com/metapolator/metapolator/blob/gh-pages/test/index.html
- [x] Move https://github.com/metapolator/metapolator/blob/gh-pages/test/index.html to https://github.com/metapolator/metapolator/blob/gh-pages/index.html
- [x] Make a mockup for this:
- [x] Remove the center drop down and remake

[2014-02-14 15:53] vitalyvolkov opened #32 "Re-order accessing to local configuration for database"
If localconfig does not exist then search `DATABASE_NAME`, `DATABASE_USER`, `DATABASE_PWD` in environment variables and use them.

[2014-02-14 16:46] #30 closed, assigned to nobody

[2014-02-15 15:09] #32 closed, assigned to vitalyvolkov

[2014-02-15 17:54] davelab6 opened #33 "Move base files to /metapolator/base/"
- [x] Create `__init__.py`
- [x] Move uninteresting files here
- [x] rename xml_to\* to names that make more sense

[2014-02-15 17:59] davelab6 opened #34 "Integrate /preparetools/* into xml2mf files"
- [ ] [`autocontrolpoints.py`](https://github.com/metapolator/metapolator/blob/master/prepare_tools/autocontrolpoints.py) has been used in control point to label the points as Z point, so we don't distinguish between left and right points; there are only z points here. This can be integrated into the import process.
- [ ] [`extra.py`](https://github.com/metapolator/metapolator/blob/master/prepare_

[2014-02-15 18:06] davelab6 opened #35 "Move /sessions to redis (already used by celery)"
- [x] Move /sessions to /users so its tidy
- [x] Move sessions key-values to be stored in redis (already used by celery)
- [x] Remove old sessions file based store

[2014-02-15 18:07] davelab6 opened #36 "Review why Inconsolata is in static"
If not used, remove Inconsolata from static

I used, use via GWF

[2014-02-15 18:16] davelab6 opened #37 "Pull 3rd party JS and CDN parts so we run offline"
Metapolator should run offline
- [x] Use grunt to pull in all static 3rd party parts and CDN parts

[2014-02-15 18:19] davelab6 opened #38 "Rework templates to use base template"

[2014-02-15 18:30] davelab6 opened #39 "Deduplicate mf2pt1 files in /users/skel"
perhaps add a WORKDIR environment variable so the log output goes to correct dir

[2014-02-15 18:46] davelab6 opened #40 "Run on port 80"

[2014-02-15 18:55] davelab6 opened #41 "Move /demofonts to /static/fonts"

[2014-02-17 11:20] #33 closed, assigned to vitalyvolkov

[2014-02-17 11:20] #41 closed, assigned to nobody

[2014-02-17 12:28] #35 closed, assigned to vitalyvolkov

[2014-02-17 12:35] #36 closed, assigned to vitalyvolkov

[2014-02-17 18:05] davelab6 opened #42 "Move /doc to gh-pages"

[2014-02-17 18:27] davelab6 opened #43 "Change the directory/file organization so it is easier to comprehend the codebase"
models.py classes have legacy names for classes and methods from the very start of the project. As we leave the prototype stage, we can rename them so that they  make more sense. Eg, we parse logs into json with `tools.py:get_edges_json()` but this should be a `log2json.py`
- [ ] Run a hangout where we
- [x] split tools/views/models py files into directories, with one class per file
- [x] go over

[2014-02-17 19:18] davelab6 opened #44 "Place UFOs in `/users/$login/$project/$kind-of-ufo/` subdirectories"
- [x] Change `EditorUploadZIP.POST()` in `views.py` to place the unzipped UFO files that a user uploads into a `/users/$login/$project/uploads/` subdirectory
- [x] Place Masters in a `/users/$login/$project/masters/` subdirectory
- [x] Place Instances in a `/users/$login/$project/instances/` subdirectory

[2014-02-17 20:19] davelab6 opened #45 "Run metapost as a daemon"
Problem: The paperjs glyph preview is slow, taking ~3,000ms to show changes after they are made.

Cause: Metapost is run as a forked process, in https://github.com/metapolator/metapolator/blob/master/metapolator/views.py#L876 using the Python standard library's `subprocess.Popen` so we incur a long startup time each time it is run.

Non-Solution: Jonathan Fine's [metapostd.py](https://bitbucket.or

[2014-02-17 20:21] davelab6 opened #46 "Create a metapolator.py command line interface"
- [x] Create a CLI interface to make metapolator immediately useful to early adopters.

Here is a control point mode mock:

[code]

ufo files -load-in-python-memory->   =write-to-disk=> mf files -load-in-c-memory> metapost.c =write=to=disk=> mf files -load-in-pl-memory-> mf2pt1.pl =write=to=disk=> pfb files -load-in-c-memory-> fontforge.c =write=to=disk=> [ufo,otf] files

Rough plan for how this w

[2014-02-17 20:22] davelab6 opened #47 "2014 Week 8"

[2014-02-17 20:22] #47 closed, assigned to nobody

[2014-02-18 19:44] davelab6 opened #48 "Show font metadata on the demo page"
This requires fixing https://github.com/nodebox/opentype.js/issues/5 :)

[2014-02-18 20:29] davelab6 opened #49 "Move db from relational-db MySQL to document-db CouchDB"
Problem: Copying Masters is very slow.

Cause: We use MySQL to store UFO point co-ordinates and parameters (x,y,tension,etc). When we change a point's values (its position or of a parameter) then we change the value in the database. This means font-level operations have 2 loops, for Glyph and Points. Each loop involves at least one database operation, and they are multipled. Eg, we have 2 glyphs w

[2014-02-18 20:34] davelab6 opened #50 "Sync concurrent users on the same page"
Problem: When you open two windows and navigate to the same project's workspace, the clients are not in sync.

Cause: We use MySQL to store point co-ordinates and parameters, so when we change the value in the database, the update is not pushed to clients.

Solution:
- [ ] Use a JSON database instead of MySQL (#49)
- [ ] Use SockJS to push updates in database to all clients. (Perhaps use Tornado i

[2014-02-19 07:37] davelab6 opened #51 "Desktop app"
Make metapolator run as a desktop app, following the http://cdn.novacut.com/couchone-guest.html example

[2014-02-20 05:28] davelab6 opened #52 "Replace mf log converted to json & sent to paperjs, with mf SVG sent directly to two.js"
Problem: Rendering is slow.

Cause: Metapost runs on a set of mf files, and outputs new mf files and log files. we parse the log files for 'edges' and convert them into json glyph outlines, and send the json to paperjs for rendering.

Solution:
- [ ] Metapost can output SVG directly, and we can send SVGs to the browser to render directly, without parsing.
- [ ] We can replace paper.js with two.js

[2014-02-20 16:53] simonegli opened #53 "Sketch Ideas for the UI, and create a basic wireframe"
![micro_previews](https://f.cloud.github.com/assets/1283394/2220687/49dc0622-9a50-11e3-8f4d-ed1e6c3d4cf4.png)
Using first letters from font name and style as label and show origin value.

![elment](https://f.cloud.github.com/assets/1283394/2220522/893ab202-9a4e-11e3-9a16-9cdea9e87b9c.jpg)

Choosing between 1, 2 or 4 columns:
![screen shot 2014-02-20 at 5 41 16 pm](https://f.cloud.github.com/assets

[2014-02-21 19:45] #42 closed, assigned to nobody

[2014-02-22 23:41] davelab6 opened #54 "President Yanukovich out of office"

[2014-02-22 23:41] #54 closed, assigned to nobody

[2014-02-22 23:52] davelab6 opened #55 "Move all views.py methods not in a class with the arg app.page to another file"
@hash3g @simonegli Are view methods the methods in https://github.com/metapolator/metapolator/blob/master/metapolator/views.py with `app.page` as their argument?

It seems to me that there are some methods in `views.py` which are not actually "view methods" but functions called by view methods, which maybe belong in other files (like `metapost.py`)?

[2014-02-23 12:39] davelab6 opened #56 "Try HTML5 <range> in /test"
Try using HTML5 'range' inputs instead of jQuery for the sliders on the test page to make the faster.

[2014-02-23 22:52] davelab6 opened #57 "Close stale branches"
Our git repo has a lot of branches; we should merge to master those that are now no longer needed :)

[2014-02-24 06:28] davelab6 opened #58 "Compute paragraph line length from widest instance"
In the paragraph paperjs in http://metapolator.com/test/ as the glyph widths increase, the paragraph lines re-wrap.

Instead, compute the paragraph line lengths from widest instance, so that when varying the width, the lines never re-wrap.

[2014-02-24 16:13] davelab6 opened #59 "Develop basic Angular components"
- [x] universal directive for sliders
- [x] universal directive for opentype.js canvases
- [x] binding the slider directive's value to a property of the abstract font directive
- [x] glyph controller
- [x] word controller
- [x] paragraph controller
- [x] use dat.gui to control the interpolation values
- [x] remove jquery.slider.js

[2014-02-25 10:07] simonegli opened #60 "Spacial interpolation and extrapolation"
Question:

Answer:

4 masters = 4 axes (technically)

The amount of the coefficient is responsible for 'warping' or no-'warping'

![screen shot 2014-02-25 at 10 54 38 am](https://f.cloud.github.com/assets/1283394/2256265/4354822c-9e04-11e3-93cc-c6a44ec0f6d6.png)
5th master:
![screen shot 2014-02-25 at 11 47 50 am](https://f.cloud.github.com/assets/1283394/2256644/4927aa16-9e0a-11e3-993b-dd89c49667

[2014-02-25 16:32] #57 closed, assigned to vitalyvolkov

[2014-02-25 19:06] davelab6 opened #61 "Use SVG OpenType Workshop"
- [ ] When changing things only within a glyph (eg, a point's value for position or some parameter) set MetaPost to process only that single glyph, and output it as SVG, then render the SVG directly in two.js
- [ ] Use https://github.com/rocallahan/svg-opentype-workshop to compile that SVG into its parent OTF binary directly on the client
- [ ] Use the newly compiled `OpenType (SVG)` font in parag

[2014-02-26 07:58] #55 closed, assigned to vitalyvolkov

[2014-02-26 10:59] davelab6 opened #62 "Use paperjs to do linear interpolation"
Problem: Our demo homepage only uses OTF data rendered with opentype.js, but actually the core metapolator cards will be JSON data rendered with paper.js/two.js, so at the moment what we can demo is limited.

Solution: Add a json+paperjs widget for linear interpolation to the demo page
- [x] revert dat.gui theme to the default (see below)
- [x] make a json 'a' from Roboto Slab in Light and store t

[2014-02-26 11:01] davelab6 opened #63 "Prototype PouchDB on demo page"
Problem: Metapolator doesn't work offline

Solution: Use PouchDB

Following #62, update demo page with pounchdb:
- [ ] make a json 'a' from Roboto Slab in Light and store that in PouchDB
- [ ] make a json 'a' from Roboto Slab in Bold and store that in PouchDB
- [ ] make a json 'a' from Roboto Slab w/ Tall x-height and store that in PouchDB
- [ ] make a json 'a' from Roboto Slab in Condensed and st

[2014-02-26 11:02] #53 closed, assigned to simonegli

[2014-02-26 11:03] #56 closed, assigned to Troush

[2014-02-26 11:05] #26 closed, assigned to davelab6

[2014-02-26 11:10] davelab6 opened #64 "Which python couchdb interface to use?"
Branching #49...

https://cloudant.com/blog/using-python-with-cloudant/ explains the differences between https://github.com/benoitc/couchdbkit/ and https://github.com/Roger/couchdb-python and there's also https://github.com/nicolaisi/couchquery

However, I think we want to use couch asynchronously, and there are 4 libraries for that:

https://github.com/inoi/trombi - last updated 2 years ago
http:

[2014-02-26 11:13] #9 closed, assigned to davelab6

[2014-02-26 11:40] davelab6 opened #65 "Use python to develop views?"
Branching #49...

It seems possible to use python to prototype our couch views: https://code.google.com/p/couchdb-python/source/browse/doc/views.rst and https://github.com/mikeal/couchdb-pythonviews

I wonder how performant this is compared to JS views run in SpiderMoney?

[2014-02-26 16:01] davelab6 opened #66 "Switch from simplejson to ujson"
Seems `ujson` is fastest:
http://stackoverflow.com/questions/706101/python-json-decoding-performance

[2014-02-27 17:02] davelab6 opened #67 "Clean up .gitignore"
I think the `.gitignore` file has some things we no long use/have (e.g. sessions) so can be cleaned up a bit :)

[2014-02-27 17:03] davelab6 opened #68 "Improve README: Deploy section needs more information"
README.md says,

But where does the /var/www/webpy-app/metapolator directory come from? And where do the two `.conf` files come from? They aren't in our repo:

[code]

Ideally this section would be a complete step by step on how to set metapolator up for deployment.

[2014-02-27 17:30] vitalyvolkov opened #69 "Place /users working directories outside of metapolator project"
After deploying with Drone.io the users folder is lost. It returns to clean repo state without any changes in directory structure.

[2014-02-27 17:33] #67 closed, assigned to vitalyvolkov

[2014-02-27 18:57] davelab6 opened #70 "Set CELERY_ACCEPT_CONTENT in app.conf"
/Users/dcrossland/src/metapolator/.venv/lib/python2.7/site-packages/celery/apps/worker.py:161 says,

[code]

which is not set, so when I run celery I see:

[code]

[2014-02-28 01:01] vernnobile opened #71 "anchor points in UFO cause UFO upload to fail"
title says it all.  Presumably this is because the anchor points are being tagged in the UFO XML as single points, by the preparation python scripts. Perhaps single points can be forcibly NOT tagged?

[2014-02-28 01:20] vernnobile opened #72 "Docker pull metapolator not working for me on OSX"
Works on Ubuntu :)  but not on OSX;

[code]

[2014-02-28 03:33] davelab6 opened #74 "Improve `make install`"
- [ ] detect if we are running ubuntu/debian or osx (e.g., an `IF uname` conditional shell script) and run the apt-get / brew commands to install locally
- [ ] improve README with exact steps for running in Docker on OSX
- [ ] add a section that explains step by step how to set up drone.io continuous deployment

[2014-03-03 07:37] simonegli opened #75 "merge pen mode and control point mode"
- [ ] trace direction for original control points
- [ ] trace tension value for original control points
- [ ] calculate pair points from original outline

if we read direction and tension values from original contour, the original control points wont be needed for further transformations. Tracing has to be done only once.
Value for direction we can calculate. Value for tension we have to iterate a

[2014-03-03 10:17] #70 closed, assigned to vitalyvolkov

[2014-03-03 10:30] #66 closed, assigned to vitalyvolkov

[2014-03-03 16:25] #19 closed, assigned to Troush

[2014-03-03 19:40] #59 closed, assigned to Troush

[2014-03-03 19:41] #31 closed, assigned to Troush

[2014-03-04 03:43] davelab6 opened #76 "Write 30 Small User Stories"
Problem: People still don't get what metapolator is and can be. Its easier to describe and implement a traditional glyph-centric font editor in the browser than a family-centric one. I think we need A LOT of small examples, which can create a sense of metapolator's power and possibility.

Solution:
- [ ] Write a story for each mockup in https://github.com/metapolator/metapolator/issues/60#issuecom

[2014-03-04 07:16] simonegli opened #77 "Fontforge script 'no-rounding' puts comma instead period"
Creating UFO with Fontforge script 'no-rounding' puts comma instead period in point coordinates which causes an error opening the UFO in UFO editor:

[code]

[2014-03-04 08:18] simonegli opened #78 "Demopage"
We can use the environemt settings as a constant controller for each 'slide' in the left upper corner.  Once the slide is in view, the controller is getting updated.

![screen shot 2014-03-04 at 9 04 10 am](https://f.cloud.github.com/assets/1283394/2319029/17653398-a375-11e3-9eb3-91ecce55f2c6.png)

scrolling down to slide example:
https://www.cubeslam.com/tech#webrtc

scrolling left right example:

[2014-03-05 09:19] #77 closed, assigned to vitalyvolkov

[2014-03-05 11:29] #72 closed, assigned to davelab6

[2014-03-05 11:48] #58 closed, assigned to Troush

[2014-03-05 23:23] #65 closed, assigned to nobody

[2014-03-06 00:18] davelab6 opened #79 "Run mf2pt1 as a daemon"
Similar to #45 run Run mf2pt1 as a daemon:
- browser requests ufo.zip or otf of current instance
- json from couchdb into python
- python converts json to mf
- python sends mf via POST to mf2pt1d
- mf2pt1d processes mf to ufo.zip/otf
- mf2pt1 sends ufo.zip/otf via POST to couchdb as attachment
- browser watches _changes, sees attachment created, downloads it
- browser renders OTF on page, offers U

[2014-03-06 00:38] davelab6 opened #80 "Show mix of 2 instances in example paragraph text"
Currently the interpolated paragraph text on the homepage is shown in only 1 style.

But designers pick a bold or light weight by seeing this style in the context of other styles, so you can actually look for a right value for your bold right there. Example, a mostly regular paragraph with some bold words or sentences.
- [ ] Change the homepage so its using [directives](http://aleaiactaest.ch/2012

[2014-03-06 16:52] #71 closed, assigned to vitalyvolkov

[2014-03-06 17:26] #37 closed, assigned to Troush

[2014-03-10 13:41] #44 closed, assigned to vitalyvolkov

[2014-03-10 13:50] #60 closed, assigned to simonegli

[2014-03-10 14:18] davelab6 opened #81 "Metalogopolator"
Problem: We want many metapolator logos, based on user contributed glyphs.

Solution: Make a demo page that generates Metapolator logos, using metapolator components.
- [ ] Browser shows an empty 'sidebar + cards' UI. Sidebar has a upload hotspot then a dat.gui stack. Cards area has a single card that explains to drag a glyf into the hotspot in order to see all other logos shared
- [ ] User drags

[2014-03-11 11:03] simonegli opened #82 "examples are cropped"
make canvas so the fonts get centered and not cropped!
cropped tail:
![screen shot 2014-03-11 at 11 57 13 am](https://f.cloud.github.com/assets/1283394/2384404/28d0e5e0-a90c-11e3-9623-7c98185f33d4.png)
cropped bottom 'a':
![screen shot 2014-03-11 at 11 56 52 am](https://f.cloud.github.com/assets/1283394/2384405/2b66f178-a90c-11e3-9bf8-3df706f32221.png)
cropped tail 2nd 'a':
![screen shot 2014-03-1

[2014-03-11 13:11] simonegli opened #83 "Ideas for page"
create header image for demo page

[2014-03-11 13:37] #82 closed, assigned to Troush

[2014-03-15 07:24] davelab6 opened #84 "Use GreensockJS for Motion Graphics"
Use http://www.greensock.com/jump-start-js/ to move the cards around and change their type

[2014-03-15 07:25] #84 closed, assigned to nobody

[2014-03-15 07:45] simonegli opened #85 "animated tweens"
use this to bounce within two parameters or masters automatically and get animated transformations:

http://workshop.chromeexperiments.com/examples/gui/#9--Updating-the-Display-Automatically
- [] add a check box to sliders where an animation is suitable.

[2014-03-23 19:31] davelab6 opened #86 "Make cards editable"
Use http://hallojs.org to make the cards editable

[2014-03-23 19:32] davelab6 opened #87 "Make source highlighted"
Use http://shjs.sourceforge.net to highlight source code

[2014-03-23 19:34] davelab6 opened #88 "Make touch events work"
Use http://eightmedia.github.io/hammer.js/ to make touch events work

[2014-03-23 23:06] davelab6 opened #89 "Make clicking outside modals close them"
Use http://benalman.com/projects/jquery-outside-events-plugin/ to make clicking outside modals close them

[2014-03-24 23:31] davelab6 opened #90 "mpost.js research, paperjs interpolation"
- [x] check mpost.js from Max
- [x] help Simon with controller
- [x] progress on paperjs interpolation

[2014-03-24 23:31] #90 closed, assigned to Troush

[2014-03-24 23:34] #62 closed, assigned to Troush

[2014-03-24 23:37] davelab6 opened #91 "Add two.js as a rendering option"
Following #62:
- [ ] duplicate the 'a' at the start of the homepage made in paperjs and change it to use two.js so that this is another `lib` value ([example](https://github.com/metapolator/metapolator/blob/gh-pages/app/js/app.js#L278)) of `twojs`

[2014-03-24 23:40] davelab6 opened #92 "dat.gui touch support"
Touch is important for us in Q3, but is a dependency improvement: https://github.com/dataarts/dat.gui/issues/38

[2014-03-27 07:33] davelab6 opened #93 "Use hasher to control history state"
https://github.com/millermedeiros/hasher

[2014-03-27 08:39] davelab6 opened #94 "PaperJS render looks different to OpenTypeJS"
Following https://github.com/metapolator/metapolator/issues/62 ... :)

On Mac OS X, the PaperJS rendering of the 'a' at the top of metapolator.com is sharp:
![screen shot 2014-03-24 at 17 47 16](https://cloud.githubusercontent.com/assets/261579/2535212/d7baa9d0-b58a-11e3-979c-a959016036dc.png)
and the OpenTypeJS 'a' below it is fuzzy:
![screen shot 2014-03-24 at 17 47 22](https://cloud.githubuserc

[2014-03-30 23:21] davelab6 opened #95 "Demo page: Use data binding to describe the fonts"
Using http://worrydream.com/Tangle/ can we describe the fonts x-height as a proportion in the text, and have it update the font? :)

[2014-04-02 00:02] davelab6 opened #96 "Post more MF mode demo fonts in the repo"
@simonegli this would be helpful for people to understand the workflow :)

[2014-04-04 17:22] weiweihuanghuang opened #97 "Make Install and Make Run Errors"
I'm not sure whether this is the correct procedure to bring up my own issues with installing but I am having trouble installing the latest version. I get these errors when when I try to 'make install' metapolator:

[code]

I'm not sure if this is to do with the fact that I had Python installed some other way, and when I 'brew install' it said.

[code]

[2014-04-07 18:38] davelab6 opened #98 "Attend LGM"
- [x] Simon and Nicolas presented at LGM
- [x] Dave met more contributors

[2014-04-07 18:38] #98 closed, assigned to simonegli

[2014-04-07 18:42] davelab6 opened #99 "mpost.js research"
- [x] research more mpost.js with Max

[2014-04-07 18:42] #99 closed, assigned to Troush

[2014-04-10 08:31] #91 closed, assigned to Troush

[2014-04-10 10:39] allcaps opened #100 "Metapolator is not showing in browser"
I don't know if this is a real issue or my lack of knowledge. I'm also in doubt if this is the right place to ask. But I can't get Metapolator to open in a browser. I tried the traditional install, got stuck, switched to Docker.

My OSX machine needs VirtualBox to run docker. The virtual machine created by boot2docker didn't start. Therefore I changed the Guest OS to 'Other/Unknown (64-bit)'. Then

[2014-04-13 13:58] kolber opened #102 "500 error on '/upload'"
I have managed to get everything running locally on osx 10.9.2, as a python server (through zsh) via `make run` and everything is working nicely except for the upload.
I have tried a number of different zipped ufo files (including one which @weiweihuanghuang has verified is working for him), but everything gives me the following error.

[code]

[2014-04-15 00:24] #94 closed, assigned to Troush

[2014-04-15 01:25] #46 closed, assigned to davelab6

[2014-04-15 01:28] davelab6 opened #103 "Write the current prototype user story"
- [x] https://docs.google.com/document/d/1fiYpDxoBaiymMjzxptRZr6HkDaF3QqdEZuq_Vdz2JjU/edit#
- [x] publish this story on the homepage

[2014-04-15 01:29] davelab6 opened #104 "Define Product Vision"
- [x] Team call with Peter Sikking
- [x] Project Vision published in README.md
- [ ] Project Vision published on homepage

[2014-04-17 14:57] davelab6 opened #105 "CLI: Interpolate mark positioning"
Following #46
- [ ] CLI should be tested for interpolation of mark positioning, so that metapolator fully supports complex scripts

[2014-04-22 19:40] vallancedavid opened #106 "install succeeded but metapolator doesn't seems to work in the browser"
I followed the traditional install, everything seems to work well.
When I open metapolator in the browser it seems that I can't do anything, I only have this two “drop zone”, but nothing is happening when I'm dropping an UFO file in there. Did I miss something?
Here-after some screenshots of the browser and the two shell windows.

Thank you!

![capture decran 2014-04-22 a 21 35 07](https://cloud.g

[2014-04-28 13:59] #100 closed, assigned to nobody

[2014-04-29 12:03] Troush opened #107 "Refactoring Week"
Lets refactoring begin.

@graphicore
 Backend. Data flow from/to db.

@troush
 Frontend. Mouse interaction.

[2014-05-01 00:04] #97 closed, assigned to nobody

[2014-05-04 22:03] davelab6 opened #108 "Remove sfnt2woff"
Since sfnt2woff can't be packaged for Homebrew - https://github.com/Homebrew/homebrew/pull/28951 - and since it isn't actually necessary (since FF and Chrome will render plain OTF fonts fine) I figure we are just slowing things down and complicating the install process. So we should remove it.
- [ ] remove it from font generation
- [ ] replace WOFF with OTF in the CSS

[2014-05-12 03:01] graphicore opened #109 "Discuss concepts.md"
See https://github.com/metapolator/metapolator/blob/next/next/docs/concepts.md

This needs peer review by everyone interested. Please use this issue for discussion.

[2014-05-12 13:44] simonegli opened #110 "prepolation process"
![screen shot 2014-05-12 at 3 37 00 pm](https://cloud.githubusercontent.com/assets/1283394/2944919/f0576342-d9da-11e3-98af-4c650cec30ec.png)

Whats easier:

A: breaking existing fonts into parts and load into metapolator
B: loading original fonts and tagging parts inside metapolator

?

[2014-05-12 14:27] #103 closed, assigned to simonegli

[2014-05-20 10:58] javburg opened #111 "http://beta.metapolator.com login gives internal server error"
Hi,
I'm busy installing Metapolator, but I wanted to check out the beta so long.
I keep on getting an internal server error response after I try to log in.
Must I try to run this from a specific browser? I'm currently using Safari.
Thanks,

[2014-05-20 12:22] javburg opened #112 "Fontforge HEAD install issues - Failed to execute: ./autogen.sh"
Hi,
I saw that vernnobile and Dave also had issues with this and I'm wondering if you have found a way to resolve this?
Here is the response I get when I try to install fontforge:

==> Cloning https://github.com/fontforge/fontforge.git
Updating /Library/Caches/Homebrew/fontforge--git
==> ./autogen.sh
Failed to execute: ./autogen.sh

[2014-05-20 14:31] davelab6 opened #113 "How to run v1 in Docker?"
@impallari writes,
- Instaled Ubuntu in a VirtualBox .... ok
- Instaled Docker .... ok
- Download Metapolator .... ok
- Run Metapolator ..... doesn't work

[code]

What to do next?

[2014-05-20 16:35] #107 closed, assigned to nobody

[2014-05-20 16:36] #20 closed, assigned to Troush

[2014-05-20 16:38] #48 closed, assigned to Troush

[2014-05-20 16:38] #63 closed, assigned to Troush

[2014-05-20 16:38] #80 closed, assigned to Troush

[2014-05-20 16:38] #85 closed, assigned to Troush

[2014-05-20 16:38] #95 closed, assigned to Troush

[2014-05-20 20:34] #112 closed, assigned to nobody

[2014-05-20 20:35] #111 closed, assigned to nobody

[2014-05-23 15:12] simonegli opened #114 "pretension posttension"
![screen shot 2014-05-23 at 4 58 38 pm](https://cloud.githubusercontent.com/assets/1283394/3068268/380cd50a-e28c-11e3-9c26-b9532ef38759.png)

Using a pretension and posttension macro, we can now replicate the original font with all its controllpoints without tagging anything and using tension parameter to manipulate.
With this we don't need to digg deeper into the hobby spline calculation for now.

[2014-05-28 17:08] davelab6 opened #115 "Enhance command line tools for use in Batch Commander"
As per https://plus.google.com/u/0/106986742007479864005/posts/cb8Sxo1WS7r it would be great to have a `ufo2mf` and a `mf2otf` command line tool that can plug into Batch Commander

[2014-05-30 11:19] davelab6 opened #116 "JSBin style 'view source'"
Logging this here for 'someday maybe' :)

I had an idea that there could be a 'nerd' mode (as see in metaflop) which allows the user to 'view source' into the various formats that a glyph passes through in metapolator. My initial idea is a jsbin.com style view of the stack, from UFO and CPS to MF to rendered result..

![myy](https://cloud.githubusercontent.com/assets/261579/3129875/1036bfea-e7ec-1

[2014-05-30 16:03] #76 closed, assigned to davelab6

[2014-05-31 16:44] #75 closed, assigned to vitalyvolkov

[2014-05-31 16:45] #78 closed, assigned to nobody

[2014-06-16 23:13] #96 closed, assigned to simonegli

[2014-06-16 23:13] #92 closed, assigned to nobody

[2014-07-18 17:24] kennethormandy opened #117 "Use semantic versioning?"
Hey, this project looks really promising, I’m looking forward to keeping tabs on it.

I happened to see you tagged the first version `v1`, so I just thought I’d open this issue. If you already know about [SemVer](http://semver.org/) so feel free to ignore this issue in that case, but if not I think it would be really helpful to have the project tagged that way. Either way, thanks for great work so

[2014-07-22 15:41] #117 closed, assigned to nobody

[2014-07-26 22:25] davelab6 opened #118 "Add git pre-commit hook for automated coding style verification"
Prototypo is using automated coding style verification to the project ([#161](https://github.com/byte-foundry/prototypo/issues/161)) via https://github.com/sindresorhus/gulp-jscs and that's a good idea :)

Lasse already configured jshint to agree with his coding style
https://github.com/metapolator/metapolator/blob/master/.jshintrc
He said,

[2014-07-28 16:19] #43 closed, assigned to nobody

[2014-07-28 16:19] #45 closed, assigned to nobody

[2014-07-28 16:19] #49 closed, assigned to nobody

[2014-07-28 16:19] #50 closed, assigned to nobody

[2014-07-28 16:19] #51 closed, assigned to nobody

[2014-07-28 16:19] #52 closed, assigned to nobody

[2014-07-28 16:19] #61 closed, assigned to nobody

[2014-07-28 16:19] #64 closed, assigned to nobody

[2014-07-28 16:19] #68 closed, assigned to nobody

[2014-07-28 16:19] #69 closed, assigned to nobody

[2014-07-28 16:19] #74 closed, assigned to nobody

[2014-07-28 16:19] #79 closed, assigned to nobody

[2014-07-28 16:19] #81 closed, assigned to nobody

[2014-07-28 16:19] #83 closed, assigned to nobody

[2014-07-28 16:19] #86 closed, assigned to nobody

[2014-07-28 16:19] #87 closed, assigned to nobody

[2014-07-28 16:19] #88 closed, assigned to nobody

[2014-07-28 16:19] #89 closed, assigned to nobody

[2014-07-28 16:19] #93 closed, assigned to nobody

[2014-07-28 16:19] #102 closed, assigned to nobody

[2014-07-28 16:19] #104 closed, assigned to nobody

[2014-07-28 16:19] #105 closed, assigned to nobody

[2014-07-28 16:19] #106 closed, assigned to nobody

[2014-07-28 16:19] #108 closed, assigned to nobody

[2014-07-28 16:19] #109 closed, assigned to nobody

[2014-07-28 16:19] #110 closed, assigned to nobody

[2014-07-28 16:19] #113 closed, assigned to nobody

[2014-07-28 16:19] #114 closed, assigned to nobody

[2014-07-28 16:19] #115 closed, assigned to nobody

[2014-07-28 16:19] #116 closed, assigned to nobody

[2014-07-28 16:19] #10 closed, assigned to nobody

[2014-07-28 16:19] #13 closed, assigned to nobody

[2014-07-28 16:19] #14 closed, assigned to nobody

[2014-07-28 16:19] #15 closed, assigned to nobody

[2014-07-28 16:19] #17 closed, assigned to nobody

[2014-07-28 16:19] #18 closed, assigned to nobody

[2014-07-28 16:19] #21 closed, assigned to nobody

[2014-07-28 16:19] #24 closed, assigned to nobody

[2014-07-28 16:19] #34 closed, assigned to nobody

[2014-07-28 16:19] #38 closed, assigned to nobody

[2014-07-28 16:19] #39 closed, assigned to nobody

[2014-07-28 16:19] #40 closed, assigned to nobody

[2014-07-28 16:24] davelab6 opened #119 "Join the project, tell us what's missing from our docs"
@monkeyiq please join the project by
- [x] joining the G+
- [x] reading the entire wiki
- [x] picking an issue in the roadmap Google Doc and putting your name to it
- [x] discuss with @graphicore (and team)
- [x] post a github issue and hack away :)
- [x] where the developer documentation is short, post your requests for more information as new issues (or quick comments here or on your issue) or f

[2014-07-28 16:25] davelab6 opened #120 "Join the project, tell us what's missing from our docs"
@rrthomas please join the project by
- [x] joining the G+
- [x] reading the entire wiki
- [x] picking an issue in the roadmap Google Doc and putting your name to it
- [x] start an issue for it

Then  work on it, and where the developer documentation is short, post your requests for more information as new issues (or quick comments here), or figure it out and update the documentation directly - you

[2014-07-28 16:45] davelab6 opened #121 "Join the project, tell us what's missing from our docs"
@frank-trampe please join the project by
- [ ] joining the G+
- [ ] reading the entire wiki
- [ ] picking an issue in the roadmap Google Doc and putting your name to it
- [ ] start an issue for it

Then  work on it, and where the developer documentation is short, post your requests for more information as new issues (or quick comments here), or figure it out and update the documentation directly -

[2014-07-29 10:19] rrthomas opened #122 "Metapolator Wiki coding style question"
The coding style page contains the following comment:

[code]

Why do we not want to invoke the constructor?

[2014-07-29 11:52] #122 closed, assigned to nobody

[2014-07-30 17:44] rrthomas opened #124 "Automatic dev environment construction"
@davelab6 said we don't need Docker because metapolator is now 100% JS, but I think he really meant "100% node package manager". As far as I can see, one big reason to have Docker, because it fetches a complete system, is obviated by the fact that npm, running in local mode, also fetches "everything" needed into the dev tree, thus building a nice insulated dev environment.

However, "everything" i

[2014-07-30 18:03] rrthomas opened #125 "Versioning in package.json"
Is there a reason why all the versions in package.json are to three places (x.y.z)? Surely most of them follow semantic versioning, and hence should be only to two places?

[2014-07-30 19:15] #125 closed, assigned to nobody

[2014-07-31 18:03] rrthomas opened #126 "Add crude interpolation"
As per item 2 iii) of the Roadmap for August: https://docs.google.com/a/sc3d.org/document/d/15zZFMTjcUlW0_fN37_cE5dinnnazjbGMrJHNArhFCUo/edit#

Import two masters, interpolate at 0, 0.25, 0.5, 0.75, 1 and export the 5 resultant new masters (hopefully, only 3 are really new!)

[2014-07-31 21:37] rrthomas opened #127 "Add tests for export"
Add tests for export and wire the Intern tests into Travis.

[2014-07-31 21:45] rrthomas opened #128 "Export loses glyphs"
Using one of the files, I get information loss on each round-trip through metapolator import/export. The original Font Regular "better" UFO tree looks like this:

[code]

After one import/export, it looks like this:

[code]

After importing and exporting this, I get:

[code]

Note that the final font has no glyph data. This is not a surprise: the file `font-exported.ufo/glyphs/contents.plist` cont

[2014-07-31 21:52] #120 closed, assigned to rrthomas

[2014-08-07 21:24] wraybowling opened #130 "env: nodejs: No such file or directory"
I attempted to install Metapolator (finally!) using Mac OS 10.9.4

npm had a warning while installing but no errors.

As of right now, out of the box, I just get the error "env: nodejs: No such file or directory" when I run
$ metapolator

[2014-08-07 21:59] wraybowling opened #131 "Missing arguments are confusingly reported (arguments are assigned from right to left)"
$ metapolator import ~/Fonts/FirstFont.ufo
## An error occured when executing the command "import":
## / and \ are not allowed in a Master name: /Users/wbowling/Fonts/FirstFont.ufo

whatever that means...

[2014-08-07 22:06] wraybowling opened #133 "Having to `cd` into UFO in order to import is not intuitive"
[code]

[2014-08-07 22:09] #130 closed, assigned to nobody

[2014-08-07 23:06] rrthomas opened #134 "Importing from a non-existent UFO succeeds"
I noticed when a test with a typo in a filename unexpectedly passed. I'll add a passing test with a note that it should fail!

[2014-08-07 23:49] rrthomas opened #135 "Better argument parser"
Issue #131, the fact that arguments can't currently be optional (I want this for the new "precision" argument for export, so it doesn't break backwards compatibility, or make users specify it), and the existence of many argument-parsing libraries in npm (a combination of optparse, with its familiar interface and ability to check positional arguments, and helmsman to handle the sub-commands, would

[2014-08-08 22:44] #127 closed, assigned to nobody

[2014-08-22 18:38] graphicore opened #139 "Fix recording of `test.sh` results when possible"
Because I did what we discussed here: graphicore/ufoJS#8
and I did try to get other results than "Result 0" from it, but I failed.

Also, I made the precision agument of the export command an option.

Question: Could this test case be integrated into our testsuite? It would be nice to have all tests called from one place, but this it is written as a bash script.

[2014-09-04 10:21] rrthomas opened #140 "Get TernJS working"
[Tern](http://ternjs.net/) is a Javascript code analysis engine aimed at editor support (navigation, autocompletion etc.). It has plugins for all the major editors, old and new, from Vim to Brackets. It supports requireJS: http://ternjs.net/doc/manual.html#plugin_requirejs

I have managed to get it partially working, but it's not finding Metapolator-defined identifiers yet. As far as I can tell, i

[2014-09-06 12:22] rrthomas opened #142 "Document use of gulp (and bower)"
I just wanted to add a dependency (commander) that has no bower module, so I guessed I needed to convert it to requirejs form using gulp. I looked up gulp, but the documented form of a gulpfile doesn't seem to correspond to our `gulpfile.js`, and trying to list the tasks using the `gulp` program gives nothing useful. Rather, it seems our `gulpfile.js` is really a script: running it using: `node gu

[2014-09-08 17:17] rrthomas opened #143 "Rename default.cps"
It's not really a default, it's a conversion stage from skeleton to output format.

Also, it should be "applied" after the master-name.cps "layer", not before. (Because of interpolation: it must be applied after the interpolation stage, and the order of stages when not interpolating should be the same as when interpolating.)

[2014-09-09 04:19] monkeyiq opened #144 "If an import fails should partial import be left or removed?"
I tried importing DroidSans as a master and it failed at the "at" glyph with "GlifLib Error: line can not have an offcurve.". Afterwards I noticed that I had a glyphs.skeleton.DroidSans/ and wondered if we should retain the partial import or remove it on failure. It seems that if we are planning to retain it, maybe the import should power on and import as many glyphs from the font as possible inst

[2014-09-09 04:35] monkeyiq opened #145 "Preparing UFO files to become masters in metapolator"
I notice the text on https://github.com/metapolator/metapolator/wiki/installation specifically:

[code]

For a wider user base it might be useful to give an outline of the procedure for that in the user documentation. For example, if a user has been happily using fontforge to create a font and they want to bring it over into metapolator if there are python scripts that can help the export to follo

[2014-09-09 05:12] monkeyiq opened #146 "Dont append .ufo during export if filename already ends in .ufo"
Maybe something like the below shouldn't create /tmp/ds2.ufo.ufo but just export to /tmp/ds2.ufo instead.

[code]

[2014-09-10 08:02] #128 closed, assigned to rrthomas

[2014-09-10 09:17] #131 closed, assigned to nobody

[2014-09-10 09:18] #135 closed, assigned to nobody

[2014-09-10 14:19] #143 closed, assigned to nobody

[2014-09-10 14:37] #146 closed, assigned to nobody

[2014-09-10 17:09] #134 closed, assigned to nobody

[2014-09-11 10:24] rrthomas opened #153 "Ability to run CLI in the browser"
For debugging this would be very handy.

[2014-09-13 09:14] monkeyiq opened #154 "Bring examples into main repo, extend things"
Take a look at the examples at https://github.com/metapolator/examples and bring them into the main metapolator repository under /examples. Perhaps extending and documenting them.

Add some new examples to the /examples directory to help expand the resources for seeing how CPS works on UFO data.

[2014-09-13 09:17] monkeyiq opened #155 "Profile code to give insight into where performance can be improved."
Profile 3 core activities
- Import a UFO
- Export a UFO
- Start redpill UI and display for first time

Document the findings here so that performance bottlenecks are known and might be improved in future issues.

[2014-09-13 09:26] #153 closed, assigned to nobody

[2014-09-14 10:39] jeroenbreen opened #156 "Update the wiki with clear explanation of the Model < > View structure"
According to my growing - but still incomplete - understanding of the project, I have been thinking about the model structure:

http://metapolator.com/slider/js/structure.js

some considerations:
• (set of) parameters on every level
• can a master exist in multiple sequences? (if so, think masters and sequences should be on same level)
• not sure if I got the design space completely covered with t

[2014-09-16 14:48] #142 closed, assigned to graphicore

[2014-09-17 11:58] monkeyiq opened #169 "New commands: Clone, Rename, CPS "Apply" for developer testing"
Looking at the code the application of CPS appears to happen in ExportController.export (well, a function called from there but). I am wondering if it would be useful for testing purposes to have some command line additions to allow the following workflow:
- [ ] clone an existing master
- [ ] renaming the clone eg foo -> foo.clone
- [ ] apply a specific CPS either in addition to or in place of the

[2014-09-18 08:37] davelab6 opened #170 "Support more interpolating splines"
There are other kinds of interpolating splines which we could use.
- [ ] https://github.com/fontforge/libspiro
- [ ] https://github.com/klaavo/scalingEditTool
- [ ] http://pomax.github.io/bezierjs/

[2014-09-19 10:50] davelab6 opened #173 "Comments on slider page"
Comments on http://metapolator.com/slider/ :)
- [x] The menu buttons and items should be `whitespace: nowrap` so instead of

![screen shot 2014-09-19 at 12 50 11](https://cloud.githubusercontent.com/assets/261579/4334206/e5b2ed32-3fea-11e4-8199-94d7765bd6da.png)

or

![screen shot 2014-09-19 at 12 58 01](https://cloud.githubusercontent.com/assets/261579/4334254/e97b4c92-3feb-11e4-917e-d42a5afb63dc

[2014-09-19 11:28] rrthomas opened #175 "Generate some documentation from actual runs"
The wiki page "Installation" contains the results of running the metapolator command. I've already had to rewrite this once; it should be a job for a machine: the real "source" should be a literate shell script that outputs its comments as Wiki markup and its code as a typescript of a shell session. (The same approach should also be applicable to the GUI.)

[2014-09-19 20:00] #154 closed, assigned to monkeyiq

[2014-09-20 22:11] #173 closed, assigned to jeroenbreen

[2014-09-21 20:00] rrthomas opened #180 "Make `.run_tests` visible?"
Is there a particular reason to make this script invisible?

[2014-09-23 21:34] #180 closed, assigned to nobody

[2014-09-25 00:44] davelab6 opened #187 "Remind Chrome users to enable js harmony"
Following https://plus.google.com/u/0/+LasseFister/posts/j3a6k1KZyUg

To use Metapolator, Chrome users need to go to chrome://flags/#enable-javascript-harmony and enable "Enable Experimental JavaScript" then restart your browser﻿.

If possible, we should detect Chrome and fire an `alert()` or similar to tell them this the first time they load the page.

[2014-09-27 11:27] rrthomas opened #189 "Make an npm package of metapolator"
Given recent discussion about deployment, and in particular, the desire to deploy metapolator in different ways, it seems sensible to address packaging. Lasse has a pull request for static serving; why not also package & publish metapolator as an npm module? This will help us deploy in more ways more easily, and kill off current hacks like needing to add a checkout directory manually to `PATH`.

W

[2014-10-02 09:09] rrthomas opened #195 "Location of executables"
Recently we've added two: `export-static-red-pill`, and `es6to5`. The former is in `app/commands`, and the latter at the top level. Neither is listed in `package.json`. Ought we to be taking a more disciplined approach?

[2014-10-03 11:17] #126 closed, assigned to rrthomas

[2014-10-03 11:18] #119 closed, assigned to monkeyiq

[2014-10-03 23:04] rrthomas opened #201 "Add bash completion to the Vagrant box"
Now we have bash completion (PR #200), add it to the Vagrant box, so it's available automatically.

[2014-10-04 12:00] #201 closed, assigned to nobody

[2014-10-04 12:20] rrthomas opened #203 "Use of `console.log` vs `console.error`"
We should use `console.error` for warnings and errors so that the standard output of metapolator commands can be captured and re-used, e.g. CPS output to CPS files.

[2014-10-04 16:57] #203 closed, assigned to nobody

[2014-10-05 23:27] rrthomas opened #208 "Allow red-pill port to be specified or randomly generated"
Currently I find myself having to kill red-pill processes unnecessarily just because I want to start another. Being able to specify a port would be nice; being able to get red-pill to randomly choose one (and check that it is free!) would be even better.

[2014-10-06 00:07] davelab6 opened #209 "Show GLIF interpolation is 1:1 between Metapolator and MutatorMath"
The [roadmap says](https://docs.google.com/document/d/1VJb19SPiW9N_hrC_xzNe9rGzRSJ2lwNgrG2U7BnuBgw/edit#heading=h.w39ri8d6hp4g),

@rrthomas is on this, and I suggested https://github.com/erinmclaughlin/Khula as this has a [spe file](https://github.com/erinmclaughlin/Khula/blob/master/Khula_superpolate.sp3) and master UFOs, plus instances to compare.

Reuben said,

I think that's fine for this expe

[2014-10-06 14:15] #208 closed, assigned to nobody

[2014-10-08 10:23] simonegli opened #213 "vagrant up fails on os x"
![screen shot 2014-10-08 at 12 22 49](https://cloud.githubusercontent.com/assets/1283394/4557581/28b4eccc-4ed5-11e4-9a49-488dabeca2fd.png)

[2014-10-10 07:48] simonegli opened #219 "metapolator export fails"
Simon-Eglis-MacBook-Pro:demo simonegli$ metapolator export interpolated sean4.ufo
exporting ...
exporting a

/Users/simonegli/Documents/GIT/metapolator/app/lib/obtainJS/lib/obtain.js:657
                throw e;
                      ^
ReferenceError: KeyError is not defined
    at OperatorToken.<anonymous> (/Users/simonegli/Documents/GIT/metapolator/app/lib/models/CPS/dataTypes/formulae/formulaEn

[2014-10-10 08:00] #213 closed, assigned to rrthomas

[2014-10-10 13:35] #219 closed, assigned to graphicore

[2014-10-12 20:35] rrthomas opened #223 "Improve command-line help"
A user points out that `metapolator foo -h` does not provide the one-line summary help of the "foo" command; only `metapolator help` does that. Not ideal.

[2014-10-13 00:28] #133 closed, assigned to rrthomas

[2014-10-15 23:41] #175 closed, assigned to rrthomas

[2014-10-17 14:44] #223 closed, assigned to nobody

[2014-10-22 03:12] monkeyiq opened #250 "Fix interpolation"
Hi,
  I'm having an issue exporting an instance that is 50% between two masters. This is using the script at https://github.com/metapolator/mutatormathtools/blob/master/metapolator-interpolate.js#L89 and the specific error is shown below. Any hints are greatly appreciated.

[code]

[2014-10-22 23:21] rrthomas opened #252 "Use ES6 modules"
Currently we use 3 different tools (Bower, Gulp, RequireJS) just to make all the modules we need work both in node and in the browser.

ES6 modules should solve this. Eventually. But all our module headers will have to be rewritten, and all 3rd-party modules will either have to come in ES6 form or, more likely, in some cases be converted for ES6 use.

[2014-10-24 16:39] graphicore opened #255 "Add --glyphs option to 'metapolator export' analogous to the option in the import command"
https://github.com/metapolator/metapolator/blob/master/bin/metapolator-export

[2014-10-24 18:28] graphicore opened #256 "chrome and chromium in the current versions 38+ don't support Proxies with chrome://flags/#enable-javascript-harmony anymore"
I have them working in a chromium Version 37.0.2062.120 Ubuntu 14.04 (281580) (64-bit)
But my chrome Version 38.0.2125.104 (64-bit) doesn't support them anymore. Also, I have seen the same issue on a Mac version of chromium with a version of 38 something in a screenshared session with @simonegli.

What to do?

[2014-10-27 14:42] rrthomas opened #257 "pathExists considered harmful"
As @graphicore and I just realised while reviewing a PR, `pathExists` is really a synonym for `addRaceCondition`, as pretty much every check we do for a path occurs just before a file operation: but in between the check and the operation the file could have been altered, removed, or turned into a pumpkin. So the check is useless: we should just do the file operation and catch any errors.

This nee

[2014-10-28 15:06] simonegli opened #263 "Rounding errors?"
I'm compensating the strokes which "grows" outside the vertical metrics. My calculation seems correct though I get 1 unit offest. Could this be a result of bad floating points?

This is my base font scaled 1.4 horizontally:

![screen shot 2014-10-28 at 15 59 11](https://cloud.githubusercontent.com/assets/1283394/4810450/65ee8236-5eb3-11e4-868b-6d723f91b2d1.png)

When changing weightFactor to 4.5 w

[2014-10-31 09:03] #263 closed, assigned to graphicore

[2014-10-31 09:59] simonegli opened #271 "Point and contour index in RedPill"
a visual point index indicator to locate the points and contours in cps:

![screen shot 2014-10-31 at 11 02 31](https://cloud.githubusercontent.com/assets/1283394/4858959/12b0d7a2-60e5-11e4-9d29-06bc96eb928b.png)

[2014-11-05 17:52] #256 closed, assigned to nobody

[2014-11-06 13:27] #189 closed, assigned to rrthomas

[2014-11-06 15:29] #124 closed, assigned to rrthomas

[2014-11-06 15:30] #257 closed, assigned to nobody

[2014-11-06 15:31] #195 closed, assigned to rrthomas

[2014-11-06 21:38] rrthomas opened #289 "Publish Node module on npmjs.org (and reduce non-JS deps?)"
If only Node[0] were required to install Metapolator, this would be a much lighter-weight way for users to install. Even bleeding-edge users could use this method (installing directly from github).

It would be nice to publish on npmjs.org for easier installation (no need for git) and use in other projects.

However, users currently need at least Python and a C compiler: the latter doesn't come as

[2014-11-06 22:28] rrthomas opened #290 "Allow passing of structured information via Error"
See #270.

[2014-11-07 00:18] rrthomas opened #291 "Reorganise MetapolatorProject"
The `MetapolatorProject` module is a bit of a mess, a dumping-ground for all the bits of global-state functionality we need for the command-line and red-pill. It should be reorganised, with design being the first step.

[2014-11-10 16:19] rrthomas opened #294 "Make parser asynchronous"
With @import, the parser is now re-entrant, and has obvious blocking potential (it can need to read a file).

In any case, it can run for quite a long time, so it would be good to make it async.

[2014-11-11 21:21] graphicore opened #295 "How to handle fontinfo.plist"
This issue is blocking #293 I open it as a place to discuss it.

The roadmap document marks this task as *[postponed]*:

rephrased:
Do we import only one central `fontinfo.plist` file for a metapolator project or do we import every  `fontinfo.plist` file of each each imported UFO?

Arguments based on the specs: http://unifiedfontobject.org/versions/ufo3/fontinfo.html are very welcome!

This has al

[2014-11-12 00:55] rrthomas opened #296 "Use memoize for more caches"
Currently it's only used once, but we have quite a few caches.

[2014-11-12 14:21] graphicore opened #297 "remove the-dirty-branch from the repository"
I got an email from travis-ci that my `the-dirty-branch` passed the build. Funny because I did not push it to this repository. I used that branch as a way to incorporate some changes faster, so that I could work with them. The interesting changes of that branch are now in master, also it was never meant to be in this repository. @simonegli I guess that  you pushed it to here (it wasn't me). Can we

[2014-11-13 11:19] monkeyiq opened #298 "UFO: Support for components"
Add support for ordinary UFO components. Includes figuring out an elegant solution for rendering glyphs recursively.

[2014-11-20 00:35] rrthomas opened #305 "Replace in-page title with help"
See #303. @graphicore says:

We should rather have a help menu. I can think of different helpful locations:

    the g+ community
    maybe the irc channel (we should remove the password)
    the issues page on github (so people can report bugs directly)
    the http://metapolator.com page as a target of "about"
    the wiki (but we don't really have enough user-documentation )

I would add that a

[2014-11-20 00:40] rrthomas opened #306 "Add a generic recursion detector"
Like `memoize`, but for recursion detection. I imagine it working like this:

`recurseGuard(function, argPosList, exception)`

where `function` is the function to wrap, `argPosList` is a list of argument positions that, taken together, must not repeat in nested calls, and `exception` is the exception object to throw if they do.

[2014-11-25 12:14] #297 closed, assigned to simonegli

[2014-12-03 01:23] monkeyiq opened #314 "Handle advanceWidth & expose it though CPS for glyphs"
The primary first task is to add advanceWidth and advanceWidth as cps parameters of glyph.

---

The following is about how the contours of the glyphs and the advanceWidth work together with respect to the traditional leftBearing and rightBearing settings.

The expected leftBearing and rightBearing settings are implicit given the contours and advanceWidth.

The leftBearing is implicit in the posit

[2014-12-04 01:49] davelab6 opened #315 "Cadence-based spacing for Metapolator font projects?"
I'm very keen to see improved ways for designers to space Metapolator format fonts. I believe @lettermodeller 's theories are important for a good solution to this for Latin, and the new Metapolator font format (with its skeleton lines) complements these theories.

Another spacing tool is @hodefoting 's https://github.com/hodefoting/kernagic - but it is undocumented C/GTK code and @frank-trampe wa

[2014-12-04 08:00] #298 closed, assigned to monkeyiq

[2014-12-11 08:08] graphicore opened #322 "Parameter naming conventions"
On 2015-03-13 Lasse noted for this issue,

We should come up with naming conventions for different scenarios:
- what naming scheme is future proof for `custom user parameters` (prefix with a single underscore should always be safe)
- How will we name future `registered parameters` while avoiding clashes with then in the wild existing custom user paramters (we could register a bunch of names as bei

[2014-12-11 08:10] graphicore opened #323 "Language changes"
On 2015-03-13 Lasse noted for this issue,

There are some changes to CPS/MOM that I want to propose.
All will require existing metapolator projects to change. Thus it's probably much better to do it earlier than later, so that less projects will have to change.

**naming/renaming `penstroke` child elements**
This was initially discussed here: https://github.com/graphicore/metapolator/commit/f7978c

[2014-12-12 11:31] #314 closed, assigned to monkeyiq

[2014-12-18 06:06] simonegli opened #325 "Need for speed"
When I posted the timing on g+ and counted approx. 1 sec. per glyph it was only the case when I was exporting "real" masters. As this time I'm exporting instances (metapolated or interpolated), 1 glyph takes close to 1 minute!! Of course, an instance is made out of a calculation of multiple masters, and in my case made out of 4 though it seems the time decay is not behaving linear (as otherwise it

[2015-01-09 13:31] graphicore commented on #323
contours and there children are now `contour > p`, I changed and merged #321

[2015-01-22 23:24] davelab6 commented on #325
http://docs.fabfile.org looks like a very lightweight way to farm things out to sets of servers

[2015-01-30 14:52] davelab6 commented on #325
@graphicore great to see it running faster on your machine... when will these changes land in master so others can use them? :)

[2015-01-30 14:59] davelab6 commented on #325
@dasht  you'll be pleased to know that @graphicore did work on this in the last 3 weeks, and estimates things run 10x-20x faster than in before. His ideas for improving, and summary of progress to date, is as follows:

[2015-01-30 15:30] graphicore commented on #325
@davelab6 here is the PR: https://github.com/metapolator/metapolator/pull/327
I'll have a second look at it in a few days, if I think I need to fix some commit messages and will also squash some commits together

[2015-01-30 16:08] graphicore commented on #323
`@dictionary` will soon be history. In the current Pull Request #327 it is still parsed, but it is merged with the other "normal" rules and a deprecation warning is issued. When this is stable I will remove the now dead code and `@dictionary` will become unrecognized.

# Here is another proposal
we agreed to do: `penstroke > node > lpoint|cpoint|rpoint`
but I'd prefer: `penstroke > node > lpoint|r

[2015-01-30 16:16] davelab6 commented on #323
Approval! However I look at the paperjs issue about merging the font and
glyph objects from pluminjs into paperjs that discusses naming and wonder
if that should influence us
On Jan 30, 2015 11:08 AM, "Lasse Fister" <notifications@github.com> wrote:

[2015-01-30 16:28] graphicore commented on #323
@davelab6 do you have a link?

[2015-01-30 16:55] davelab6 commented on #323
https://github.com/paperjs/paper.js/issues/561

[2015-02-01 06:04] davelab6 opened #328 "Red Pill Down"
http://metapolator.com/red-pill-demo/ is down :(

[2015-02-03 21:50] davelab6 opened #329 "Document command line with mkcast"
https://github.com/KeyboardFire/mkcast is good for documentation :)

[2015-02-09 15:37] graphicore commented on #328
I did not see this bug until just a second ago :-( I will take care of it.

[2015-02-09 15:43] davelab6 commented on #328
No, I realised it was just for Chrome - was it ever working in Chrome? It works in Firefox

[2015-02-09 15:43] davelab6 commented on #328
I made https://github.com/metapolator/metapolator/pull/331 regarding this

[2015-02-09 16:02] graphicore commented on #328
In order to run Chrome needs to be started like so: `chrome --js-flags="--harmony --harmony_proxies"`

Also, a newer version of the demo would be faster.

[2015-02-09 16:35] davelab6 commented on #328
I'd love to see you push the latest metapolator code to the demo :) I'll update the pr with that note

[2015-02-09 16:45] #328 closed

[2015-02-09 16:46] davelab6 commented on #187
In https://github.com/metapolator/metapolator/pull/331 Lasse said,

[2015-02-09 17:11] graphicore opened #332 "Add an initial API to the Model for interaction with the GUI"
This issue discusses the initial API to interface with the model that is going to be implemented in Metapolator.

The work that has to be done here consists of 2 major topics:

* finer controlled cache invalidation
* an API to interface with the model

The cache control is currently in the making. A list of dependencies is stored for each cached CPS parameter value. This enables us to prune just t

[2015-02-09 17:35] davelab6 commented on #332
What is the current vocabulary of cps keys?

[2015-02-09 17:46] graphicore commented on #332
For each point the drawing code expects to find a value for `in` `on` and `out`. These must be Vectors. The duty of the CPS is to define these.

We have defined the types of some other names here: https://github.com/metapolator/metapolator/blob/master/app/lib/project/parameters/registry.js

These are expected by `https://github.com/metapolator/project_zero/blob/master/project_zero.mp/data/com.meta

[2015-02-09 18:59] davelab6 commented on #332
Those look sort of like what I meant. However, I'm not seeing what Peter's
`width` and `weight` parameters map to...

[2015-02-09 19:08] graphicore commented on #332
You would define them in some custom CPS yourself and include that. In project zero, `weight` is happening in https://github.com/metapolator/project_zero/blob/master/project_zero.mp/data/com.metapolator/cps/lib/weight.cps by defining `weightFactor` and `weightSummand`

`width` is happening in https://github.com/metapolator/project_zero/blob/master/project_zero.mp/data/com.metapolator/cps/lib/scale

[2015-02-09 20:01] graphicore commented on #187
In #333 I did:

![screenshot - 09 02 2015 - 21 01 11](https://cloud.githubusercontent.com/assets/393132/6114495/d8173b7c-b09e-11e4-9642-ec59a3b0e70c.png)

[2015-02-09 20:15] graphicore commented on #328
the latest demo is in #334

[2015-02-09 21:05] #187 closed

[2015-02-12 14:39] davelab6 opened #335 "gh-pages: /home/ tasks"
- [x] JB: add a section for fonts made with metapolator
- [x] DC: replace the lorum ipsum
- [x] JB: change colors to grey/red to fit the logo
- [x] JB: bullets via css content after?
- [x] JB: Installation section
- [x] DC: Screenshots section content
- [x] JB: Add opentype.js interpolator from index_old.html
- [x] DC: ask for review on history page
- [x] DC: move the opentype.js interpolator up t

[2015-02-18 00:28] #325 closed

[2015-02-18 00:29] davelab6 commented on #323
PR 327 is merged, can this be closed?

[2015-02-18 00:39] dasht commented on #325
I missed that message when it first went by.  Excellent news!

[2015-02-18 00:51] graphicore commented on #323
no, there are still some things open

[2015-02-18 04:50] davelab6 commented on #296
@graphicore can this be closed?

[2015-02-18 04:51] davelab6 commented on #295
@graphicore can this be closed? 293 is merged

[2015-02-18 04:51] davelab6 commented on #294
@graphicore is this done?

[2015-02-18 04:52] davelab6 commented on #209
@monkeyiq what was the result of this? :)

[2015-02-18 04:53] davelab6 commented on #144
@graphicore can this be closed?

[2015-02-18 04:54] davelab6 commented on #140
@graphicore is this working?

[2015-02-18 04:55] davelab6 commented on #139
Note 0.12 came out 11 days ago

[2015-02-18 04:55] #121 closed

[2015-02-18 17:39] davelab6 opened #337 "Implement a specimen view"
@guiguru has written 2 pages on the wiki detailing the design:

* https://github.com/metapolator/metapolator/wiki/elements-of-design#working-with-masters-and-glyphs-in-context
* https://github.com/metapolator/metapolator/wiki/working-UI-demo#specimen--glyph-editor-panel

To start, @graphicore had some good ideas about how a JS API could return `<use>` elements to use in this, explained in http://y

[2015-02-19 02:25] davelab6 commented on #337
@jeroenbreen wrote,

I think @graphicore has already taken care of this with the CPS engine caching system.

RubberBand is a term used in Qt, its also called "marquee" selection in eg Adobe apps:

![rectangle-marquee-tool](https://cloud.githubusercontent.com/assets/261579/6260841/c0be1b2e-b7b2-11e4-953d-c39e9e43767c.jpg)

Sort by Paragraph seems essential to me - "preview your font on editable par

[2015-02-19 03:03] davelab6 commented on #250
@graphicore bug fixed? :)

[2015-02-19 03:04] davelab6 commented on #169
@graphicore are Clone, Rename, CPS "Apply" commands implemented?

[2015-02-19 03:07] davelab6 commented on #156
@graphicore does this issue belong as part of the the API work?

[2015-02-19 08:38] jeroenbreen commented on #337
Yeah that was something I wasn't sure about how this was designed. But from my understanding, whenever you are in the NE area, the fontsize should grow @guiguru  if you have pull out the rope at a certain length and stop at that length, will the fontsize keep growing over time? (so is time a factor? Now its not)

That is how it is designed by Peter: NE is + SW is -. Or are your talking specificall

[2015-02-19 09:51] guiguru commented on #337
@jeroenbreen wrote,

yes.

the parameters panel itself still needs a (simplified for this UI demo) design from me.

only the glyph A of that master.

yes, as it shows in the spec.

in that case **all** masters that are highlighted in the master list (top right of that view) are the ones that are selected for parameter view and modification. yes, we support two levels for now: Master and Glyph. As

[2015-02-19 10:48] jeroenbreen commented on #337
Not sure if we are talking about the same 'visible'. What I mean is - see screenshot: "The quick brown fox jumps" is visible, "over the" is half visible (ergo visible) and "lazy dog" is behind the scroll, so invisible (at this time).

![screen shot 2015-02-19 at 11 33 07](https://cloud.githubusercontent.com/assets/6692653/6265146/29a3cbc0-b82b-11e4-9e3b-691afaf424db.png)

[2015-02-19 11:08] guiguru commented on #337
I agree

OK, I can appreciate now how tricky, subtle, and a pain in the neck to implement this is.

as guidance I can say:

1. the fact that a glyph is not within the viewport should give us an apparent speed benefit;
* when the view is scrolled—and the view can be 10 times longer than the one shown here—the glyphs that become visible should be up-to-date.

it looks to me that that best strategy i

[2015-02-19 11:30] jeroenbreen commented on #337
Well it's not that big of a pain, but just good to know whe are talking about the same now. I just have to build a sort of watch function, registering the size of the div and calculating glyph by glyph whether it's within it or not. And re-watching it after a scroll.

Maybe I am just asking for the priority of this. Because if you are scrolled at the top of the div (which will be most logic user s

[2015-02-19 11:57] guiguru commented on #337
OK, that is good news.

good to bring it up, because you may have noticed that I had not thought about it. it helped me to get clear how to achieve our UI goals.

I am not going to prioritise the top of the specimen when it is long enough to scroll. I would say you use this info (specimen does not scroll, or scrolls-but-at-the-top) to simplify your watch function (use).

for me it is first priorit

[2015-02-19 13:06] graphicore commented on #296
Actually all the cases where the memoize module would have been useful disappeared in my current incarnation of the code. Also, memoize uses ES6 Weakmaps and I had the impression that these are still slower than normal Objects (for looking up keys). So, if we are going to use memoize somewhere, it should be implemented differently, but also the use cases for it melted away.
I think I'll have a sec

[2015-02-19 13:08] graphicore commented on #295
I think so, yes.

[2015-02-19 13:08] #295 closed

[2015-02-19 13:09] graphicore commented on #294
No, but is becoming easier to do so.

[2015-02-19 13:13] graphicore commented on #144
yes, we did this, it was a bit tricky.

[2015-02-19 13:13] #144 closed

[2015-02-19 13:14] graphicore commented on #140
I don't use it. @rrthomas How is the state of tern.js?

[2015-02-19 13:42] graphicore commented on #337
Yes, but the API that reneders the glyphs for the ui will still hve to know wich glyphs to render and which not.

To make the API available from within anguarJS we'll register a service like this:
[code]

To get hold of the API from somwhere in angularJS, it can be dependency injected like any other angular
module. For example:
[code]

[2015-02-19 14:05] graphicore commented on #250
No, not as far as I know. I'd  prefer to implement it in a different way, that's the main reason.

[2015-02-19 14:11] graphicore commented on #169
@davelab6 actually I totally missed this discussion until now. I'd still have to wrap my head around these. However, focusing only on command line tools is probably the wrong direction anyways.

[2015-02-19 14:13] graphicore commented on #156
@davelab6 it's probably a subclass of *write more and better docs*?

[2015-02-19 14:15] rrthomas commented on #140
marijnh/tern#388 is still blocking this (@marijnh reasonably would like a MWE, or someone could try to debug it by working out which bit of metapolator is problematic; alternatively it's possible the problem has gone away, since nearly five months have passed).

[2015-02-19 17:05] davelab6 commented on #169
The cmd line tools are wrappers to api?
On Feb 19, 2015 9:11 AM, "Lasse Fister" <notifications@github.com> wrote:

[2015-02-19 17:31] guiguru commented on #337
today’s clarifications and design decisions have been merged—directly or in an adapted form—with the relevant wiki spec pages.

[2015-02-19 17:37] davelab6 commented on #337
@graphicore and what will it return? <def> elements?

[2015-02-19 18:20] graphicore commented on #337
Most probably svg-elements, at least something that can go into the html DOM as `display: inline-block` maybe we have to do something about the `overflow: visible` issue I mentioned, then it's maybe a `div` or a `span` containing an svg (and potentially a bit more complex).

[2015-02-19 18:28] davelab6 commented on #337
I think a svg def element makes sense for use by svg use tags. With xref
could even be via restful api
On Feb 19, 2015 1:20 PM, "Lasse Fister" <notifications@github.com> wrote:

[2015-02-19 18:49] graphicore commented on #337
The `<defs>` element is where the glyphs are stored, so that is private. The `<use>` element uses xlink to reference and display the glyphs. The API returns something along this line:

[code]

Intuitively, I wouldn't return just the plain `<use>` element because we need to wrap it in an  `<svg>` to apply it to HTML. However, a plain `<use>` element can be arranged if it is helpful. A use element w

[2015-02-19 19:06] graphicore commented on #169
Yeah, that's the ideal, however, the command line demands much less from the model than an application, so, if someones intend is only to make a command line tool, the product is probably not useful for the editor/gui/whatever. You can be very brutal if you are only interested in a command line tool.

It's the same with those f*****g shell based tests, they only serve the half deal. In the future

[2015-02-21 12:41] graphicore commented on #337
the actual API is:
[code]

Also, the glyphRendererAPI will change the width of the returned SVG elements when the glyph width changes. The height of the svgs can be used to set the line height of the glyphs, via css for example, using the css `height` parameter.

I used it like so for that video on g+
https://plus.google.com/u/0/+LasseFister/posts/RuTZ3QAAwHn
[code]

[2015-02-21 15:58] jeroenbreen commented on #337
@guiguru Monday I want to focus on
• rubberbanding
• select with ctrl/shift/cmmd

So there is no tool icon for the rubberbanding right? So where is the rubberbanding active? On the complete specimen panel or also outside? (so all the white in the current design). In other words, can you start to drag somewhere in the parameters panel en end in the specimen panel?
Was there also rubberbanding desig

[2015-02-21 17:44] davelab6 opened #338 "Minify & include @source @licstart comments"
https://metapolator.com/red-pill-demo/main.js is not minified, which makes it a little slower to load, so lets make it easy to minify Metapolator :)

However, minification is a kind of compilation and obfuscation, and as per https://www.gnu.org/philosophy/javascript-trap.html (also http://libreplanet.org/w/images/6/63/Javascript-slides.pdf) we can maintain the libre status of the work by including

[2015-02-21 17:58] guiguru commented on #337
OK, here is the feedback/**bugs** of today:

1. **great progress**
* selecting glyphs works right now as if the shift key is down all the time; click on ‘n’, then on ‘k’ (with no ctrl/shift/cmd key down), the result now is n+k selected—the result should be k selected, the last one clicked (see Finder icon view);
* a click on a selected glyph (with no ctrl/shift/cmd key down) should not deselect it

[2015-02-22 15:06] davelab6 opened #339 "consider capn proto instead of json for wire format"
https://github.com/capnp-js

[2015-02-22 15:07] davelab6 commented on #339
https://twitter.com/KentonVarda/status/569397592909611008

[2015-02-22 23:35] jeroenbreen commented on #337
Okay, got most of the comments covered I think. (will work on key selecting tomorrow)

![screen shot 2015-02-23 at 00 26 03](https://cloud.githubusercontent.com/assets/6692653/6321126/ded41bca-baf2-11e4-8fb8-ca3f9e62471c.png)
Not sure if you are talking about the above situation, if so: this is only the case now, because these are stil real letters. Once I'll use Lasses svg's then a the letter is

[2015-02-23 01:54] davelab6 commented on #339
https://code.google.com/p/snappy/ could also speed things up

[2015-02-23 09:29] guiguru commented on #337
hey @jeroenbreen,

this is shaping up **great**. now for the _next_ level:

* in general, when the mouse goes down (with no ctrl/shift/cmd key down), whether it is the start of rubber-banding or of a single click, the selection that exists up to then has to disappear;
* there needs to be feedback during rubber-banding of what is becoming selected; **this is essential** for users, so that they can

[2015-02-23 09:45] jeroenbreen commented on #337
@guiguru okay thanks for the feedback. Probably your comments and the key-clicking will be done by today or tomorrow. Can you please formulate what's up after that. It really works for me (like we are doin now) if I can think about it for one or two days and discuss about it, before a really work on it.

[2015-02-23 09:50] jeroenbreen commented on #337
oh and yeah mentioned 4 digits.
![screen shot 2015-02-23 at 10 46 36](https://cloud.githubusercontent.com/assets/6692653/6325591/68b2919a-bb49-11e4-8f72-7c6eb76586bb.png)
At my computer it has 5 digits. Do you mean I have to make it smaller or is the font-size different on your computer? Just checked that my input field doesn't inherit font-size and font-family from my styles, so there probably is

[2015-02-23 09:59] guiguru commented on #337
@jeroenbreen see what you mean. later today I will do that.

this is what it looks like here (safari 7.1.3):

![34](https://cloud.githubusercontent.com/assets/4458395/6325677/74fb8d5c-bb4a-11e4-96a4-7e6b53a84932.png)

better do this in one go when the visual design is there. for now just do your thing.

[2015-02-23 12:33] jeroenbreen commented on #337
@guiguru
Okay uploaded the corrections:
• 4 digits displaying now
• only 1 diamond, closer to the input
• there is a dragging feedback (with big paragraphs this might get a little slow, I'm quite satisfied for now, but I might wanna optimize this at a certain point), waiting for GD instructions for that

• leading:
I placed a temp border around the glyphs to illustrate something (hence also the le

[2015-02-23 17:33] guiguru commented on #337
@jeroenbreen point #1 the I wrote this morning (“the selection that exists up to then has to disappear”) really needs to be done, followed by #2 (the selection feedback—**but only of the glyph instancess that get ‘hit’—using the blue underlines).

* please right align the text in the size input

I placed a temp border around the glyphs to illustrate something (hence also the leading is now 1/3, to

[2015-02-23 17:55] jeroenbreen commented on #337
![screen shot 2015-02-23 at 18 48 25](https://cloud.githubusercontent.com/assets/6692653/6333385/e3dc9a58-bb8c-11e4-9a47-be0fe7cc80ac.png)
There it is. As you can see in the picture, there is a whitespace, but as will you notice, because it is smaller then it was this morning, non of it is acting as a whitespace.

The unselecting on mousedown is on the list next, part of the (key)clicking stuff I

[2015-02-23 20:33] jeroenbreen commented on #337
@guiguru
oh shit... I forgot the ctrl/shift/cmmd click was purely toggling. I just spent some time to make it - quite elegant I must say - set-selecting... We don't want this right?

[2015-02-23 20:40] guiguru commented on #337
@jeroenbreen alas, no. else we just could have used standard text selections.

sorry, —ps

[2015-02-23 20:54] jeroenbreen commented on #337
no problem, I could reuse a lot, its up already.

[2015-02-23 21:00] guiguru commented on #337
that’s fast, and cool. (but take a look at shift + rubber-band)

[2015-02-24 08:40] jeroenbreen commented on #337
shift + rubberband is up.

[2015-02-24 09:43] guiguru commented on #337
@jeroenbreen, after thinking about it, I see that the image [shown in the wiki](https://github.com/metapolator/metapolator/wiki/specimen,-and-glyph-interaction#glyph-range) for the glyph range-type specimen is pretty much it. specifically:

* adhere to the glyph boxes, no extra padding;
* generous leading/margin between the lines (33% or more, with a minimum of 12px);
* the same number of pixels t

[2015-02-24 15:28] davelab6 opened #340 "UI: Custom pull down menus"
@jeroenbreen writes,

I think this is worthwhile, but I think worth postponing until we can open the demo, see some fonts, metapolate them, see some instances, and export them. That is what will get us to the next stage. Better menus are a detail that will not :)

[2015-02-24 15:51] guiguru commented on #340
while pointing out that we are still talking about working menus or non-working menus (for our context), I do see the point that getting some fonts in and out is more important.

[2015-02-24 16:13] davelab6 commented on #340
Lets keep it in the 1.0.0 milestone but a lower priority :)

[2015-02-24 16:16] davelab6 commented on #306
@graphicore is this done, required for the demo (1.0) or mvp (1.1) or nice to have? :)

[2015-02-24 16:21] davelab6 commented on #305
@guiguru I searched the wiki, there is no help menu item mentioned.... maybe top right a link that opens a [bootstrap modal](http://nakupanda.github.io/bootstrap3-dialog/) with further links that open in new windows to these resources?

![687474703a2f2f6d6d69776f726b732e6e65742f6d657461706f6c61746f722f706172616d657465727376696577626967332e706e67](https://cloud.githubusercontent.com/assets/261579/6

[2015-02-24 16:23] davelab6 commented on #323
@graphicore are they required to be completed for the demo?

[2015-02-24 16:23] davelab6 commented on #322
@guiguru I wonder if you have some suggestions on naming since its user facing :)

[2015-02-24 16:31] davelab6 commented on #290
@graphicore was this done?

[2015-02-24 16:31] jeroenbreen commented on #337
•	generous leading/margin between the lines (33% or more, with a minimum of 12px);
	•	the same number of pixels that is used for the leading/margin is also used as horizontal margin between every glyph box;
	•	note the size control and the filter at the top.
but with the following modifications:
	•	forget about the bottom bar with buttons and glyph code editing;

That is done.

I've placed two but

[2015-02-24 16:31] graphicore commented on #306
At the moment I think it can't be done in a meaningful way. It looks like detecting recursions is always very special from case to case. It's not a requirement at all, because we do recursion detection at several occasions. The issue is just about generalizing this.

[2015-02-24 16:34] davelab6 commented on #271
@simonegli is this now resolved?

[2015-02-24 16:41] graphicore commented on #323
No. But @guiguru asked if we are going to change our file format in the future or if it is stable. This kind of stuff is clearly making it unstable. So, if stability of the file format matters (which shouldn't be the case in the early stages of a project), then it is rather required.
We shouldn't even consider file format stability before an official version 1. Basically, a version 1 would have th

[2015-02-24 16:44] jeroenbreen commented on #337
Btw, I see some (already existing) technical problems with filtering and reordering...

I am using http://jqueryui.com/sortable/ to sort stuff. This is based on <li>'s in a <ul>.  Where the <li>'s represent the objects in your model. By reordering, you adjust your model: perfect. But when I filter on the <li>'s: the model isn't represented completely and so it gets confused when you reorder stuff.

[2015-02-24 16:48] graphicore commented on #271
@davelab6 I can answer this: No.

[2015-02-24 16:49] davelab6 commented on #271
Okay, I don't think its needed for the demo

[2015-02-24 17:02] davelab6 commented on #337
I think @guiguru means that 'strict filter' means 'no filter' - it is a literal text input, what you type in the filter is what you see in the specimen view

I think it might be worth having a zero-th strict mode for this case.

[2015-02-24 17:04] guiguru commented on #305
@davelab6 I have no objection whatsoever against the simple help system you propose.

however, filling it with meaningful content is certainly not bite-sized. then again, the content can be community-sourced, and grow from meh to OK after the launch of the working UI demo (make sure it is pulled in from a server)

[2015-02-24 17:11] davelab6 commented on #305
Here is my proposed content to start:

[2015-02-24 17:15] davelab6 opened #341 "finish generic list interaction"
https://github.com/metapolator/metapolator/wiki/elements-of-design#master-section

https://github.com/metapolator/metapolator/wiki/working-UI-demo#masters-column

Columns:

- [x] comment out the existing 1st col's "sequence" interaction ("Stand-alone masters only; forget about master sequences")

[Buttons](https://github.com/metapolator/metapolator/wiki/elements-of-design#buttons):

- [x] add impo

[2015-02-24 17:16] davelab6 opened #342 "make master list work, especially the wiring to other panels"
https://github.com/metapolator/metapolator/wiki/elements-of-design#list-behaviour

https://github.com/metapolator/metapolator/wiki/working-UI-demo#masters-column

![work](https://cloud.githubusercontent.com/assets/261579/6354664/e6ddcadc-bc1e-11e4-9393-f3d7951cdc68.png)

*This list is prioritised*

master list panel:
- [x] make 2 edit states
- [x] populate local menu (including separators);
- [x]

[2015-02-24 17:17] davelab6 opened #343 "Implement parameters panel"
_(ps: my first go at putting the issues in here)_

spec: https://github.com/metapolator/metapolator/wiki/working-UI-demo#parameters-panel

- [x] enter press to administrate parameter
- [x] basic layout, show defined parameter values, including ranges;
- [ ] ~~Add, Edit and Delete operators~~, including marshalling the availability of these functions;
- [x] editing of value fields;
- [ ] editing of

[2015-02-24 17:18] davelab6 opened #344 "Implement UFO export"
https://github.com/metapolator/metapolator/wiki/working-UI-demo#font-export-panel

![export before design](https://cloud.githubusercontent.com/assets/261579/6364114/daf8de2c-bc6f-11e4-99a9-6ecdaf0eb1f7.png)

- [x] design new demo font export panel
- [x] design export duration estimate
- [x] design export progress indication

Here's the images:

![export designed](https://camo.githubusercontent.com

[2015-02-24 17:19] davelab6 commented on #337
@guiguru I've filed issues for each item in https://github.com/metapolator/metapolator/wiki/working-UI-demo#the-whats-next-list so that each one can be discussed and tied to the concrete commits that resolve it :) I suggest just filing issues, rather than editing that list further

[2015-02-24 19:22] guiguru commented on #337
@jeroenbreen, some quick notes to keep you going:

* the rightmost position of the strict switch is the strictest;
* 3 positions is enough, 4 is too much;
* I have touched up in [the spec](https://github.com/metapolator/metapolator/wiki/specimen,-and-glyph-interaction) what the 3 positions mean;
* mid position: _some_ glyphs is 2 glyphs;
* forget about the fancy stuff: guarantee of completeness, p

[2015-02-24 20:38] jeroenbreen commented on #337
okay, I got that the other way around, strange...

    I have touched up in the spec what the 3 positions mean;

Not sure if I understand the strictest right. Is it just: whats in the search is printed 1:1?

So thats working correct rigth?

Okay will do, strange it slipped through.

[2015-02-24 20:51] guiguru commented on #337
yes, because super-strict filtering would give you this result anyway: ‘really only these characters.’

[2015-02-24 20:59] jeroenbreen commented on #337
Okay and the order is the order of the search box? In the non-glyph-range as well as in the glyph-range?

[2015-02-24 21:41] guiguru commented on #337
glyph range: yeah, better keep the order of the glyph range;
non-glyph-range: filter box order looks better

[2015-02-24 22:35] jeroenbreen commented on #342
@guiguru / @davelab6 could use some step by step guidance here.

[2015-02-24 22:35] jeroenbreen commented on #341
@guiguru / @davelab6 could use some step by step guidance here.

[2015-02-25 01:52] davelab6 opened #345 "Implement Instances column"
https://github.com/metapolator/metapolator/wiki/elements-of-design#family-of-instances-management

https://github.com/metapolator/metapolator/wiki/working-UI-demo#instances-column

![list png](https://cloud.githubusercontent.com/assets/261579/6354649/d6fd43cc-bc1e-11e4-8509-4aed3377a06d.png)

Mock:

![instances panel](https://camo.githubusercontent.com/7c49fc63465dc257c61e25319314052072e79573/6874

[2015-02-25 01:53] davelab6 commented on #341
I've added a link to the demo wiki page's [masters column](https://github.com/metapolator/metapolator/wiki/working-UI-demo#masters-column) description, and split out the instances column into another issue

[2015-02-25 02:01] davelab6 opened #346 "Add 'this space left blank' panels"
https://github.com/metapolator/metapolator/wiki/working-UI-demo#this-space-is-intentionally-left-blank

Would be nice (and fast) to add these panels, and color them a dark green with a lime/light green "COMING SOON", to show that there is something due there in the future.

- [x] Add Parameters Panel green area
- [x] Add Masters Panel green area
- [x] Add Export Details Panel green area
- [x] Reve

[2015-02-25 02:39] davelab6 commented on #342
The full specification is at https://github.com/metapolator/metapolator/wiki/elements-of-design#list-behaviour and I think the current behaviour you've implemented is useful, but https://github.com/metapolator/metapolator/wiki/working-UI-demo#masters-column doesn't say about what can be kept/left for a demo, so I hope @guiguru can comment on what should be refine from here to the demo :)

[2015-02-25 02:40] davelab6 commented on #341
(I've edited the top issue text to reflect what I think needs to be done)

[2015-02-25 03:10] davelab6 opened #347 "make instance list work, especially the wiring to other panels"
https://github.com/metapolator/metapolator/wiki/elements-of-design#family-of-instances-management

https://github.com/metapolator/metapolator/wiki/working-UI-demo#instances-column

![work](https://cloud.githubusercontent.com/assets/261579/6354664/e6ddcadc-bc1e-11e4-9393-f3d7951cdc68.png)

instances panel:

- [x] populate local menu (including separators); and action button bar;
- [x] make instance

[2015-02-25 03:11] davelab6 commented on #347
@guiguru its not totally clear to me how this should work; I put in what my expectation is, but please edit the issue text to be more clear :)

[2015-02-25 08:33] guiguru commented on #341
sorry guys, but this is too much chaos.

the title is back to what the issue is: finish generic list interaction _(e.g buttons on the bottom, line and column interaction)_

both instance and master list share the same 3-column list interaction patterns.

to do for both:

1. the first column (sequence/famlily column) has no interaction nor indications; it can be left out or sit there as a dead colu

[2015-02-25 08:54] guiguru commented on #347
this one builds upon issue #341. to do:

* populate local menu (including separators);
* make instance management (add, modify, delete) really work;
* multiple select is really only useful for managing the instances, not for setting their metapolation;
* every instance lives on one design space **only**—
  * sync that when an instance is highlighted, the right design space is shown, with its metap

[2015-02-25 09:08] guiguru commented on #342
this one builds upon issue #341. to do:

1. populate local menu (including separators); and action button bar;
* make master management (add, modify, delete) really work; probably dummy ufo import first;
* set height to half the column height;
* selections and view column sets what is shown (also) on the metapolation specimen;
* selections and view column sets what is shown on the parameter specim

[2015-02-25 09:51] guiguru commented on #322
thanks for asking.

as far as I can see @graphicore is talking about naming extension internally, in code.

that is not what I call user-facing; I fully expect any user-programmed parameter extension to have a field for its display name, one for its sub-category (e.g. ‘horizontal metrics’ in glyph, ‘skeleton’ and ‘pen’ in point) and a value (from an enumeration) that tells the back-end from what l

[2015-02-25 10:00] guiguru commented on #323
my concern about file format stability simply has to do with backward compatibility, in the future.

here are two **disastrous** things that can happen in the year 201X:

1. users cannot open files Metapolator files from 2015 anymore; what was **Saved** then turned out to be **not safe**;
* there is a hideous maintenance burden for Metapolator developers because 2 or more different Metapolator fil

[2015-02-25 10:01] guiguru commented on #343
needs design, in the next days

[2015-02-25 14:19] graphicore commented on #322
This is about the names that end up in the CPS. So any user that needs to do something that is a bit sophisticated will have to care (and I don't see how authoring a metapolator project can possibly be without touching CPS at all, at least at the moment).

I figure you are talking about something like a plugin registration. This would be off-topic.

It is about naming of parameters and that we sho

[2015-02-25 14:34] graphicore commented on #323
Since we are probably not ready for a sound 1.0.0 "stable api and file format" release in 2015, I don't see why we should say it's save to keep these files around. Just call it *dump to disk*. And write a warning sign **This is a demo. Metapolator is still under heavy development, don't consider the download to be a stable file format**

I thought there will be some toying around with already heav

[2015-02-25 15:02] guiguru commented on #322
this issue needs more understanding, and more consideration.

I do my very best to understand the world of back-end development, cps and Metapolator users extending it in ways that we cannot even imagine. I am genuinely, emotionally moved when I think of users in non-latin script cultures being able to help themselves, by writing extensions to our tools.

All I ask is consideration for the world o

[2015-02-25 18:45] guiguru commented on #337
@jeroenbreen just a quick note from the call today (have not got time for a thorough review tonight):

* every specimen (all of them) repeats N times when N master (+ instances, for the metapolation specimen) have to be shown;
* when the filter is super-strict, an empty filter box still does not filter at all.

[2015-02-25 19:01] jeroenbreen commented on #337
Is that for font by glyph, word and paragraph?
For word and glyph it only makes  sense when the repeated specimen starts with an other master than the first specimen right?

[2015-02-25 19:54] davelab6 commented on #337
In trying out the resize diamond widget and I think this is a great 'taste' for the deep interaction work @guiguru has done! :)

I wonder that it should work with stepping the size at a variable rate - bigger steps for larger sizes, and smaller steps for small sizes - eg for a type person, stepping from 11 to 14 px is a big jump, but 70 to 73 is a small jump, even though numerically both are +3.

[2015-02-26 08:08] guiguru commented on #337
all of them.

good one. you are very right. apart from the ‘start’ to be a different one, so does need to be the ‘second’ (glyph or word). and ‘third’ (up to N). seems to be possible to do this by putting the masters (and instances) in a list that is a ring (in order they are in their display lists, instances before masters); and shift one position for each paragraph that is displayed

[2015-02-26 08:38] guiguru commented on #337
thanks @davelab6.

I noticed something like that yesterday. My analysis is that the size changes too fast at smaller sizes, it needs to be slowed down there. at larger sizes (100pt and up) I think it is a real benefit that the control is so smooth: 1 pt change for 1 pixel of distance—I do not want to lose that.

yes, variable input scaling is the answer. the gnome control has problems I avoided (l

[2015-02-26 10:28] jeroenbreen commented on #337
ok, updated 3 things:

1. the strict box: text visible when nothing in the search box, for all strictnesses
2. repeating of specimen, according to nr of fonts visible. Every new one starts with 1 further in the fonts array.
3. size rope, has a scaling growt now, related to the size you are starting with (note: not related to the current size. Is that how you designed it? )

Did you/Simon make a de

[2015-02-26 10:52] guiguru commented on #337
repeating of specimen, according to nr of fonts visible. Every new one starts with 1 further in the fonts array.

yay!

I could have been clearer: during the rope pulling, for every update event you handle, you re-calculate the input scaling out of the current size. if the rope is pulled to take the size from 200 to 20 then < 100 the input scaling changes continuously, and quite a bit (1–5)

after

[2015-02-26 14:59] guiguru commented on #337
I have merged all my input here up to this point back in the spec wiki.

I tested some things and found this:

1. shift/ctrl with rubber-banding does not work correct: you seem to demand that shift/ctrl was already pressed on the first select, for the second to add up properly; first press is not needed;
* super strict filtering: although we put directly on the specimen what is typed, multiples sh

[2015-02-26 15:12] davelab6 commented on #337
On 26 February 2015 at 09:59, peter sikking <notifications@github.com>
wrote:

Not sure this is needed for the demo

[2015-02-26 15:20] guiguru commented on #337
it means taking that option out of the popup list on the top-left (which picks the kind of specimen one looks at). does not sound so big to me.

[2015-02-26 16:08] jeroenbreen commented on #337
I did implement that now. But the way I handle it, causes a bug.
This is the way I handle it:
1. catch the starting size (eg 80pt)
2. measure length of rop (30 px) > set new size (cacluated from the starting size) & set the factor we talked about
3. still draging, meaure lenth again (eg. 50) > set new size & set the factor.
With this order of work, a longer length of rope, but with a smaller facto

[2015-02-26 16:29] guiguru commented on #337
Do you get it? So refering to something you said earlier about me saving hours and you do the logic: you solve it :)

right you are, I caused this, push it back to me. luckily I thought about it two hours ago, seeing the impossibility of keeping measuring from the origin. the solution is in the spec but here is the longer version:

basically now we have to work in deltas, for every update event (w

[2015-02-26 16:32] jeroenbreen commented on #346
@guiguru why is the bottom-half under parameters green? Parameters takes 100% of height, doesnt it?

[2015-02-26 16:45] guiguru commented on #337
click/drag on 1 glyph, release -> (wait) -> shift + drag around another release. Is that what we are talking about?

here is what I can reproduce:

* pangram 1, nothing selected;
* select anything;
* rubber-band “quick” (no keys down, any font)
* shift down, rubber-band “dog” (any font)

now “quick” is deselected, that should not be.

* they are two completely different instances, with completely

[2015-02-26 16:56] guiguru commented on #346
![687474703a2f2f6d6d69776f726b732e6e65742f6d657461706f6c61746f722f677265656e61637265732e706e67](https://cloud.githubusercontent.com/assets/4458395/6396649/f2a513f8-bddf-11e4-8132-049ee0812bbb.png)

ehm, no. those green areas are not in use in the UI demo, not in application use, that is. these areas will display content (pulled live from a server) that promotes the future of Metapolator. I foresee

[2015-02-26 17:51] davelab6 commented on #346
On 26 February 2015 at 11:56, peter sikking <notifications@github.com>
wrote:

I think making them green is enough for Jeroen to do - maybe add the word
'coming soon' in lime :) - and then we (at least you me and Simon) can take
care of adding the promotion content later

[2015-02-26 17:53] davelab6 commented on #346
On 26 February 2015 at 11:32, Jeroen Breen <notifications@github.com> wrote:

I guess Peter added this green because there just arent many parameters in
the demo, and so its likely to be a blank area if the parameters panel is
100% of height; and by having a 'green space' there, we can have some
promotional content that says 'many more parameters are coming soon'

[2015-02-26 22:31] jeroenbreen commented on #342
1. done. Not yet wired

3. done.

7. This will be a big job. The only two things 'out of the box' are the Bootstrap menus (we talked about) and the jquery sortbale (mentioned before). The drag and drop of masters is part of the Sortable. It does't support multi-drag, so I have to find a way to work around that. That will cost time.

[2015-02-26 22:40] jeroenbreen commented on #345
Made a start with the instance panel. Not much wired yet (only the add button, adds a semi-fake instance). All together its gonne be quite some work.

One question @guiguru to make sure: you need to be able to reorder the instances right? I will have to make a choice now, whether model-wise the instance live inside the designspace or in their own list or both.

Next step I want to suggest, is to m

[2015-02-26 22:52] guiguru commented on #345
this is for me the same issue as #347, there my points are

and I would really feel better if #341 is done first. that is the foundation.

in future releases: 100%

in this release, it is really just nice-to-have (hate that phrase ;^)

[2015-02-26 23:16] davelab6 commented on #342
multiple isn't needed in this first pass at a demo, before Thursday. before
lgm at end of April, sure! but not needed for an end to end demo, similar
to the video peter made last summer
On Feb 26, 2015 5:32 PM, "Jeroen Breen" <notifications@github.com> wrote:

[2015-02-26 23:16] davelab6 commented on #345
reordering, double clicking, is nice, should be in the demo, but doesn't
seem like first pass things to me.

to me the critical first pass is to (a) be able to 'bookmark' the state of
the control sliders in the design space panel, such that (b) with a single
click on the instance item in the instance list it is shown in the specimen
panel, under the specimen item showing the current state of the d

[2015-02-27 09:39] guiguru commented on #337
@jeroenbreen _argh_, the size rope thing is not as I described yesterday, it is less complicated (in a way). new version here:

for every event—
* take the change in distance—to the mid point—since the previous event ( distance(this event) - distance (previous event) );
* divide this change in distance by input scaling from point size set by the previous event; that is the change in point size;
*

[2015-02-27 10:05] jeroenbreen commented on #345
@guiguru
Ok, I need to know some stuff, for knowing how much info I have to put in the Instances.

So for the process: click on Instance > instance + designspace is shown.
How much of the designspace setup (eg which master is the leading master, shown left) is saved into that instance.

Suppose following scenarios:

scenario 1) You have 3 masters, make an instance, switch the leading masters, make

[2015-02-27 10:55] guiguru commented on #345
How much of the designspace setup (eg which master is the leading master, shown left) is saved into that instance.

as far as I can see an instance is just a label, a link to its design space (which determines which masters are part of this instance) and the metapolation recipe (the coefficient for each master);

the control design space has a configuration (which masters are on it) and view setti

[2015-02-27 11:16] jeroenbreen commented on #345
Okay, first wiring is up.
Not very much to see yet, but I' happy with a solid base, to continue on.

What is up:
1 Making a designspace (control only now)
2 Adding Masters (>2 to make the + button visible (probably you want't some passive css class instead of invisble?)
3 Add an Instance! ( @davelab6 'bookmarking' helped me to give my thoughts structure. +1 for that)
(4 re-sliding and 5 Add anothe

[2015-02-27 12:46] davelab6 commented on #337
I think after this round, further iterations to improve the size rope should be postponed until closer to the end of the round.

A more urgent issue is that in `font by word` mode, the style iteration runs over the whole specimen text; but I think it should restart for each master. Currently when you have all 4 masters visible on a line, the first word is in a different master on each line, which

[2015-02-27 12:50] davelab6 commented on #346
@jeroenbreen On the 3rd page of the demo there are now 2 green areas, but the first one (pictured here) should not be green, as it will be needed for export

![screen shot 2015-02-27 at 7 49 20 am](https://cloud.githubusercontent.com/assets/261579/6412695/3fed5bfa-be55-11e4-9b0a-466deeed9a61.png)

[2015-02-27 12:54] davelab6 commented on #140
@graphicore why don't you use it? :)

[2015-02-27 12:57] guiguru commented on #337
for me ‘font by word’ is a mix of words in the different fonts to be shown. in the shot you show each word—‘quick’, ‘brown’, ‘fox’, etc.— is shown in each font, with a neighbouring word in a different font. Also ‘The’ is set in the 4 different fonts; it must be. I call this perfect, unless you can convince me I missed something…

maybe ‘font by paragraph’ covers your expectation?

[2015-02-27 13:08] davelab6 commented on #337
I'm happy to postpone this discussion until I can edit the text in the specimen, because until I can do that, I can't actually use this.

‘font by paragraph’ allows me to scan down, each line stepping to a new master, like this:

![screen shot 2015-02-27 at 8 03 23 am](https://cloud.githubusercontent.com/assets/261579/6412885/60118724-be57-11e4-922a-6ec6cf18fe7d.png)

....but I want to be able to

[2015-02-27 13:15] davelab6 commented on #337
The paragraph mode seems to be a bit buggy.

Without any filter, setting paragraph pre-made sample text and 'font by paragraph' looks weird:

![screen shot 2015-02-27 at 8 11 33 am](https://cloud.githubusercontent.com/assets/261579/6412967/69fa856e-be58-11e4-8e44-2dfbbac9bd5e.png)

And with a filter too:

![screen shot 2015-02-27 at 8 11 51 am](https://cloud.githubusercontent.com/assets/261579/641

[2015-02-27 13:18] davelab6 commented on #337
Of course, we could adjust the line-height automatically; and there are jQuery plugins to do this :) http://moltenleading.com

[2015-02-27 13:27] guiguru commented on #337
OK, I can see that there is some king of user need there that we have not covered well. now I need to find out what this need really is. I cannot believe you want the all 4 lines to be exactly identical, but you say they better start with the 1st word in the same font.

something has to change between the lines—what else repeat them? I can think of either different words, or the sequencing of mast

[2015-02-27 13:38] guiguru commented on #337
ah, is it

The The The The
quick quick quick quick
brown brown brown brown
fox fox fox fox

you want, in 4 masters in the same sequence? (would be column aligned to be not a shambles)

[2015-02-27 13:58] davelab6 commented on #345
As peter says, this issue is only about things inside the instances panel itself, and everything that needs to be done inside the panel is now done, so closing.

[2015-02-27 13:58] #345 closed

[2015-02-27 14:05] davelab6 commented on #341
I've added this list of tasks to the top of the issue. (@guiguru in future, you can add check box task items to an issue's first post with `- [ ]` for an unticked box and `- [x]` for a pre-ticked box.)

I think for this week, the only 2 things are:

- the first column (sequence/famlily column) has no interaction nor indications; it can be left out or sit there as a dead column—whatever makes more

[2015-02-27 14:11] guiguru commented on #345
multi-select in the instances list only makes sense for organising the list itself especially for making and organising families.

the display in the design spaces is completely tuned for single-instance display. in the future we need a special state (just reflecting, not for adjusting) for design spaces during multi-select states.

btw: I see that I went to far by stripping the instance indicator

[2015-02-27 14:16] davelab6 commented on #347
I've added tasks to the top for the 'first pass' things that can be done this week

[2015-02-27 14:25] davelab6 commented on #345
Great! But explore-mode design space is tabled for the last pass of the demo, right?

[2015-02-27 14:28] davelab6 commented on #347
There is further discussion in #345 that is related to this issue, so I'm replying here.

Actually for me when I walk myself through the demo, when I switch to the 2nd page, I see this:

![screen shot 2015-02-27 at 7 32 44 am](https://cloud.githubusercontent.com/assets/261579/6413941/001cc256-be62-11e4-8332-7f1f4bd3a876.png)

I think I should see the design space panel for the first time like this

[2015-02-27 14:32] guiguru commented on #345
yes, that is icing on the cake. cool, but not essential.

[2015-02-27 14:33] davelab6 opened #348 "UI: Which page to load?"
@guiguru which page should be first displayed on page load? http://metapolator.com/slider/ now loads the 2nd design spaces page

[2015-02-27 14:37] davelab6 commented on #337
No, I want it how it is, but the iteration to restart at the beginning of each master.

[2015-02-27 14:38] guiguru commented on #348
the parameter page is the starting one. the 3 pages (views officially) is a left-to-right workflow.

(although I can perfectly understand that _some_ people would skip the parameter view and start metapolating, no biggie, we deal with it)

since @jeroenbreen is simply pushing his state for our collaboration, I have no problem with this now. rough is rough.

this issue can be fixed 1 minute before

[2015-02-27 14:46] guiguru commented on #347
I though about this during my jog today.

* deleting a master is a heavy thing; we will show a confirmation dialog anyway, this can include mentioning in how many design spaces it is used; that is enough precaution;
* deleting an instance is lightweight—no dialog shown; but deleting the last instance is the same as closing the design space; thus we can handle it the same: (raise the design space w

[2015-02-27 14:47] graphicore commented on #140
I don't need it. I know where everything is happening.

[2015-02-27 15:34] jeroenbreen commented on #348
This is temporary for me - for working on the Instances. otherwise for every reload I had to push the Design Spaces button. No worries.

[2015-02-27 15:49] davelab6 commented on #348
Agree, just wondered if this was intentional for the demo, since I think its the 'heart' of the demo and wouldn't mind this, in fact :)

[2015-02-27 15:49] #348 closed

[2015-02-27 15:52] davelab6 commented on #337
@guiguru haha in fact that is what I was originally thinking of. I'm sorry for the confusion on my part :) In 'font by para' you can compare a glyph's horizontal variation across masters by looking up and down, but - maybe more often - I want to compare *vertical* variations.

Meanwhile, you are right that having the line just repeated makes no sense. I got confused I think because, in the current

[2015-02-27 16:03] davelab6 opened #349 "'vagrant up' won't work, fails on provision step"
[code]

And running `vagrant provision` reproduces the problem

[2015-02-27 16:09] rrthomas commented on #349
I guess the link should only be made if it doesn't already exist, or change `ln -s` to `ln -sf` in line 55 of `Vagrantfile`.

[2015-02-27 16:16] davelab6 commented on #349
Thanks! My attempt to fix it was stupid :)

[code]

Will try this fix you suggest :D

[2015-02-27 17:25] guiguru commented on #337
good to know I am not missing a trick.

I also thought it would be quite important that every glyph in the paragraph is shown in every font to be checked. this simple trick achieves that.

good.

I was trying to avoid fiddly settings at the top. automatic sounds good to me.

btw: can we do in the meanwhile a simple trick: set easing to XY%, with a minimum in px (so that small type gets proportiona

[2015-02-27 17:29] davelab6 commented on #349
Hmm, no...

[code]

[2015-02-27 18:41] davelab6 commented on #337
On 27 February 2015 at 17:25, peter sikking <notifications@github.com>
wrote:

If there is automatic, then being able to turn it off is important.

But having manual control of line-spacing is more important than automatic,
without or without an off switch.

Changing the type size is married to changing the line spacing. I can't
change one without reaching to change the other.

[2015-02-27 18:43] davelab6 commented on #337
On 27 February 2015 at 18:40, Dave Crossland <dave@lab6.com> wrote:

I suggest the range as from 0.5 to 2.5, starting at 1.2, and having 0.05
increments

[2015-02-27 19:12] rrthomas commented on #349
Indeed, so change the previous line instead to check `~/.ssh` doesn't already exist (! -e).

[2015-02-27 19:14] guiguru commented on #345
the instance indicators are back on the control design space sliders

[2015-02-28 13:06] davelab6 commented on #349
Okay :) That worked.

Strangely, the file in git has
[code]
but mine failed because it had
[code]
so I reverted it, but I'm very confused about that.

[2015-02-28 13:40] davelab6 commented on #349
@rrthomas I'm curious, the box image seems to be a full Ubuntu, but I wonder if it could be redone with https://help.ubuntu.com/community/Installation/MinimalCD ?

[2015-02-28 15:48] davelab6 commented on #349
And, weird, it happened again:

[code]

[2015-02-28 16:11] davelab6 commented on #349
@rrthomas Okay, having rtfm - http://docs.vagrantup.com/v2/boxes/base.html - I see the box image is not full Ubuntu, but its 423M which still seems heavy

[2015-02-28 17:12] jeroenbreen commented on #341
@guiguru & @davelab6 Think I got the bullet list complete.

[2015-02-28 17:14] jeroenbreen commented on #341
btw, I added a deselect all on, clicking outside the masters/instances, but inside the panel.

[2015-02-28 17:17] jeroenbreen commented on #337
@davelab6 @guiguru I've added a lineheight box, so you can play with it already. Waiting for design instructions on it.

[2015-02-28 17:39] jeroenbreen commented on #337
and btw, the size rope - according to @guiguru instructions is still buggy.

Meaning, that when you come back to the center, after pulling, you don't (always) come to the original font size.

It works like this: suppose you go from 50px(from center) SW to 60px SW, you get the deltafactor corresponding to 50px. If you then go back from 60px SW to 50px SW, you get the deltafactor corresponding to 60

[2015-02-28 22:29] #346 closed

[2015-02-28 22:38] jeroenbreen opened #352 "Renaming Document, Masters, Instances, Design Spaces, Ag"
Everything with double-click?
Doube-click on Ag will give conflicts with the toggling on it.

[2015-03-01 00:24] jeroenbreen commented on #340
@guiguru The project menu is now a custom made one, with down(open) - move - up(push)
If this one is ok, I will tackle the other menus the same way.

[2015-03-01 00:51] davelab6 commented on #340
I can't tell the difference. But I think after 10 years of very rarely using a mouse, only a touchpad, I think the interaction @guiguru has proposed is utterly lost on me :)

[2015-03-01 00:58] davelab6 commented on #352
http://api.jquery.com/dblclick/ ?

[2015-03-01 01:09] davelab6 commented on #346
:100:

[2015-03-01 01:24] davelab6 commented on #341
Currently, the masters panel's visibility state is reflected in the 2nd page's specimen area as well as the 1st page's. @guiguru am I right in thinking that the 2nd page's specimen area only reflects the instances panel's visibility state?

There seems to be a bug with this: If add 4 instances, and then I click and drag in the Instances view col down from the 1st to the 4th item, all are selected

[2015-03-01 01:41] davelab6 commented on #337
This gives me unexpected results :)

http://jsbin.com/jokerufaje/2/edit gives a demo of what 0.7, 1.0 and 2.0 line-height values look like:

![screen shot 2015-03-01 at 1 35 23 am](https://cloud.githubusercontent.com/assets/261579/6429059/55e4e5e0-bfb3-11e4-9cd3-105465c6237f.png)

Here is what these values look like today:

![screen shot 2015-03-01 at 1 36 32 am](https://cloud.githubusercontent.co

[2015-03-01 01:58] davelab6 commented on #341
In fact I was wrong - thought I could be! :) In issue [342 'make master list work'](https://github.com/metapolator/metapolator/issues/342#issuecomment-75927427) you wrote,

For example, if I have the Regular master visible, and then move to the 2nd page, and then create an instance, and make it visible, then I should see two items on the metapolation specimen. Right now I won't, because the instan

[2015-03-01 02:08] davelab6 opened #353 "Implement panel resizing interactions"
https://github.com/metapolator/metapolator/wiki/elements-of-design#sizing-rules says,

From this I see these tasks for the demo:

- [x] set the limits (180 and 270) at start (now they are only containments for resizing)
- [x] make the column widths adjustable; this will not cause the views to scroll
- [x] make the dividers adjustable; this will not cause the views to scroll
- [x] when the browser

[2015-03-01 02:40] davelab6 commented on #347
Sounds good! Added to tasks in 342

This seems to be working imprecisely with an `int` value for the instance state, while the control mode design space state is in `float`. After pressing `+` button:

![screen shot 2015-03-01 at 1 18 44 am](https://cloud.githubusercontent.com/assets/261579/6429191/79ee5000-bfba-11e4-97d2-48c94348c2fe.png)

Then immediately clicking the control-col in the instance

[2015-03-01 02:46] davelab6 commented on #337
That seems like it will get taken care of when we move to the API....

The number 1 thing that I think can perhaps can be done before the API is done is to do the direct specimen text editing interaction, with the hover to get the pointer as a text cursor and then `contentEditable` style editing of the text

[2015-03-01 10:38] jeroenbreen commented on #347
I am aware of that. I will need some time to make an elegant function wich chan do Slider values to metapolation values and the process reversed.
The reversing process has to have to 0.002 correction in it and indeed I made some mistakes with the rounding up. What it already does, is don't give a shit when a new master is added to the designspace after the instance is being created.
@guiguru Did y

[2015-03-01 10:46] jeroenbreen commented on #337
@davelab6  This is a major job I guess. Because nothing in the specimen is (will be) real text, it's all svg's.

So everyhing - a blinking fake cursor (appending and removing after clicking somewhere else) - backspace functionality, selecting text the cursor way, typing itself (if there is a new character not yet used for that master, it will take loading time to create the svg, etc.

[2015-03-01 11:46] davelab6 commented on #337
I dont think it is too big for the demo because I think its more useful
than preset texts filters; however it is something to do after the api and
parameters panel allows you to metapolate new masters

[2015-03-01 14:17] davelab6 commented on #305
@jeroenbreen while I had suggested a simple link that triggers a [bootstrap modal](http://nakupanda.github.io/bootstrap3-dialog/) (ie, dim the rest of the app and present a single centralised div) having it as a menu is interesting and I'll file a PR in a moment with menu items

[2015-03-01 15:59] davelab6 commented on #347
Say, a designspace is set up, an instance is created, then a new master is added to that design space; I the next action that automatically follows from the new master being added is that the previously created instance is deactivated, and if it is activated, a new design space tab is opened to show the design space parent of this instance.

Say, a designspace is set up, an instance is created, th

[2015-03-01 16:46] jeroenbreen commented on #347
I got this working, but it is conflicting with selecting multiple instances, isnt it?.

[2015-03-01 22:58] davelab6 opened #356 "Installation via npm fails"
Seems like libxmljs is stale - libxmljs’s latest version in npm is 0.13.0 but metapolator’s package.json has `libxmljs":"~0.9.0` which appears to no longer build:

[code]

I mentioned this to @graphicore and he made https://github.com/metapolator/metapolator/pull/355

[2015-03-01 23:01] davelab6 commented on #347
https://github.com/metapolator/metapolator/wiki/working-UI-demo#instances-column is clear:

[2015-03-01 23:09] davelab6 commented on #347
I thought about this a bit more... my view, I defer to Peter:

As an instance is selected while holding down a modifier key to select 2+ then it becomes the 'most recently activated' instance and thus its design space is made visible.

Multiple instance activation is relevant to export for the demo.

[2015-03-01 23:12] davelab6 commented on #356
Fixed by #355

[2015-03-01 23:12] #356 closed

[2015-03-02 09:42] guiguru commented on #340
@jeroenbreen **good start!**

what is needed now is for the down-move-up mode is:

1. tracking highlight of the menu items what the mouse pointer hovers them—same as the click-move-click mode;
* mouse went up while not hovering any menu item (even the separator)? then close menu, no item got invoked—same as the click-move-click mode;.

in general (both modes) it is very good (as in: necessary) to

[2015-03-02 10:17] guiguru commented on #341
here are the bugs of today:

1. selecting a row in the list makes that master/instance visible for sure, but does not change the view setting of any row in that list; not of that row, not of any other row;
* dragging the mouse in row 2 has to not only track when more and more rows get affected, but also less (I.e. you have to continuously track the rectangle that is being dragged by the mouse;  if

[2015-03-02 12:10] davelab6 commented on #341
I'm unclear how you then export a master. I guess I have to wait and see for your design :)

[2015-03-02 12:46] guiguru commented on #341
in general, export is done in the Fonts view (the third one) and that is of instances only.

to export a master there is two ways:

1. in general make an instance that is 100% one master, and 0% other ones; this is not a as roundabout as it sounds; when making families it is quite normal (but that is in the future);
* in the BIG spec there is a Quick Export… menu item for both the master and insta

[2015-03-02 13:03] davelab6 commented on #341
Hmm. That all sounds good but I don't think I've managed to express my concern... :) If I see a piece of typography in the metapolation specimen, I expect to be able to export it in the 'normal' way - which is to identify it as an item in the instances list panel and then move to the 3rd export page and export it from there.

So you are suggesting that if I see a piece of typography in the metapol

[2015-03-02 16:12] davelab6 opened #359 "Quick Export"
In https://github.com/metapolator/metapolator/issues/341#issuecomment-76705828 @guiguru proposed adding Quick Export for the 2nd pass of the demo:

[2015-03-02 16:59] guiguru commented on #352
a click can be clearly distinguished from a double click.

a text edit field (let’s call it that) can look a million different ways, as long as—
1. we do not DIY its text editing interaction (endless job);
* I say: yep, that is a text edit field.

this is one of those things where I go the elegant way (rename everything via double-click, no belts-and-braces in the menus) until experience (after th

[2015-03-02 17:14] guiguru commented on #353
@davelab6, I do not understand:

I cannot fathom why we would wait to update the layout

[2015-03-02 17:43] guiguru commented on #337
I can say with certainty that there will be no on-specimen editing for the UI demo. it is _extra_ and it is too big a job for this release.

I know this hurts a bit, but so it must be for an MVP.

our basis is working with pre-made specimens, plus filtering. because metapolator is different than any font designing application seen before, in with how it deals with many fonts at the same time, this

[2015-03-02 18:01] guiguru commented on #305
a help menu is fine with me

[2015-03-02 18:54] guiguru commented on #347
there is too much noise in this conversation. time to be clear again:

the slider settings of the control design space (and the cursor setting of the explore design space) **always reflects** the recipe of **the selected instance** (multi-select handling: below). remember, there is _always_ an instance in any design space.

* New Instance does not take a copy of the current slider settings, it cre

[2015-03-02 19:00] guiguru commented on #341
let me think about this a few days, it is a deep thing. conflicting needs…

[2015-03-02 20:00] jeroenbreen commented on #352
"It is inadvisable to bind handlers to both the click and dblclick events for the same element."

I believe on a doubleclick, also the click event is fired. So when you rename the doubleclick on a masters edit panel, you also select (which is no problem, but for renaming Ag, you also toggle the display.

[2015-03-02 20:05] jeroenbreen commented on #337
Nothing special, it looks like this in my file:

$scope.specimen = [{
        name : "pangram 1",
        text : "The quick brown fox jumps over the lazy dog."
    }, {
        name : "pangram 2",
        text : "Bright vixens jump dozy fowl quack."
    }, {
        name : "pangram 3",
        text : "Quick wafting zephyrs vex bold Jim."
    }];

[2015-03-02 20:12] jeroenbreen commented on #347
Does this mean, that when you are multiselecting, you cannot shift sliders. Is that a right conclusion?

what if instances of your selection live in different design spaces?

[2015-03-02 20:26] jeroenbreen commented on #340
ah.. in Firefox this works... :(

[2015-03-02 20:27] guiguru commented on #337
for a specimen like

1234567890
2345678901
3456789012
4567890123
5678901234
6789012345
7890123456
8901234567
9012345678
0123456789

linefeeds (not end of paragraphs) need to be included. how is that done?

[2015-03-02 20:36] guiguru commented on #347
yes

in the first place the sliders cannot represent more instances. it all stops there.

hmmm, good one.

* if non of these live on the current design space, raise the design space of the first one selected;
* highlight on the design space the one(s) that live there and are selected; that is it.

the point is that the design space view is in unison with the multi-select and does not allow input t

[2015-03-02 21:53] davelab6 commented on #341
:sleeping: :)

[2015-03-02 21:57] davelab6 commented on #353
Ensuring that when the browser viewport is resized, the 'page alignment' is maintained seems like a big job. Well, up to @jeroenbreen how to fix it :) I edit the task to reflect this.

[2015-03-02 21:58] davelab6 commented on #340
Well currently metapolator's engine only works out of the box on Firefox, so I'm happy to close this for the demo when its done and open another issue that links here regarding Chrome failures.

[2015-03-02 21:59] davelab6 commented on #337
I think I can't work with the tool if I can't edit the text directly...

...but I can play with the demo  if I can't edit the text directly, so I accept this. :)

[2015-03-02 22:02] jeroenbreen commented on #337
Since a break is not an svg character it's tricky.

For the "paragraph 1" now in the specimen I am using a bit of a dirty trick. The filter scans if there is a paragraph sign, if so I attach a "display: block to an svg. We could have a some sort of trick for a regular linebreak and one for the paragraph (see also discussion I had with Lasse at G+ last week).

![screen shot 2015-03-02 at 22 57 46](

[2015-03-02 22:03] davelab6 commented on #347
@guiguru good work! :)

[2015-03-02 22:08] davelab6 commented on #352
Arrrgh! :)

Bit of a hack, but, can you have the text wrapped in a 0px padding/margin span, and bind that to a dblclick event, and then have the overall item bound to the click event?

[2015-03-02 22:12] jeroenbreen commented on #353
• resizing itself is not a big job.
• vertical resizing is not a big job.
• horizontal resizing is a big job -> since panels widths are communicating, it becomes quite a mess (spent time on it before), especially combined with resizing.

[2015-03-02 22:20] jeroenbreen commented on #352
It's not a technical conflict, it's a fundamental conflict, because however you do this, both the events got fired when you doubleclick (because how could the click-event-watcher 'know' a click is part of a doubleclick?).

Unless... but you don't want this: you build in a delay (the time of a doubleclick), to trace if you first click is followed by a second click, if not: normal click, if so: doub

[2015-03-02 22:39] davelab6 commented on #352
I'm suggesting that clicking the text no longer does anything.

[2015-03-02 22:40] davelab6 commented on #353
That's what I thought. I think my solution is a fine workaround for the demo.

[2015-03-03 11:05] guiguru commented on #340
I just had to check if I had firefox installed. I did and updated it.

these bugs are still there:

1. mouse goes up while outside the menu or over separator (that is the best description): close the menu, no item invoked;
* click & click mode: click on separator: close the menu, no item invoked.

[2015-03-03 11:33] guiguru commented on #337
although it does not fit the metapolator product vision to work with a few glyphs at the time, in one font, like in Glyphs.app _(please, please, please keep this in mind)_ we support doing it—

super-strict filter: “qwertyuiop” fits the filter box right now, that is 10 chars. **make the filter box 3 time wider** (wanted to do that for a while). that would be 30 chars _auto-repeated and mixed_ for

[2015-03-03 11:58] guiguru commented on #352
let’s have a look at what users are doing with that double-click: renaming something, one at the time.

for Masters, Instances, Design Spaces it is completely normal that the first click of the double-click selects the ‘thing’.

Ag is tricky (but because there are two texts, label and Ag on every master and instance item, it is completely necessary to use double-click). a double-click is detected

[2015-03-03 12:06] guiguru commented on #353
@jeroenbreen wrote:

this means browser viewport resizing, no?

and this is vertical divider moving?

and this is column resizing (especially the master and instance one)?

[2015-03-03 12:29] davelab6 commented on #337
Well, that's not what I mean. I mean if I see this:

![screen shot 2015-03-03 at 12 27 00 pm](https://cloud.githubusercontent.com/assets/261579/6462395/9f8a92dc-c1a0-11e4-8d4b-b6b65aa9d098.png)

I want to be able to edit the text like it was a regular rich text editing area, like a word processor.

That's fine, but I want to be able to have `adhesion \n nandnhnensninonnn \n oaodohoeosoiooono` and

[2015-03-03 12:49] guiguru commented on #337
Dave, we need to talk.

I have to get beyond the ‘wants’ and get to the needs, so that I can refine the specimen solution to cover it.

I am aiming for setting up a rich specimen, out of N masters, containing **all** combinations of interest, in 2 seconds, typing and hand-styling is too slow and too error-prone (oh, forgot a couple of combinations…)

[2015-03-03 13:13] jeroenbreen commented on #353
yes (done), yes (vertical moving of the divider (to be sure)), yes.

[2015-03-03 13:17] jeroenbreen commented on #337
https://plus.google.com/115875167299019113468/posts/USXAKkfUX2F

[2015-03-03 14:09] graphicore commented on #340
@davelab6 but chromium/chrome runs a bit faster, which makes it worth the effort to start it from commandline.

[2015-03-03 14:19] jeroenbreen commented on #341
@guiguru Be aware that with the +0.5% thing in the design spaces, you are unable to do this.
![screen shot 2015-03-03 at 15 18 29](https://cloud.githubusercontent.com/assets/6692653/6464164/9d20a820-c1b8-11e4-96dd-0f65c58972a4.png)

[2015-03-03 14:22] guiguru commented on #340
I know some of us cannot believe this, but the command line does not even exist for a lot (as in 9x%) of users.

_(just a reminder, I am not closing down a path to use metapolator, just calling it a minor option)_

[2015-03-03 14:32] graphicore commented on #340
But the gain in speed is real and existing.

[2015-03-03 14:32] guiguru commented on #341
hmmm, we need to check all of this at some point, because you are using a different formula that I.
checking (and even special-casing) the trivial settings (the meaning of the zero, 50% and 100% setting of any slider) news to be done.

[2015-03-03 14:55] jeroenbreen commented on #347
I made the fundament for keeping track of the implications of adding and removing masters from a designspace to instances.
(ignore the purple thing and the feedback text).

[2015-03-03 16:50] jeroenbreen commented on #352
We can now rename Masters, Instances, Design spaces and the Ag!
Ag, not yet with a delayer.
Finishing renaming is on: blur and keypress enter.
Renaming a master will trigger to redraw the current Design Space (so the names in it are up to date)

Do we want live updates of the renaming or is at blur/enter ok?

I sometimes have a bug in it, meaning somebody adds a `<br>` in the contenteditable div..

[2015-03-03 16:52] jeroenbreen commented on #352
And also `&nbsp;` apparently...

[2015-03-03 16:53] jeroenbreen commented on #352
On a sidenote: for performance this is a non issue. But I think for the joy of the user, renaming stuff really counts.

[2015-03-03 16:57] jeroenbreen commented on #347
@guiguru Maybe a weird thought, but who knows...:
Couldn't we leave all the trouble of multiselecting instances behind, when multiselecting is only possible in the 3rd (Fonts) view?

[2015-03-03 17:04] guiguru commented on #352
yes renaming counts. mandatory even.

at blur/enter is fine.

are you using a standard text editing ‘widget’?
at this moment I have no cursor I can place (that really sucks for making a small correction).

pasting also triggered weird results.

[2015-03-03 17:22] jeroenbreen commented on #352
hmm. I guess this is only at the edit col right? Ag, Designspaces are fine?
If so, it's a conflict with the draggable, active on the edit col.

Renaming project also implemented now.

time to eat.

[2015-03-03 17:24] guiguru commented on #347
@jeroenbreen: just the right question, good that you ask

in fact, there is no reason for the UI demo to have multi-select in the instances list. in the Fonts view (the 3rd) quick (de-)activation of several instances for export is by dragging over the export column, not by multi-select.

UI demo: no multi-select for instances. (in the future we will have to, though)

(already updated in https://gi

[2015-03-03 17:39] guiguru commented on #352
yes, it is in the control (3rd) column.

more bugs:

* can the project renaming be ‘in place’, like the rest of them;
* sometimes there is not a text cursor, but an arrow one;
* selection and view states can be bit messed up, after renaming
* Ag editing changes only one item, not all in the list (it can be used by users to classify their masters & instances).

[2015-03-03 18:10] jeroenbreen commented on #347
that is nice.
So I can forget about the blue diamonds right?

[2015-03-03 18:28] guiguru commented on #347
_(insert indo crooner duo joke here)_

you can forget about this:

![2outof4](https://cloud.githubusercontent.com/assets/4458395/6469096/184acba4-c1da-11e4-9442-ef196dac1e6c.png)

but not about this:

![centric4](https://cloud.githubusercontent.com/assets/4458395/6469124/32ce6864-c1da-11e4-9383-01db88891c33.png)

nor about this:

![demoinstances](https://cloud.githubusercontent.com/assets/4458395/

[2015-03-03 22:12] davelab6 commented on #340
One option is to ship a node-webkit binary with the flags. But thats for
end of April...

[2015-03-04 11:06] jeroenbreen commented on #337
@guiguru Made the fundament of the viewport watcher.
If you open you Inspectors Console (right mouse click > inspect element > console) you can see the result of the watch (when you scroll).
I've put a delay of 250ms on the scroll, to detect the end of scroll.

[2015-03-04 14:56] guiguru commented on #337
to me it looks like it works ;^}

[2015-03-04 17:29] davelab6 commented on #332
@graphicore can this be closed?

[2015-03-04 17:59] graphicore commented on #332
yes, i think so, but the "maybe/later" interfaces are not yet there and not everything has been tested, so there will still be some bugs.

[2015-03-04 18:20] guiguru commented on #347
I have synced the spec with all said here up to now

[2015-03-04 18:26] davelab6 commented on #332
Rather than close lets move this to the next milestone. I've also turned the points into checkboxes, please check I ticked off what is done correctly :)

[2015-03-04 18:28] davelab6 commented on #337
Yep, the viewport resizing is now working great!

[2015-03-04 18:55] guiguru commented on #337
I have synced the spec with all said here up to now

[2015-03-04 19:08] guiguru commented on #353
since browser viewport resizing is already a non-issue, I have taken out Dave’s nice to have.

@jeroenbreen just brainstorming here (maybe it helps):

so the problem is column resizing and it is because the masters and instances column appear in 2 views.

I just want to note that when we are not performing a sliding transition, the view is very static: conceptually we could ‘nail down’ the 4 corne

[2015-03-04 19:14] jeroenbreen commented on #353
Probably when I dive in it again, I will find a decent way to controll it. When I dove in it before it got quite a mess, but most of the times when you restart from scratch - taking the lessons learned from the 1st time - its much more doable.

[2015-03-04 19:37] jeroenbreen commented on #337
@davelab6

This last commit is not about the window resizing. Its about a much cooler feature :) Detecting which glyphs are visible inside the specimen window (while scrolling).
See attachmen: console.
![screen shot 2015-03-04 at 20 34 19](https://cloud.githubusercontent.com/assets/6692653/6491510/ece49466-c2ad-11e4-855e-bd4e8cdefda5.png)

[2015-03-04 23:44] jeroenbreen commented on #337
@davelab6 I redid the lineheight implementation. Think it now works as it should.
@graphicore for the overlapping I had to use float:left and negative margins, maybe you could add knowledge on how to do this.

[2015-03-05 00:40] davelab6 commented on #337
perfect!

[2015-03-05 14:27] guiguru commented on #337
![ropecurve](https://cloud.githubusercontent.com/assets/4458395/6505845/57ef0442-c346-11e4-9660-9a2da008e195.png)

I have now an absolute function to calculate the size rope input. it is above. here is how it works:

* x is input pixels, y is output font size;
* when x=0 the font size is 10 (our minimum) and the rope has to be moved 20 pix to get to size 11;
* when x=400, font size is 100 and the

[2015-03-05 20:47] jeroenbreen commented on #347
On my way with the blue diamonds. Had to restructure quite a bit to make this (starting to) work, but I am on my way. D3 by the way is really great to do this.

![screen shot 2015-03-05 at 21 43 51](https://cloud.githubusercontent.com/assets/6692653/6514212/eace63a4-c380-11e4-8236-7f132feb7989.png)

[2015-03-05 20:55] davelab6 commented on #347
Great! i'd prefer to make progress on the specimen in the API, since
without the masters specimen we can't have masters to make instances from
:)

[2015-03-05 21:20] jeroenbreen commented on #347
yes, hope to make a step with that tomorrow.

[2015-03-06 13:03] davelab6 opened #360 "IA: Customize specimen view colors?"
Being able to invert the colors of the specimen view, to see white type on a black background, with a single click and hotkey, would be a useful refinement.

Since the specimen uses area of color, in fact this would require 'specimen color themes' with a dictionary of colors.

Being able to set the colors from within the application would also be nice to have, but even less useful.

How could this

[2015-03-06 17:07] davelab6 opened #361 "IA: Purple Pill?"
I would like to suggest a 'Purple Pill' feature: somehow include the Red Pill's text editor, so that it is possible to edit the CPS in the demo from within the demo webpage.

I wonder that the Help or Project menus could have a 'Developer Mode' or 'Red Pill' checkmark item, which shows/hides a 'CPS Panel' to the left of the Parameters panel.

This seems important not for users but for us, when dem

[2015-03-06 17:25] guiguru commented on #361
I would not like that anyone **could get the idea** that the UI for font designers and typographers would rely on, or include, CPS/text hacking work (and knowledge). they would immediately conclude that we have no idea what good software product making is.

I would really welcome a demo where in one tab runs red pill (“here is our technical proof of concept”) and in another the blue pill (“and thi

[2015-03-06 17:33] davelab6 commented on #361
So the Help/Project menu could have a `Developer Mode ⏎` item, which opens red pill in a new window?

[2015-03-06 17:43] guiguru commented on #361
that is an OK compromise for me.

[2015-03-06 17:58] davelab6 commented on #361
Okay :) I will say that an increasing number of 'creative pros' are becoming happy with CSS, Python, JS, Processing, etc etc, and self-extensibility is the USP of RoboFont which is widely considered the best font editor available to the public today.

[2015-03-06 18:02] guiguru commented on #361
it is still just a drop in the ocean. this is fundamental to my trade

[2015-03-06 18:05] davelab6 commented on #361
Understood :)

[2015-03-06 18:05] #361 closed

[2015-03-06 18:06] davelab6 commented on #305
Add `Developer Mode ⏎` item to the Help menu which opens www.metapolator.com/red-pill-demo in a new window

[2015-03-07 00:36] davelab6 opened #362 "Make app page metadata good for web indexing and social sharing"
- [x] Here is purple pill on G+:

![screen shot 2015-03-07 at 6 03 27 am](https://cloud.githubusercontent.com/assets/261579/6538991/d44ccfc0-c48f-11e4-9550-e9ef9ec1604e.png)

- [ ] Here is the slider page on Google Search:

![screen shot 2015-03-07 at 6 05 12 am](https://cloud.githubusercontent.com/assets/261579/6539002/f729b0d0-c48f-11e4-8ab9-12fb0ac7041f.png)

The HTML can thus be updated to sho

[2015-03-07 08:02] jeroenbreen commented on #362
ok, but how does one do that?

[2015-03-07 08:02] jeroenbreen opened #363 "Make a switch so I can easily toggle between blue and purple while developing"

[2015-03-07 08:13] graphicore commented on #362
https://developers.google.com/+/web/snippet/

use maybe open graph (og: tags), then it should work on facebook too.

http://ogp.me/

facebook has a nice inspector for such data: https://developers.facebook.com/tools/debug/

maybe g+ has something similar

[2015-03-07 08:31] jeroenbreen opened #364 "Implement Coens solution for word wrapping"
Coen made this https://plus.google.com/109980284165962250622/posts/cHfgdaiQu4f
It prevents words being disrupted and it prevents a line starting with a space.

[2015-03-07 17:07] zoghal opened #365 "firefox 38.0a2 :TypeError: Proxy is not a function"
hi,
in demo : http://metapolator.com/purple-pill/ on firefox 38.0a2 on windows show me this error :
[code]
because the proxy is Object not a function. [refrence](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy)

[2015-03-07 18:08] graphicore commented on #365
Thanks for reporting!

Does this load for you or do you get the same error: http://metapolator.com/red-pill-demo/stand-alone.html

From the examples of the reference Proxy is a function`var p = new Proxy({}, handler);`, because a constructor is a function.

The error rather describes that `Proxy` is not defined as the `Proxy object` that we expect it to be. Try this:
[code]

Probably require.js, o

[2015-03-07 22:45] zoghal commented on #365
Yes, I'm still having problems.[screenshots](https://www.dropbox.com/s/kou5ezhqe0zuul4/Screenshot%202015-03-08%2001.58.06.png?dl=0)

error is from lines:
[code]

I agree. There is no 404 and only two requests sent to the server[screenshoot](https://www.dropbox.com/s/u7vamgohhaa8uvs/Screenshot%202015-03-08%2002.13.07.png?dl=0)

[2015-03-08 23:24] graphicore commented on #365
I have the same on Linux with 38.0a2.
When I do `return new proxy(target, new this(whitelist));` it works. I guess Mozilla wants to enforce the usage as a Constructor only, otherwise it is a bug. We could file it to find out.

I'll fix it in master, then the next updates of the demos will make this go away.

[2015-03-08 23:30] #365 closed

[2015-03-09 15:21] #363 closed

[2015-03-09 15:32] jeroenbreen commented on #337
@graphicore and @davelab6

Two fundamental things I am still a bit in the dark about.
1)
The two sliders Lasse provided, which deliver a mix to the engine. I now placed them on the parameters panel and they produce a master specimen.
But isn't this actually an istance, since we are mixing 4 masters (right?), so the sliders then are actual design space sliders and the svg's supposed to be in the in

[2015-03-09 16:00] graphicore commented on #337
@jeroenbreen This is exactly why I want to do the CPS master class with you, so that you know what's going on and how to change it. I think also @guiguru could learn a lot from it for his ui-work.

[2015-03-09 16:02] jeroenbreen commented on #337
ok, perfect. For my normally any office day will suit.

[2015-03-09 17:43] jeroenbreen commented on #337
I have introduced some of @graphicore s Devanagari characters to the specimen.
Answering @davelab6 and @guiguru request for an input system, I now use it like this:
`<dvKHA>` and `<dvI>`. Since the latin representation of the character has different lengths, I need an opening sign as well as a closing sign to trace it.
![screen shot 2015-03-09 at 18 41 24](https://cloud.githubusercontent.com/asset

[2015-03-09 17:55] jeroenbreen commented on #337
btw. realising more and more what a piece of art @graphicore has made.

[2015-03-09 19:57] davelab6 commented on #337
On 9 March 2015 at 23:13, Jeroen Breen <notifications@github.com> wrote:

AWESOME

[2015-03-10 00:54] davelab6 commented on #337
Are you grokking the CSS-like nature? :)

[2015-03-10 11:25] jeroenbreen commented on #337
I have been working on the filter input field, combined with foreign input and linebreaks.
I am having some trouble with \n, so for now I am using *n instead.
• linebreak => *n
• paragraphbreak => *p
• unique characters => aap = ap (linebreaks and paragraph can be used multiple times)
• foreign input opened (<) and closed (>), in this master present <dvI> <dvA> <dvKHA> <dvBHA> <dvDA> <dvDHA> ( @gr

[2015-03-10 11:42] guiguru commented on #337
couple of comments:

* are there not input standards (/codes) for font designers? I say too much work to reinvent that wheel.
* I still have to do (a bit) of redesign of the filters, after the parameter panel; so do not polish too much right now.

on that note: here is a **quick experiment** I would like to see: multiply out the input into pairs.

what that means is that after the box input has be

[2015-03-10 12:00] jeroenbreen commented on #337
maybe that is a good subject for in Berlin?

[2015-03-10 12:28] guiguru commented on #337
the quick experiment? yeah

[2015-03-10 12:42] davelab6 commented on #337
You guys are going to reimplement impallari test page text piece by piece
;) I agree the 2 for loop text is useful,  but robofont out of the box has
a metrics windows with additional inputs left and right of the main one
that allows you to set a few glyphs before and after every glyph in the
main one. so you can very fast see a string in comparison to the n or o or
both either side

[2015-03-10 12:57] guiguru commented on #337
@davelab6 good warning and hint

let it be understood that I do not strive to reimplement that work of art, I am aiming for other goals.

when I revisit the specimen, I will check out if there is useful material on Pablo’s page (like maybe a load of pangrams) that we can ask him, very kindly, to provide us as a service

[2015-03-10 13:03] davelab6 commented on #337
:) Its libre licensed and we can include a json bundle of  pangrams innour
own src tree.

[2015-03-10 15:46] #364 closed

[2015-03-11 12:07] jeroenbreen commented on #353
@guiguru @davelab6
I made a new try for the dividers.
check http://metapolator.com/purple-pill/index2.html for development mode.

The construction is working, you can resize panels, and it works combined with resizing the window (which was another pain in the ass).
But as you see, its quite buggy:
• the response is a bit bad, when dragging fast
• when you are in the second or third view, the repos

[2015-03-11 12:27] guiguru commented on #353
from my quicky test right now, that looks thoroughly OK.
if tomorrow was launch day, I would not freak out.

you may show me some uglies you can trigger when you visit me, then I can tell you if it is worth fixing.

[2015-03-11 13:20] jeroenbreen commented on #362
okay, never worked with that before. I now added

      ` <meta property="og:title" content="Metapolator - Demo" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Metapolator is an open web tool for making many fonts. It supports working in a font design space, instead of one glyph, one face, at a time." />
        <meta property="og:url" con

[2015-03-11 13:31] jeroenbreen commented on #340
@graphicore maybe you know this:
Peter wants this special event in the menus: mousedown on menu-head (menu opens) -> (mouse still down) move to menu button -> mouseup.

In Firefox the move over a menu button is interpreted as a hover, therefore the hoverstyling fires. But Chrome (and Safari) don't. Apparently there is a difference within css between hover and (than this would be sort of a) drag?

[2015-03-11 14:36] graphicore commented on #340
@jeroenbreen https://code.google.com/p/chromium/issues/detail?id=122746
Probably you'll have to write JS for this instead of doing it in CSS(?) You could try to abuse the drag* events for this, because as far as I can see mouseover etc. won't work :-(

[2015-03-11 16:21] jeroenbreen commented on #340
ok thanks.

[2015-03-11 16:35] jeroenbreen commented on #340
solved with jquery hover.

[2015-03-11 16:38] jeroenbreen commented on #347
@guiguru Do the diamonds in the design space have any interactivity?
I can think of
hover -> highlighting its 'partner'-diamonds (when having multiple axes)
click -> setting that instance as current instace

[2015-03-11 16:51] guiguru commented on #347
very good question.

in this development phase (i.e. the whole working UI demo) I would not even start spending effort on it. bigger fish to fry.

looking further into the future, I will be very careful about what to make interactive in that space. I know other things (families of instances, adjustment master sequences) will be interactive in the same space (‘spanning’ them on master dimensions) a

[2015-03-11 16:54] jeroenbreen commented on #340
this one can be closed now @guiguru ?

[2015-03-11 16:55] guiguru commented on #340
I will have to test, can do that tomorrow morning.

now I want to continue speccing the parameter panel.

[2015-03-11 23:43] davelab6 commented on #362
Great! Lets wait a week or two and then see how things look on
fb/g+/search/etc

[2015-03-11 23:48] davelab6 commented on #340
For me this is fine for 0.2.0

[2015-03-12 00:06] davelab6 opened #367 "Store state locally"
Today the state of the app is lost when the user closes the browser tab.

So we should persist the state locally, so that each time you visit the page, the re-names, instances, etc you've set up there from previous visits is still available to you.

Libraries for local state storage to consider:

- http://hood.ie ([cheatsheet pdf](http://hood.ie/dist/presentations/hoodie-cheat-sheet.pdf))
- https:

[2015-03-12 03:42] davelab6 opened #368 "tabindex set up"
Metapolator should have a sensible tabindex

http://www.w3.org/TR/html5/editing.html#sequential-focus-navigation-and-the-tabindex-attribute

@guiguru please decide if this should be in the 1st or 2nd round of development and set the milestone to 0.2.0 or 0.3.0 appropriately :)

[2015-03-12 11:02] guiguru commented on #340
OK, tested. safari and firefox.

I am really happy with the interaction, thanks for making it happen (it really matters).

**one more _tiny_ thing** for usability:

on mouse-over of the menu button itself (the thing with the triangle) change the background color (to something ,visual design process starts on monday). this way users will see (and get used) to the size of the actual button and be ab

[2015-03-12 11:58] jeroenbreen commented on #337
@graphicore is it possible you provide some feedback in `glyphRendererAPI.get` whether the svg (def) is ready, so I can add and remove a loading class.

[2015-03-12 14:45] graphicore commented on #337
yes, I think that can be done. How would you like it?
I could either set a class on the returned element itself or I could provide a `on`/`off`subscription interface for you.
The subscription interface could have channels like "`renderstart`/`renderstop`" and provide the master+glyph names as event data, or it could have channels for each master+glyph name and provide the events as data.
I think I

[2015-03-12 15:28] jeroenbreen commented on #337
This would be sufficient already I think. So that will mean you add a class when the use is placed and remove it when the def is there, right?

I was not aware yet of the revoke method. So that means I will have to keep track of which glyphs are (not) being displayed (anymore), right? How do I use this method, I so `_compareAndRevoke` but don't understand exactly how it works.

[2015-03-12 15:36] #340 closed

[2015-03-12 16:40] davelab6 commented on #322
@graphicore do you expect to do this before may 1?

[2015-03-12 16:41] davelab6 commented on #250
@graphicore do you think you'll implement this differently before may 1?

[2015-03-12 16:47] #305 closed

[2015-03-12 16:48] davelab6 commented on #342
@guiguru to the task checkboxes at the top look ok?

[2015-03-12 16:52] davelab6 commented on #341
@guiguru I believe the next action here is for you to make a decision on the conflicting needs I raised above

[2015-03-12 17:37] davelab6 commented on #337
@guiguru I have updated tasks at the top, please review and edit

[2015-03-12 17:42] davelab6 commented on #347
@guiguru please edit the tasks at top to define next steps here

[2015-03-12 17:43] graphicore commented on #250
@davelab6 it's becoming unlikely. Do you need it?

[2015-03-12 17:54] graphicore commented on #322
@davelab6 nope, I'd prefer doing #323 before this one. Because #323 will change produced docs etc. For this one I was hoping to embed it into a broader discussion about CPS.

My perfect roadmap would be something like this:

1. #323
* CPS masterclass
* then some articles and documentation about everything metapolator (including some proposals)
* find people who are interested in developing this st

[2015-03-12 18:17] davelab6 commented on #250
Well, yes, if 'it' is,

But I thought that your red-pill-demo has `interpolate-2.cps` which allows to export an instance that is 50% between two masters, and there's also `metapolate-2.cps` to do it via metapolation too

[2015-03-12 18:57] graphicore commented on #250
What this did at one stage, when it worked, was to generate files like `interpolate-2.cps` where `2` can be any number. It maybe worthwhile fixing this. In the long run I'm thinking about a mechanism that would just generate the rules needed for this on the fly, consider a  `@generate interpolate 2`.

Having a version of the interpolation cps manifested as a file can be desirable though, to make c

[2015-03-13 09:21] davelab6 commented on #250
That sounds ideal. Rename issue to `Design & Implement a new @interpolate operator + command` ?

Agree, but wouldn't a `@generate interpolate 2` just be a shorthand way of referring to the 'default template' version, and if you want it custom, then you get the template CPS some someplace and customise it instead of using hte short hand

[2015-03-13 11:29] jeroenbreen commented on #343
ok @guiguru  I am having some confusion about the range, maybe the same as @graphicore had.

In the wiki you are saying

and also

To my understanding a range is always about a multiple selection.
So "A" has weight 100, "B" has weight 110, "C" 200. So the range is 100 - 200, and if I change the range from 100 - 300, then A stays 100, B 120 and C 300. Right?
(on a sidenode, I am curious about what

[2015-03-13 12:13] guiguru commented on #343
mostly, but not always.

2 of the 8 possible parameters we deal with—Weight and Tension—are point parameters. Select one glyph, which is a bunch of points, is bound to return a range of values for Weight and Tension.

Weight is the display name I have given to the overall stroke with at each point. I realise this works very elegantly when working at master level (Weight × 1,09 + 7) and glyph level

[2015-03-13 14:16] jeroenbreen commented on #343
Can this cause a range of ranges? Or is that just a range?

[2015-03-13 14:29] jeroenbreen commented on #343
Something else:
suppose I have 2 masters [1] and [2] and have this selection:
a[1], b[1]. c[1], a[2]
master[2] has a x1.1 on the width (at master level)
the widths of the glyph are:
a[1] = 50, b[1] = 50, c[1] = 50, a[2]=50 (effectively 55, right?)
how does my range look like? 50 - 50 or 50 - 55?

(inmediately derived from this: is 50 - 50 a range, or just represented as a single value?)

[2015-03-13 14:44] guiguru commented on #343
(first of all, I realise I forgot to spec how when part of a selection has a expression and the rest not, how a expression range is built by inserting trivial values, 0 for + and -, 1 for × and ÷, etc) for the missing ones. will spec this when I return from shopping!

the answer is that on master level
Width × 1
          to1.1

is displayed, on glyph level
Width = 50
(effective) 50
            to

[2015-03-13 15:31] guiguru commented on #343
no. there is no (well, I do not see possible) range of ranges.

per level->parameter->operator only one range of values (instead of a matrix) can appear.

[2015-03-13 16:00] guiguru commented on #343
https://github.com/metapolator/metapolator/wiki/working-UI-demo#ranges

[2015-03-13 16:20] allcaps commented on #362
I saw that meta tag description is missing too. AFAIK meta tag description is what is used as page description in Google SERP. I don't think it hurts to add it as I'am not sure if Google Search picks up the og:description.

It's also adviced to create an descriptive meta title: https://support.google.com/webmasters/answer/35624?hl=en
Eg: "Metapolator – Open web tool for making many fonts"

Finally

[2015-03-13 17:32] guiguru commented on #343
new section: https://github.com/metapolator/metapolator/wiki/working-UI-demo#layout-and-typography-hints

[2015-03-13 17:33] davelab6 commented on #343
@guiguru should there be a default operator, perhaps `=`?

[2015-03-13 17:45] guiguru commented on #343
no need for a default (which would be mostly wrong). when users add an expression, they pick parameter **and** operator in one go. just what they wanted. done.

[2015-03-13 17:47] davelab6 commented on #343
I dunno :) When I use the purple pill's implementation now, it seems annoying to me to have to select an operator each time, when what I usually want is `=`

[2015-03-13 17:52] guiguru commented on #343
in reality, = will be already there 6 out of 8 times. that means there will make no sense or not allowed to add a = expression.

I expect ×, ÷, +, - to be used a hell of a lot, once users get the hang of it. that is the Metapolator way.

[2015-03-13 18:03] davelab6 commented on #343
Ah yes, sure. Okay great :)

Ah, that isn't in https://en.wikipedia.org/wiki/Zapf_Dingbats#Zapf_Essentials so we need to use an icon font for something similar.

http://getbootstrap.com/components/#glyphicons-glyphs has

- [ ] glyphicon-triangle-right
- [ ] circle-arrow-right
- [ ] glyphicon-arrow-right
- [ ] glyphicon-chevron-right

[2015-03-13 18:39] guiguru commented on #343
Simon will make us one (metapolator nib)

[2015-03-13 19:21] davelab6 commented on #362
On 14 March 2015 at 00:20, allcaps <notifications@github.com> wrote:

I prefer "Metapolator – font editor for designing typeface families"

[2015-03-13 20:53] allcaps commented on #360
Column width
------------------
It would be useful to have the possibility to adjust the column width of the specimen panel. Users will be able to judge the smaller font sizes at sensible line lengths. This is important because text set in long lines tends to look smaller than the same text set in a shorter line.

![screen shot 2015-03-13 at 21 52 20](https://cloud.githubusercontent.com/assets/196

[2015-03-13 21:54] jeroenbreen commented on #343
@simonegli https://icomoon.io/ is a nice app to do this: Illustrator > export svg > import in Icomoon > export as font. It would be great if we do this for all icons.

[2015-03-14 00:10] davelab6 commented on #343
Proprietary software for making fonts? nasty :) FontForge has 2 scripts for
converting SVGs into fonts :)

[2015-03-14 06:04] davelab6 opened #370 "Save/Print Specimen as PDF"
Use https://github.com/devongovett/pdfkit to draw the specimen area into a PDF to save offline and print

[2015-03-14 08:55] jeroenbreen commented on #343
ok :)

[2015-03-14 16:06] guiguru commented on #347
tested in firefox.

I have edited at the top that for sure the instance list drives the metapolation specimen (it is master list that is under consideration)—open item (wiring to specimen).

also I have unchecked that the local menu is OK, it is missing one item (Duplicate) and the label on Delete is wrong (no ‘…’ should be there, my spec mistake: corrected).

[2015-03-14 16:22] guiguru commented on #337
review and edit: done

[2015-03-14 20:08] guiguru commented on #342
tested in firefox.

the local menu I adjusted the spec a tiny bit, because I could not justify some differences with the instance list menu.

[2015-03-14 21:21] guiguru commented on #341
OK, I have thought this over.

the **BIG** issue is not whether it is good to allow masters to be displayed in the metapolation specimen, the issue is that both masters and instances list live on two views **and perform different jobs on each**.

**solution:** (and I apologise that I did not think about this before): we maintain for both lists **two separate select states** (i.e. of the third colu

[2015-03-14 21:26] guiguru commented on #368
simply must be

[2015-03-15 10:59] allcaps commented on #360
I collected some specimen panel feature ideas from various sources (G+, wiki, other apps, my brain):

* _Outline mode_. See how strokes join and overlap. Display center line and/or skeleton.
* _Comparison view_. Multiple outlines on top of each other to see differences.
* _Cartesian info_. Show points and coordinates.
* _RSS feeds_. Display actual words and sentences. Refresh option.
* _Reflect_.

[2015-03-15 13:17] davelab6 commented on #360
I agree that the current specimen view enables side by side comparisons, and it could enable 'on top' comparison with transparency, like this:

![showinterpolations](https://cloud.githubusercontent.com/assets/261579/6656123/2b5331be-cb58-11e4-903c-7f354fca5bf5.png)

It could also allow toggle-based comparison, opacity crossfading, and "diff'ing" views as demonstrated in http://xuv.github.io/design

[2015-03-16 10:40] jeroenbreen commented on #343
@guiguru
I am working on the wiring of the parameters. Still working on my understanding of it, eg:

suppose I have 2 masters selected. They both have a setting for width.
(Because we are in 'font by' word) we have the "A" of master 1 and the "B" of master 2. A has width 100, B has width 200.
From here I can think of several scenarios:
A) if master widths are both *1.2 then A -> 120 and B -> 240 r

[2015-03-16 12:27] jeroenbreen commented on #343
@ everybody: since the parameters are not yet wired to the engine:
check http://metapolator.com/purple-pill/index2.html for the functionality (=faster).

[2015-03-16 12:43] davelab6 commented on #343
Great! After the + pop up the focus should be the newly created input :)

[2015-03-16 14:04] guiguru commented on #343
(Because we are in 'font by' word) we have the "A" of master 1 and the "B" of master 2. A has width 100, B has width 200.

_(just a note: ‘font by…’ setting has no influence whatsoever on what can be selected, and thus on the parameter panel.)_

A) if master widths are both *1.2 then A -> 120 and B -> 240 right?

yes.

B) if master 1 has *1.2 and master 2 has *1.5, what happens?

width of A = 120,

[2015-03-16 14:51] jeroenbreen commented on #343
ok, clear

[2015-03-17 15:40] jeroenbreen commented on #343
Okay, slowly it is getting somewhere, still a long way to go. This is bigger than I first realized.

[2015-03-17 15:48] jeroenbreen commented on #343
![screen shot 2015-03-17 at 16 48 00](https://cloud.githubusercontent.com/assets/6692653/6691184/6d487c5a-ccc5-11e4-8ea5-259aaa4bdc80.png)
Meneer van Dale example

[2015-03-17 19:37] guiguru commented on #343
it is all exactly specified here: https://github.com/metapolator/metapolator/wiki/working-UI-demo#the-math

also the inverse (calc-back) is specified: https://github.com/metapolator/metapolator/wiki/working-UI-demo#changing-values

the answer above should be 110 (×1.5 ÷1.5 does nothing, 80 + 30 = 110)

[2015-03-20 11:52] jeroenbreen opened #371 "design space missing things"
- [x] new master -> value 0
- [x] 1 master dropped already creates instance
- [x] remove % in slider setting numbers; instead: first decimal behind the dot
- [x] overall slack-slider system
- [x] sliders grow/shrink with design spaces panel width (@ simonegli will spec that)
- [x] this panel scrolls when too many sliders for its height
- [x] instance markers are colour coded to match those in inst

[2015-03-22 19:10] davelab6 opened #372 "Improve CSS for slightly narrower screens"
The current purple pill wraps the top most panel content on my X200, but everything else is ok:

![screenshot from 2015-03-22 19 07 15](https://cloud.githubusercontent.com/assets/261579/6770910/cf36f5cc-d0c6-11e4-9a1c-3dff480f54b6.png)

[2015-03-25 16:29] latsami opened #373 "Local install on Linux"

[2015-03-25 17:45] davelab6 commented on #373
That might be because some systems have the executable as `nodejs` and some as `node`

As I recall, in the VM, the `/vagrant` directory is the directory you run the `vagrant up` command from.

However, the `npm install metapolator/metapolator` is I think what @graphicore currently recommends for installing Metapolator.

I believe that installing metapolator by itself won't do much today - you'll n

[2015-03-25 17:46] davelab6 commented on #373
I think that the project should have clear and tested installation documentation by the time that its first release (0.2.0) is out, which ought to be just before LGM

[2015-03-25 18:22] graphicore commented on #373
Yeah, we'll have to update all that until then.

[2015-03-25 19:00] graphicore commented on #373
I would recommend at the moment `git clone -r ...; npm install. I don't see why we should use these other distribution models right now, there's not much people can do with metapolator at the moment anyways, they need a keen interest in figuring out technical things (because our documentation sucks). A developer however should be able to use git and npm to a certain level …

For a 0.2.0, we can di

[2015-03-26 14:22] jeroenbreen commented on #337
I want to propose a small adjustment for the "strict 3 matrix". By adding a space after each combination and a linebreak after each set, the matrix, becomes a matrix and its purpose becomes more clear I think.
Before:
![screen shot 2015-03-26 at 15 15 08](https://cloud.githubusercontent.com/assets/6692653/6848104/93d1f79a-d3cb-11e4-8c26-6b177b1c6b8b.png)
After:
![screen shot 2015-03-26 at 15 15 51

[2015-03-26 14:29] jeroenbreen commented on #372
hmm, for some reaseon the letters on your computers demand more space than at mine, so I am not sure if I fixed it now. Can you confirm @davelab6 ?

[2015-03-26 14:40] guiguru commented on #337
the space after every pair looks very good, to me.

the return after every row (where the first glyph is the same for all the pair), is not very flexible: add a /d to the input and the lines wrap awfully. and the cl font not using the whole line is inefficient (extra scrolling for users).

the purpose for me is to guarantee all pairs of the glyphs of interest. not the matrix by itself.

[2015-03-26 15:28] jeroenbreen commented on #337
ok, updated.

[2015-03-26 15:34] guiguru commented on #337
thanks!

[2015-03-27 13:16] jeroenbreen opened #374 "Adding a master with stateful.project.createMaster() doenst work"
I want to add a master to the project (this is done after dragging 2 masters into a design space)

[code]

I get this in my log:

[code]

[2015-03-27 15:27] graphicore commented on #374
I updated the code in the `gh-pages` branch, here is a working example that also creates a new CPS file (you don't need that if you already have one lying around):

[code]

@jeroenbreen Please close if the problem is gone for you and comment otherwise.

[2015-03-27 15:31] graphicore opened #375 "Reuse/Copying of CPS"
@jeroenbreen wrote:

For the current situation I created a parameters.cps (it's almost the same as scale.cps). So I think when you add a master, it just should have a copy of this parameters.cps, so it can have its own parameters. Do you agree with that approach?
Is there a special method for copying a cps file or is it automatic a copy?

[2015-03-27 16:15] #374 closed

[2015-03-27 17:11] graphicore commented on #375
No. To keep it DRY and well structured you should reference `parameters.cps` in your new master cps via `@import "parameters.cps";` here is an example:

[code]

No, there isn't and this is not recommended at all. Use `@import` instead and reuse the old file!

However, you can create a copy by saving the serialization of a ParameterCollection to a file

[code]

[2015-03-27 22:21] davelab6 commented on #337
Hmm, I'm actually thinking Jeroen's grid is better, because its quite hard to locate a specific pair this way, whereas with a true grid you can size the text so that the cols all fit on one line, and then quickly find the 'eg' pair by looking across for the e col and then down to the f row. The way it is, you have to hunt around with the eye a bit longer. But this is a implementation detail, haw h

[2015-03-27 22:24] davelab6 commented on #337
@guiguru when the 3-state filter strictness toggle changes state, should be label (which is currently always `strict`) be updated to reflect the current state?

[2015-03-27 22:25] davelab6 commented on #371
Please add `-- [ ]` style list of tasks for this, so we can see how much progress is made/is left to do

[2015-03-27 22:27] davelab6 commented on #362
Hmm, G+ now looks good, G search not there...

![screen shot 2015-03-27 at 6 27 11 pm](https://cloud.githubusercontent.com/assets/261579/6878117/e397fa48-d4ae-11e4-9240-97ed4d2c123b.png)
![screen shot 2015-03-27 at 6 26 33 pm](https://cloud.githubusercontent.com/assets/261579/6878118/e39d7af4-d4ae-11e4-9e5e-ecfcf172ecee.png)

[2015-03-28 12:53] jeroenbreen commented on #337
Yes at the moment it is a fake (by css) space.

[2015-03-28 13:04] jeroenbreen commented on #362
@davelab6 shouldn't we move the folder to something like 'demo'? All these thematic names we have now....

[2015-03-28 14:03] jeroenbreen commented on #375
So I have this flexmaster.cps with all the parameters in it.
The input boxes set a parameter in this file.
But then I add a new master (test2 in the image) and create a new cps file, with '@import "flexmaster.cps";' as initial input.
Now I edit the input boxes again and it effects both masters (flexmaster and test2).
So what am I doing wrong?

With the sourceCollection.toString()
I got this error:

[2015-03-28 14:08] jeroenbreen commented on #332
@graphicore
It seems that if I remove the base master out of the project.yaml things don't work anymore. I understand that I need base.cps for everything to work, but I would like to get rid of the base master, because this master has no parameters (new definition) in it, so the purple pill can't edit it wright?
My idea is to start with the flexmaster, and all parameters at 1, so defacto it is the

[2015-03-28 14:49] davelab6 commented on #375
The input boxes are still effecting the flex master cps, not the new cps

[2015-03-28 14:59] davelab6 commented on #332
I like the idea of having the base as a read only master. This forces me to
duplicate and modify from the start.

[2015-03-28 16:32] jeroenbreen commented on #332
But is this master selectable then (considering you couldnt add parameters to it)?

[2015-03-28 16:34] jeroenbreen commented on #375
But it is effecting my new master, and I don't want that :)

[2015-03-28 18:04] graphicore commented on #375
You should have new rules in the new cps file, the one that imports the flexmaster.cps file. These new rules should override the parameters you want to affect. your sliders should change these new rules.
When I say override remember specificity.

[2015-03-28 18:06] graphicore commented on #375
I got this error:
"CPSParserError: (test3.cps) Please check the validity of the CSS block starting from the line #51"

It seems unlikely that toString triggers that error. Also, I'd need a failing example to debug this.

[2015-03-28 18:16] graphicore commented on #332
Flexmaster must inherit from a base, which would be a cps file from an originally imported file. You need to get the initial numbers from somewhere.

You can use base.cps in inter/metapolations, if you like, it is however not useful to directly modify it, in the terms of the tranformations that we do. If you want to do that, I'd take a master that is based on flexmaster + basmaster as a new base f

[2015-03-28 21:14] jeroenbreen commented on #375
woohoo! it worked.

I now did:
`var cpsFile = masterName + ".cps";`
`var cpsString = '@import "flexmaster.cps"; master#' + masterName  + ' glyph, point > center, contour > p  { sidebearingLeft: 0; sidebearingRight: 0; widthFactor: 1; heightFactor: 1; } master#' + masterName + ' point > left, point > right, contour > p {  weightFactor: 1; }';`
`stateful.project.ruleController.write(false, cpsFile,

[2015-03-28 21:33] graphicore commented on #375
That's great!

One note about the selectors:

You probably don't need the `master#masterName ` part, because it is applied only to the first selector of each rule anyways. Also, the `masterName.cps` is probably used only for the master `masterName` anyways.
If it is possible and I'm not mistaken you should be able to remove  `master#' + masterName + ` from both of your rules.

I think a good rule

[2015-03-28 21:55] jeroenbreen commented on #375
correct.

[2015-03-28 22:41] jeroenbreen commented on #332
yes, please.

One other thing, when doing the stateful.controller.queryAll("master") at the start of loading the UI, with master.id I get the master name, how do I get the cpsfile (the filename) associated with it?

[2015-03-28 22:47] #375 closed

[2015-03-28 23:09] graphicore commented on #332
There is a faster way to get all master names, I just found:
I think this should be available via `controller` as well, but you can use it from project. Project is a thing that needs heavy refactoring at some point in the future. I don't know whether it stays the home of this information. But that won't happen very soon, so you can use it.
[code]

For the other thing, there is no public api yet. Y

[2015-03-29 10:23] jeroenbreen opened #376 "Add the space character to project zero"

[2015-03-29 18:17] jeroenbreen commented on #332
Okay, that is working, but I also need to know the children (glyphs) of the master. With `stateful.controller.queryAll("master")` I could find the children by master.children. So if I will use the `stateful.project.masters`, then I also need a way to find the children.

Please, you make the calls how I do things :) I only need to know the cps files from the initial masters, so at the moment I will

[2015-03-29 18:22] graphicore commented on #332
So, maybe you better stay with `queryAll` :-)

You can query for the glyphs (= children) in a master by `queryAll("master#mastername glyph")` but since you need everything anyways the old approach is might be better.

[2015-03-29 18:51] jeroenbreen commented on #332
ok.
Now I was working on `stateful.project.deleteMaster(masterName)`. But it looks as if the corresponding cps file is not being deleted or still cached? Could that be the case?

[2015-03-29 18:57] graphicore commented on #332
Yes, absolutely. I remember that I told you already that deleting masters wont be as easy as adding masters, when you asked me how to add masters ;-)

Do you really need it? If so, file an issue and I will see what it takes and make an estimate there.

[2015-03-29 19:03] jeroenbreen commented on #332
Not per se. I can make a workaround to ensure all my masternames (even so the cps filenames) are unique, even regarding deleted ones.

[2015-03-29 19:09] graphicore commented on #332
So, you need to delete masters ...

You can also empty the ParameterCollection (using `paraColl.splice(0,paraColl.length`) or write an empty string to the cps file (using `ruleController.write(...)`), if that helps.

[2015-03-30 08:10] latsami commented on #373
Hey,
thanks for your answers.

npm install metapolator/metapolator indeed output something after quite some time. It's a bit confusing that there is no log output right away.

I ran the script `test.sh` in app/tests/lib/export. Here's the output:

    ➜  export git:(master) ✗ ./test.sh
    Testing Inconsolata-PAN
    module.js:338
        throw err;
              ^
    Error: Cannot find module 'h

[2015-03-30 10:41] jeroenbreen opened #377 "Getting parameters (and properties) of CPS by the API"
@graphicore
How can I get the (already set (but in my current setup, these are always set)) parameters (weight, width, height, sidebearing left and right) (in other words: the factor) and how do I get the calculated value for these?

Just for completeness of understanding, please confirm. The above is, because:
• weight is a 1:1 translation of a property (onLength)
• sidebearings aren't weaved in

[2015-03-30 15:03] graphicore commented on #377
As we recently clarified, there are no "Parameters" in CPS. Parameters are rather concepts of changing a font in a particular fashion. The implementation (CPS) knows only "Properties"

One unfortunate circumstance is that our legacy is 500+ occurrences of the word "Parameter" in the current code, APIs, file names etc. You have to translate that in you mind until I get to rename all that into "Prop

[2015-03-30 16:02] jeroenbreen opened #378 "Replacing the CPS of a master"
I am now working on going from the situation of a master based on 2 (base)masters (metapolation) to (that same) master based on 3 (base)masters. I wrote a script that rewrites metapolation-2.cps to metapolation-n.cps. So every time a (base)master is added to the designspace, I make a new cps string and replace the cps file with it.

[code]

But something goes wrong, I get
[code]
Not sure if this h

[2015-03-30 16:26] jeroenbreen commented on #377
apparently since my cps is like this:

[code]
I cannot find those --> the right word here (now I am confused. I thought all these self made variables like widthFactor we call parameters, and the 'real' cps stuff, like onLength are properties) <-- with `stateful.controller.query("master#name")`.

When I use
[code]
it works. But that seems a little overdone by me.
So I thought changing the cps to
[c

[2015-03-30 17:18] graphicore commented on #377
Everything in cps is always a property, no matter how it got there.
A parameter is more like a concept "the width of a glyph", but that is independent from how it can be changed i.e. setting different values to properties.

I cannot find those with `stateful.controller.query("master#name")`

Of course not, they are applied to `glyph` and to `point > center` and to `contour > p`, but not to `master

[2015-03-30 17:37] graphicore commented on #378
I think I need more context on this. Is there a way for me to reproduce this in my browser?

[2015-03-30 18:02] jeroenbreen commented on #377
hmm...
[code]

gives
[code]

[2015-03-30 18:11] graphicore commented on #377
Is that the cps of `master#regular`?

[2015-03-30 18:24] jeroenbreen commented on #377
yes, it is lib/parameters.cps

this is my project:

[code]

[2015-03-30 18:37] jeroenbreen commented on #378
yes, go to http://metapolator.com/purple-pill/
1. With the two-circles-button (next to the ufo button) create a total of 3 or more masters
![screen shot 2015-03-30 at 20 28 01](https://cloud.githubusercontent.com/assets/6692653/6903548/518cba98-d71b-11e4-9715-de3f0901b1e9.png)

2. drop these masters (one by one) on the design space (after pushing the "design spaces" menu button on top).
So you hav

[2015-03-30 20:18] guiguru commented on #341
for all facts and purposes…

[2015-03-30 20:43] guiguru commented on #371
oi, that is what I just said ;^}

[2015-03-30 20:46] guiguru commented on #337
tomorrow I will spend some time with the filter and all overall specimen control

[2015-03-31 12:47] jeroenbreen commented on #371
@guiguru
@davelab6

I am halfway with reconstructing the control design space.
The development mode is back in business. For purely looking at the sliders behaviour you might prefer this one, because of the higher speed:
http://metapolator.com/purple-pill/index2.html
(There are also some problems with the real svg mode, as is being discussed here: https://github.com/metapolator/metapolator/issues/

[2015-03-31 13:03] guiguru commented on #371
so I did (since you have been right before, and me wrong, about more that a couple of things).

the slack master interaction is better. it exactly addresses all the problems (we discussed them) that the normal mixer has. the slack interaction shows (no **is**) the 100% rule, and every unique metapolation recipe maps to one unique slider setting, and vice versa.

born out of necessity (a good desig

[2015-03-31 13:07] jeroenbreen commented on #371
ok, moving forward then.

[2015-03-31 21:33] jeroenbreen commented on #371
ok, most of the drag interaction is working now.

TODO:
• changing (by `select`) the slack masters
• deleting a master
• have to look at some scenarios like adding a master, adding an instance, copy instance; some unexpected results with the axes value here.

![screen shot 2015-03-31 at 23 33 11](https://cloud.githubusercontent.com/assets/6692653/6929833/5a4ecab6-d7fe-11e4-972c-277a6ab65360.png)

[2015-03-31 21:47] guiguru commented on #371
cool to see some of the magic interaction already in action.

_(I guess you know that moving the slack master does not yet change **all** the non-slack proportionately, as it should. I also spotted that the slider numbers of largest non-slack and slack do not add up to 100. they should.)_

[2015-03-31 21:57] jeroenbreen commented on #371
Ok, this I wasn't aware of. TBD

I don't see that.. ?

[2015-03-31 22:02] guiguru commented on #371
this is the whole reason there is a ‘reversed’ slider for the slack master: moving it does something else than mocking the largest.

it happens when the slack is swapped (maybe I squeaked too early ;^)

[2015-03-31 22:12] jeroenbreen commented on #371
ah, the swopping is what I called the changing of slack master, 4 posts back. This is not working yet, I known, part of the TBD. The other thing: coming up.

[2015-03-31 22:15] guiguru commented on #371
yeah, did squeak too early. sorry

[2015-03-31 23:12] jeroenbreen commented on #371
btw @guiguru

is this something new, or is it just the fact that they are blue?

[2015-03-31 23:16] guiguru commented on #371
yes, that was just an early warning.

when you see @simonegli”s visual design all is clear (I need to spec a line or two on this)

[2015-04-01 14:34] jeroenbreen commented on #371
Okay, I think I got the whole overall slack-slider system covered now, except some minor unlikely scenarios.
Repaired the manual input as well.
Tomorrow repairing the diamonds.

[2015-04-01 14:52] jeroenbreen commented on #378
Okay, since the design space have had quite a reconstruction, here is the new storyline to reproduce this situation:

1)  add some masters

2) drag the first master in the design space (the instance is now created already (first it was at the second drop) a metopolation-n.cps (n=1) is created. Sliding doesn't change the metapvalue (visible in the right panel), it is always 1 now.

3) drag a second

[2015-04-01 14:56] guiguru commented on #371
it is super cool to see the rest moving proportionately when the slack slider is moved _(mesmerising, even)_

a couple of things:

* when the slack master is changed, the metapolation coefficients change: this cannot happen. the sliders are calculated from the coefficients that do not change. this is so important that I have added it to the task list at the top;
* when typing in a number for the s

[2015-04-07 14:58] jeroenbreen commented on #377
Hey @graphicore ,

some more questions about adding (rules and parameters) and editing (parmaters).
I made a screencast of it: https://youtu.be/QSS-j_Omwv4
at 0:10 you see me editing the weightfactor, since this is the first property on glyph level, I use stateless.cpsAPITools.addNewRule to create the rule and stateless.cpsAPITools.setParameter to create the property in it. This works and till 0:2

[2015-04-07 15:00] graphicore commented on #377
Ok, first the good news. I just fixed the bug that prevented `master:widthFactor` from working

[2015-04-07 15:01] graphicore commented on #377
I'll updated that soon.

[2015-04-07 15:07] graphicore commented on #377
It's worth gold when you copy the actual error message into here :-) I think I can figure that it is a `ReceiverError: Expected an event of "change" or delete" but got " ...` We've seen that before, I'll look into it.

[2015-04-07 15:10] jeroenbreen commented on #378
@graphicore I made a screencast for this question: http://youtu.be/GXLAzYeh71M
Also interesting for @davelab6 and @guiguru and @simonegli to see some of the functionality around the not working parts.

So:
0 - 0:35 - creating 3 masters: regular bold and condensed
0:40: draggin first master in design space = create instance with metapolator-n.cps (n=1)
0:43: dragging second master in design space =

[2015-04-07 15:19] graphicore commented on #377
Side Note: I checked with grep, there are ~500 occurrences of the string `Parameter` in the code where it should be `property` or `properties` in the future ... so that is confusing, I understand.

[2015-04-07 15:21] jeroenbreen commented on #377
here is the error
[code]

[2015-04-07 15:27] graphicore commented on #377
I just pulled the gh-pages repository, I can't even get the word "metapolator" displayed :-(

[2015-04-07 15:47] graphicore commented on #378
Despite of the fact that it should be working, I think it's a terrible design choice. You should rather have just one interpolation cps file for each amount of masters and `@import` it. This is not yet conveniently implemented in the model, but still the way to go, if you ask me.

[2015-04-07 15:49] graphicore commented on #377
In #378 you get the same error. Maybe it has a common root.

[2015-04-07 16:06] graphicore commented on #377
Hmm, ok so, I updated gh-pages with a new metapolatorStandAlone.js it could also be related to the `ReceiverError` that keeps popping up everywhere. Please check this out, see if you can get still produce the `ReceiverError` and then point me again to a point where I can execute it. Also, tell me where in your code the api calls are happening.

[2015-04-07 16:09] graphicore commented on #376
project zero has a space character now, but I don't dare to override your changes in `gh-pages` with it. How do you want to receive the update?

[2015-04-07 16:25] jeroenbreen commented on #376
So than you are talking about the `com.metapolator` folder right? Mine only has the project.yaml, cps/index.html, cps/lib/index.html changed and a couple of extra cps files (cps/flexmaster.cps and cps/lib/parameters.cps)

[2015-04-07 16:28] jeroenbreen commented on #378
But that means the number of masters in the mix is limited to what -n file you created right?

[2015-04-07 16:43] graphicore commented on #378
You can generate a new -n file when it's not there. They don't have to be preexisting.

[2015-04-07 18:12] graphicore commented on #376
The whole `/project` directory, but especially `com.metapolator` needs some care I think.

[2015-04-07 18:15] graphicore commented on #376
When people should be able to create their own projects, by importing a couple zip files, then it is most probably not good enough to have the files you changed and added and need for the ui to work and the project_zero project data so close together. We'll need a solution.

[2015-04-07 18:18] graphicore commented on #378
The `ReceiverError` error is gone, but I can't do interpolation as in the screencast of #378

[2015-04-07 22:06] jeroenbreen commented on #377
Looks like this is resolved now, thanks.
But another issue pops up now, see new screencast:
https://youtu.be/hbth663xyQ4

So I first edit the weight (= add a rule + setParameter) - > works
Then I edit the width (rule already exists, so only a setParameter) -> no change to be seen.
But then I select another glyph and do the same, so a new rule is adde -> the previous action suddenly is to be seen (

[2015-04-07 22:28] jeroenbreen commented on #378
Yes that makes sense.

Is that also with `stateful.project.ruleController.write` ?

Did you try to add a new instance (after dropping 2 masters) with the `+` in the instances list and then slide? That should do the interpolation. (difference between the 2 scenarios is that the first instance which is created by dropping of the first master has its cps replaced - as earlier described -  when droppi

[2015-04-08 10:38] jeroenbreen commented on #343
@guiguru

when can you edit a master (or its glyphs).
a) when edit = true -> this means that you cannot edit all the glyphs you see in the specimen panel (the ones with display = true and edit = false), which is not what you would expect I think.
b) when display = true -> if so, then what is the function of the edit registration?

[2015-04-08 10:45] guiguru commented on #343
it is a).

yes, in the master list the masters have to be selected (third column) to edit them. only masters that are selected (not just view == on) can be sub-selected by glyph.

I say: the selection which masters to work on and which on to _also_ see as context is a very conscientious one for users (this is like selecting layers to work on in GIMP/ps)

[2015-04-08 11:11] jeroenbreen commented on #343
Ok, does that also mean that you cannot select a glyph inside the specimen panel which masters edit is false?

[2015-04-08 11:16] guiguru commented on #343
yes. that is where it stops for viewing.

[2015-04-08 11:17] jeroenbreen commented on #343
ok, then it makes sense.

[2015-04-08 13:04] jeroenbreen commented on #377
another thing. My parameters.cps looks like this now.

[code]

Just checking with @graphicore if this is the right way to do the glyph property editing.

[2015-04-08 13:22] graphicore commented on #377
Almost, you got a clash where the last rule (whith the `glyph` selector) overrides the definition of `widthFactor` and `heightFactor` for all `glyphs` as defined by the first rule. You should rename some of the properties.

To be clear, in the first rule you define, amongst others also for `glyph`:
[code]
In the last rule you override that for `glyph`
[code]

Also, the first rule is probably self

[2015-04-08 14:34] davelab6 commented on #344
@felipesanches this is for you :)

[2015-04-08 14:39] davelab6 commented on #337
@jeroenbreen and @guiguru please could you review the checkboxes at the top? :)

[2015-04-08 14:40] davelab6 commented on #342
@jeroenbreen and @guiguru please could you review the checkboxes at the top? :)

[2015-04-08 14:42] felipesanches commented on #344
Ok, great!

[2015-04-08 14:43] davelab6 commented on #362
Agree, added to the homepage issue #335.

G search still not quite right:

![screen shot 2015-04-08 at 10 42 28 am](https://cloud.githubusercontent.com/assets/261579/7047667/03ab8f44-dddc-11e4-9814-af756c36d7e3.png)

[2015-04-08 14:45] davelab6 commented on #373
@latsami will you attend LGM this year? I expect to hammer out smooth and well tested installation process/instructions there...

[2015-04-08 14:46] davelab6 commented on #371
@jeroenbreen and @guiguru please could you review the checkboxes at the top? :)

[2015-04-08 14:50] davelab6 commented on #344
Perhaps the best way to hand over to Jeroen is to implement a special js method that can be entered to the browser console to produce the downloading of a ZIP..?

[2015-04-08 14:57] felipesanches commented on #344
It seems to be simple if we use this: http://stuk.github.io/jszip/

Run the example they provide in that page. Their API looks simple and good enough .

[2015-04-08 15:10] davelab6 commented on #344
Yep

[2015-04-08 16:18] latsami commented on #373
Yes I will!
Perfect if we can have some moment to install it then.
It's not so urgent anymore (as you labelled it ;)

[2015-04-09 06:38] allcaps commented on #362
Added a pull request (don't know how to add it here): https://github.com/metapolator/metapolator/pull/382

[2015-04-09 12:06] davelab6 commented on #362
To automatically add it just mention the hash issue id like you did in the
pull request description

[2015-04-09 12:49] jeroenbreen opened #383 "(Peters) Parameters to (Lasses) Properties"
one topic which is still a bit undecided as far as I am aware, is in to which extent I am going to build the parameter panel @guiguru  designed. Lasse, please correct me if I am wrong here: the properties @graphicore  build in for me are based on a multiply factor.
How far are we for setting the width, and height to a fixed number? Being able to do that is essential for the +, =, max, min operator

[2015-04-09 13:14] graphicore commented on #383
The width and height of the *centerline*, or the whole *glyph*, it won't be possible from within CPS anytime soon. Because it would mean to render the whole *glyph* or the whole *skeleton* to find out what the actual extend is, so that it can be adjusted.
It's probably easier to do this from the ui, where the glyphs are rendered anyways, and set there some transformation to scale the glyph to the

[2015-04-09 13:37] davelab6 commented on #383
I think this is not too important. The currently working Master level Weight, Width and Height parameters are enough for a demo. The `+` pop up is working for these parameters, too.

So I think that would be great to just get those parameters working on a Glyph level, so that eg you can make the overall master Width = 1.2, and then make the 'w' Width = 1.15, and then move on to other panels.

[2015-04-09 13:38] davelab6 commented on #337
I would like the default 'font by' value to be **paragraph**, not word, because I find it very confusing that after I clone a new master, and start adjusting it, the effect is sprinkled all over the place. I expect the masters to start out being displayed one by one.

[2015-04-09 13:42] guiguru commented on #383
OK, that sounds a bit scary at first, but then I realised—

@graphicore: is it true that Width and height are calculated by taking the min and max (over all points in **one** glyph) of the x and y coordinates of the points?

if so, that is (from my point of view) something that is quite OK.

I must say that in all these months that I have been thinking about, and shaping, the workflow with paramet

[2015-04-09 13:46] davelab6 commented on #383
If any more parameters are to be added before LGM, I think it would be `min` and `max`, to avoid _the horror_ :)

![horror](https://cloud.githubusercontent.com/assets/261579/7067980/36c9403a-de9d-11e4-829f-288972549f34.gif)

[2015-04-09 13:49] graphicore commented on #383
no, works like this: http://pomax.github.io/bezierinfo/#boundingbox You need to trace the curves to get the correct values

Yes, thus we have essentially the same issue here. Also, it might be interesting as info is that sidebearings can be negative too.

[2015-04-09 13:49] guiguru commented on #337
that sounds like the right choice to me.

**related:** can we set the order in the popup be glyph, word,paragraph.

small-to-big, in order.

now starting testing and check box checking