[2015-05-04 00:32] Kelvinsong commented on #569
lol then how did you get Roboto into metapolator in the first place?

[2015-05-04 00:33] davelab6 commented on #566
Its an interesting idea, but as I said above, I think that to do this kind of operation you'd use the weight parameter of selected points, so such an interface isn't necessary.

[2015-05-04 00:34] davelab6 commented on #569
The work with Roboto was done using the 2nd prototype; I don't believe that anything with Roboto has been done with the CPS based system.

To import Roboto, you'd follow some command line steps. @graphicore might be able to provide them.

[2015-05-04 00:36] Kelvinsong commented on #569
gotcha

[2015-05-04 01:19] davelab6 opened #571 "Package Metapolator as a desktop app"
A few possible frameworks for doing this:

* http://electron.atom.io
* http://nwjs.io

[2015-05-04 10:07] guiguru commented on #566
@Kelvinsong thanks for chiming in.

yes, there has been (at least) one serif system in the earlier metapolator (the one shown at LGM 14) and there have been several discussions to make a new one. at this moment we are just very aware how fiendishly complicated the issue is. the variety of serifs is endless, and as I was reminded last week at LGM by type designers: on that ‘n’ that you show us abov

[2015-05-04 12:48] jeroenbreen opened #572 "\n for linebreak and \p for paragraph break"
Currenty the input for linebreak and paragraphbreak is *n and *p. The standard for this is \n and \p.

[2015-05-04 14:47] davelab6 opened #573 "Specimens: Edit sidebearings on-canvas"
![Metapolator Spacing Editing Mode](https://camo.githubusercontent.com/9eee3a7bb8ff07a9eff6dc28c2326fabb968cfe3/687474703a2f2f6d6d69776f726b732e6e65742f6d657461706f6c61746f722f686f72686f7665722e706e67)

[2015-05-04 14:52] davelab6 commented on #568
@jeroenbreen I think this is the highest priority thing to work on for the next while :)

[2015-05-04 14:54] davelab6 opened #574 "MOM Edit API for point editing (add/remove points)"
At LGM15, users said they would need to add/remove points to get finished results.

@graphicore said he would think about how this could work as a MOM API.

[2015-05-04 14:55] davelab6 opened #575 "MOM Edit GUI"
Along with a MOM Edit API described in #574, we'll need @guiguru to integrate point add/remove functionality into the UI.

[2015-05-04 14:57] davelab6 opened #576 "I/O and CPS library maintenance"
At LGM15, @graphicore expressed his intention for the I/O and CPS libraries written for Metapolator to be

- [ ] separated and packaged for re-use
- [ ] documented and launched/presented, to interest developers

[2015-05-04 15:07] davelab6 opened #577 "CPS Firebug"
At LGM15 @graphicore suggested his need for something like the Firebug/DevTools for inspecting CPS:

* http://getfirebug.com/whatisfirebug
* https://developer.mozilla.org/en-US/docs/Tools
* https://developer.chrome.com/devtools

This could be done as a separate project (with a new github repo) or it could be a 'dev mode' for the metapolator app. This is something to discuss at the next face to fac

[2015-05-04 15:13] jeroenbreen opened #578 "Making swiching of specimen faster"
When switching of specimen, we first drop all letters and then build up a new string. The engine gets the signal that all `svg` can be destroyed.
- [ ] find a trick to keeps the `svg`s that will be reused by the new specimen

When switching the view of a master off, the `svg`s are destroyed as well.
- [ ] use display: none/block instead of ng-if="glyph.display". This will probably keep the `svg`s

[2015-05-04 15:14] jeroenbreen commented on #568
ok, will do.

[2015-05-04 15:14] davelab6 commented on #514
@graphicore said he wanted to look into this

[2015-05-04 15:15] davelab6 commented on #578
Great!!

[2015-05-04 15:32] davelab6 opened #579 "CPS: @ui-parameter to"
At LGM15, @graphicore and I were chatting about the coupling of CPS and the Metapolator app, and how https://metapolator.com/red-pill-demo/slider-demo.html offered metapolation based on a CPS property that was coded in a way that can only be so (ie, can't be replicated with the sophisticated CPS systems possible to build with the parameters panel + design spaces panel)

I made this very loose sket

[2015-05-04 15:45] davelab6 opened #580 "Specimens: Tune up font by menu"
Currently the item is 1px higher than the label:
![screen shot 2015-05-04 at 11 41 43 am](https://cloud.githubusercontent.com/assets/261579/7456445/96b5542a-f252-11e4-94fb-be34161cad68.png)

The label and item should have an aligned baseline. Perhaps easiest way to solve this is to make the whole thing the drop down, so that when expanded the dropdown frame is the width of the navbar item, so that

[2015-05-04 15:49] davelab6 commented on #480
Reopened to ask about https://github.com/metapolator/metapolator/commit/a1eda94c03734d556c5315f15ea0b7bae0a45287#comments

[2015-05-04 16:00] davelab6 commented on #480
I reviewed https://github.com/metapolator/metapolator/wiki/working-UI-demo#line-spacing and there's a few more things to do :)

- [ ] This should be integrated into the font-size control, to show its part-and-parcel of the font size settings - so no white gap in the middle here:

![screen shot 2015-05-04 at 11 52 14 am](https://cloud.githubusercontent.com/assets/261579/7456641/06b3bcde-f254-11e4-8

[2015-05-04 17:23] guiguru commented on #480
we definitely need a ‘checked state’ for popups and menus that is different from the hover highlight

[2015-05-04 17:52] graphicore commented on #577
I started something at https://github.com/graphicore/metapolator/tree/cps-model-hardening following my original roadmap

[2015-05-04 19:03] davelab6 commented on #577
Where is that roadmap?

[2015-05-04 19:06] davelab6 commented on #480
Right, the parameters panel input values have a dark grey on hover, and the line spacing menu currently has a light grey on hover, which is the same as the light grey used to show _checked state_.

My question for you is, is using 2 colors for checked and hover acceptable, or should the text of the checked item have a ✓, ✔, or ☑ a/pre-pended

[2015-05-04 19:26] davelab6 opened #582 "Review and compare the results of Pablo's Adhesion Mixer"
@impallari has a new specimen text generating tool, at http://typedrawers.com/discussion/comment/12337/#Comment_12337

It would be great to review this and consider how it compares to the metapolator specimen mixer.

[2015-05-04 19:44] guiguru commented on #480
a ✓ (prepended only, basically in its own, first,  column) is the safest solution.
the one with the two colours _can_ work, will certainly need my feedback, though.

another one is changing the beginning (left for L-to-R) of the menu item, as if a little lamp has been switched on to indicate this is active _(example: full-height vertical green bar at beginning of the menu item)_

[2015-05-04 20:11] davelab6 commented on #480
I wrote,

I think due to color sight variation in humans a color-only based approach is not best, so I updated the issue to have 2 tasks for adding the ✓ and making hover and selected background colors different.

'lamp' idea is nice - perhaps the 1st col with the tick should have a different background color? Or is it too much?

[2015-05-04 21:27] #580 closed

[2015-05-04 23:31] jeroenbreen opened #583 "Speeding up the specimen filter"
I have been reading https://www.binpress.com/tutorial/speeding-up-angular-js-with-simple-optimizations/135

They advice to avoid using filters (because they digest multiple times), so I checked the performance of my filter:
![screen shot 2015-05-05 at 01 25 37](https://cloud.githubusercontent.com/assets/6692653/7464727/acbbe32e-f2c5-11e4-9a6e-af19c13dbdbd.png)
Actually the filter has done the job

[2015-05-04 23:36] jeroenbreen commented on #578
Unfortunately this only makes sense for the `font by specimen` setting.

[2015-05-05 09:22] davelab6 commented on #583
I think this is really great news :)

But, i think it (and other specimen stuff) can be postponed, a bit. :)

We need to be focused on getting to the point we can see what real users
can actually produce with the app :)

I think that today the demo isn't useful for doing real work, no matter how
fast it runs. But a fleshed out parameters panel might make it actually
useful. The in-specimen spacing

[2015-05-05 16:06] graphicore commented on #577
I don't know if there's any written statement about this :-/ However I do know that I wanted to make that GUI alongside with https://github.com/metapolator/metapolator/issues/332 and that I mentioned it sometimes. If there's something, it must be somewhere from the end of last year/the beginning of this year until now. I wanted to make that GUI to be able to test the new model-methods. Also, it's

[2015-05-06 10:55] zoghal commented on #571
for desktop :+1:

[2015-05-06 11:11] guiguru commented on #550
this has really high priority. it is sorely missing.

this also includes finding a way for firefox to take control of (i.e. to trigger) regular specimens updates during recalc of glyphs (as discussed with @graphicore).

[2015-05-06 11:17] jeroenbreen commented on #568
@guiguru
In the wiki you wrote

This range is actually the range of points in that glyph right?
Although I think it is a wonderful way to be able to do some actions (like dynamic which was mentioned before), I want to suggest there is some conceptual inconsequence going on here.

If I select the glyph `a` which has (say) 5 points, with different weights, you say a range appears in the glyph panel.

[2015-05-06 12:11] davelab6 commented on #550
Ok, I think it would be better to just get fast enough we don't need it, which now seems to be within reach, but yes

[2015-05-06 12:20] guiguru commented on #550
I would love that we can recalc everything within a second (yes, exactly one).

but practically speaking there will always be combinations of enough (loads!) visible & invalid glyphs in the specimen and relatively slow machines.

the mechanism you refer to at the top is not a crux for the MVP. it is designed to take care of this for ever, no matter how ambitious and impatient the user, how fast cp

[2015-05-06 12:22] davelab6 commented on #550
Ahh I thought this was MVP land, but you are totally correct. So yes,
probably this is the first thing to do on the specimen, before the spacing
widgets

[2015-05-06 12:38] guiguru commented on #568
the range of values for the points in that glyph. yes.

that is also the reason why the initial values are shown as inherent values (with ‘:’) and not as assigned values (‘=’), because the values come ‘from the dungeon.’

![687474703a2f2f6d6d69776f726b732e6e65742f6d657461706f6c61746f722f64656d6f7061726173696d706c65676c7970682e706e67](https://cloud.githubusercontent.com/assets/4458395/7492754/8e649

[2015-05-06 13:04] davelab6 commented on #568
I think it's OK to cheat a bit here ;)

[2015-05-06 13:14] guiguru commented on #568
it is all for a good cause ;^}

[2015-05-06 14:47] jeroenbreen commented on #568
Another thing @guiguru
I assume the initial value of spacing is 0 right?
In that case the `x` operator can never effect it, since it always is applied first, before a `+` is applied.

[2015-05-06 15:04] guiguru commented on #568
nope. the initial value of spacing = front sidebearing + back sidebearing

for any practical font (as loaded from an ufo) the sidebearings will have values other than zero. however one of the sidebearings may be negative and front + back may add up to zero.

a couple of weeks ago I noticed that this is all quite tricky, so I wrote a set of rules how to handle it. I _think_ this will give expected

[2015-05-07 10:28] jeroenbreen commented on #392
I am working on 0.3.0 branch now. This allows me do be a little more experimental.

As mentioned before, to work with all the operators (+,-,/,x,=,min,max) I need to know an initial value of the parameter (or a current value, combined with effective factor), to get by backwards calculation 1 factor indepent of the operator.

For now I do the administration of the weight (onLength) - at point level

[2015-05-07 12:25] jeroenbreen commented on #392
@dave @guiguru

I am having really trouble building this.
And that is mainly because the UI concepts don't match the engine concepts perfectly.

Scenario:
Master: regulag
glyph: A
We are changing the width. The A has an initial width of 500.
• I add a `+` 50 at glyphlevel. This means, I want it to be 550, so the UI sends a widthfactor of 1.1 at glyphlevel. All good.
• Then I add a `x` 2 at masterl

[2015-05-07 12:37] graphicore commented on #392
Yeah, that's fine. If there is a `getComputedStyle` method it should be fine ;-) That `controller`, maybe it should be called `modelController`?

There is also a shorter way:
[code]

[2015-05-07 12:41] guiguru commented on #392
the *strict* (sorry I have to say it like that) order of processing is giving here:
https://github.com/metapolator/metapolator/wiki/working-UI-demo#the-math

• I add a + 50 at glyphlevel. This means, I want it to be 550, so the UI sends a widthfactor of 1.1 at glyph level

yes, step 3 on the math order: add 50 at glyph level

no. multiply at master level is step 4 in the math, comes after glyph ad

[2015-05-07 14:40] jeroenbreen commented on #392
ok, cool. Sorry for the alarm bells then.

[2015-05-07 14:48] guiguru commented on #392
I can only hope it is not too much of an uphill struggle to implement Meneer van Dale

[2015-05-07 18:31] jeroenbreen commented on #392
It's not just that. The coding feels like a web of connections between parameters and operators, each combination effecting a different level (eg "master", "glyph"; I am building the whole thing with an eye on scalability to several levels. Partly futurewise, but actualy I already need it now, ao for the weight which is effecting the point level and the others currently are at glyph level).
It's a

[2015-05-08 07:07] allcaps commented on #515
@davelab6: http://jsfiddle.net/allcaps/3sskp4wc/ has more functionality than is needed in MP parameters.

Do we want (shift) hover scroll to change the input?
Do we want maths to be evaluated?

[2015-05-08 07:37] davelab6 commented on #515
I want both these things :)

[2015-05-08 08:25] jeroenbreen commented on #392
@graphicore

Can you help:
[code]
gives this error
[code]

[2015-05-08 10:59] graphicore commented on #392
this causes the error

[code]

The error sais `point` is is not defined for a `right` element (which is `<MOM PenStrokePointRight>`). However, `point` is the direct parent of `left` and `right`. Much like this:
[code]

In your case:

[code]

Is better, BUT `contour > p` doesn't know about point either, nor has it a `point` in it's ancestry:

[code]

There are different solutions possible:

1. remo

[2015-05-08 11:03] jeroenbreen commented on #392
ok, thanks. Will dive in it.

[2015-05-08 11:05] graphicore commented on #392
Also, some of the names and a bit of the structure described above will change one day:
https://github.com/metapolator/metapolator/issues/323

Just as a reference.

[2015-05-08 11:29] jeroenbreen commented on #392
ok, @davelab6
In reaction to our mail conversation:

If you like you can add a disclaimer to the splash leading dialog, or make the version number pop up a note about it, and also edit the getting started page on wiki

The work I am doing on the parametersController is quite a big restructuring. I think I am now at 80% of the restructuring. It' still in the 0.3.0 branch, and I think it's not a goo

[2015-05-08 11:41] jeroenbreen commented on #392
Maybe this video shows the power more:
https://www.youtube.com/watch?v=nTB1ngvwHM8&feature=youtu.be

[2015-05-08 11:45] guiguru commented on #392
from my side: I think it is important that between us we have a frequently-updated development version so that we can look at the same thing and collaborate—also when things break for a couple of days for BIG restructuring.

for users a progressing piece of software that does not temporarily turn into a non-working mess is worthwhile to engage with, repeatedly.

so what I am saying is let’s have a

[2015-05-08 11:45] graphicore commented on #392
Like in "the shape of the glyph"? Because the glyph width includes it's side bearings. Please file a bug for this. Also, this is not a top priority of mine :-/ If deemed worthy I can look at it on Tuesday. I think I can read the bbox everytime I finished renderinf the glyph. However, with components it may be more complicated (because the render asynchronously).

[2015-05-08 11:53] jeroenbreen opened #587 "provide functions to get width, height and sidebearings of a glyph"
These are functions returning a value in em.
The sidebearings as 2 seperate values.
The width is without the sidebearings

[2015-05-08 11:55] jeroenbreen opened #588 "Prevent extra loading time when setting the initial values of parameters."
- [x] trigger to set the initial values on rendering of the glyph
- [x] calculate backwards to the initial value, when the glyph already has some cps applied to it

[2015-05-08 11:56] davelab6 commented on #392
Peter and I are in agreement, the index2.HTML or /issueXXX directories are
good for me

I think we can distinguish between broken and buggy :)
On 8 May 2015 12:45 pm, "Lasse Fister" <notifications@github.com> wrote:

[2015-05-08 11:56] jeroenbreen commented on #392
@graphicore
I posted it here: https://github.com/metapolator/metapolator/issues/587
I myself am away from monday to thursday, so no hurry.

@guiguru Can you check my description of the parameters in that issue and edit if needed (width regarding the sidebearings)?

And with #588 I can close this issue.

[2015-05-08 11:57] guiguru commented on #392
https://www.youtube.com/watch?v=nTB1ngvwHM8&feature=youtu.be

yes, that is looking pretty cool already.

I do have to start wondering about why that is still the case. two simple operations in cps—

1. set the value of a parameter directly to X
* offset, add X to a parameter

would make a world of difference, I think. how else do we get Slant moving away from zero?

[2015-05-08 12:00] guiguru commented on #587
looking good: logical and straightforward

[2015-05-08 12:00] jeroenbreen commented on #392
what is X in your example?

[2015-05-08 12:23] guiguru commented on #392
X is the value that the UI code has determined to be passed to the cps, after running through the math rules.

* example of ‘set to X’:
  * taking the master and glyph assign (=) statements, determine which one wins, pass it to cps
* examples of ‘offset by X’:
  * taking all the + and - operators at glyph level, calculate the effective offset, pass it to cps
  * taking all the + and - operators at

[2015-05-08 12:28] jeroenbreen commented on #392
But is X a factor or a concrete value?

[2015-05-08 12:38] guiguru commented on #392
always a numerical value

* set Slant to 12°
* Spacing + 13 (units) _(spacing and sidebearings are offset (+) systems by nature)_
* Width: max = 1024, all glyphs over 1024 get an (minus) offset set to get their Widths down to 1024

[2015-05-08 12:45] jeroenbreen commented on #392
Still don't follow you completely.

But one thing is important: width and height (and also slant later) are not pure cps properties. They are transformations over points. And before the transformation, you don't know the result of it.
So in cps, you can not do anything like: `width = 1024`, it only works with a factor. So if you want it to be 1024, you have to know its inital value - say 1000 - th

[2015-05-08 12:45] davelab6 commented on #392
their Widths down to 1024

I don't understand this. I'm very sure non Latin glyphs on a 1,000 upm will
be wider than 3,000 units

[2015-05-08 12:49] davelab6 commented on #392
Right, they are what we call parameters, values calculated in the ui and
passed to cps as absolute values

[2015-05-08 12:52] jeroenbreen commented on #392
Not sure about the definition of absolute.
But the UI calculates a factor as input for the transformation.

[2015-05-08 12:58] guiguru commented on #392
OK, then we are just discussing the semantics of where the x 1.024 will be done, UI code or in cps.

@jeroenbreen if you are happy, then I am happy. I just really do not want to end up that an expression like “Width = 880 × 1.2 (glyph) + 34 (glyph) × 0.9 (master) + -12 (master), max = 1024” is not possible because missing operants.

be wider than 3,000 units

@davelab6, the 1024 was set as max by

[2015-05-08 13:04] jeroenbreen commented on #392
Maybe, but essential is, that before you get to 1.024 you have to know the value of 1000, that is what I call the initail value (that is wat this issue is about) and that is what you asked:

right?
Don't want to be just happy, but also want to be sure I am not missing some elephant in the room.

It is possible.
You can download the branch https://github.com/metapolator/metapolator/tree/0.3.0 and s

[2015-05-08 13:16] guiguru commented on #392
all my thinking over the last months about the parameter system start from that there is an initial situation (ufo loaded) and everything has initial values. from thereon users take over and start operating on those values through expressions in the parameter panel.

that is sufficient for me to hear. I trust your word.

[2015-05-08 13:17] davelab6 commented on #392
By absolute I meant the result of the calculation arranged by the param
panel widgets. But, maybe it's better to put all the equation into the cps
and process it there, so that the cps engine is self contained and can be
optimised easier

Peter, thanks for clarification

I suggest to develop this in a copy at /issue392 rather than a branch so we
can more easily see it live :)

[2015-05-08 13:32] guiguru commented on #392
I will remember that ‘wider than 3,000 units’

can more easily see it live :)

can that be just /v0.3.0 for as long as we work towards that version?

[2015-05-08 13:33] jeroenbreen commented on #392
can more easily see it live :)

 ,

Both ok.

[2015-05-08 13:40] davelab6 commented on #392
/v0.3.0 is good

[2015-05-08 13:41] jeroenbreen commented on #392
Here it is http://metapolator.com/v0.3.0/
closing the issue.

[2015-05-08 13:41] #392 closed

[2015-05-08 13:44] jeroenbreen commented on #392
oh, be aware that only the `M,e,t,a,p,o,l,r,A,g` are in the project in v0.3.0 for loading efficiency.
See https://github.com/metapolator/metapolator/issues/588

[2015-05-08 15:53] jeroenbreen commented on #568
@guiguru

Here the result of today: You can do the ranges with the weight:
https://www.youtube.com/watch?v=iLx_bJz2HLQ&feature=youtu.be
and http://metapolator.com/v0.3.0/

As agreed upon: I still need to do a hack, to bring this point information into the glyph UI.
Also trouble: range (of glyphs) of ranges (of points), so do it one (glyph) by one for now.
And more issues, I know...
(ao: the inheri

[2015-05-08 16:11] guiguru commented on #568
I tried that (changing the range of Weight of the ‘o’ of Metapolator to: 2 to 51. the ‘o’ did not change, some part of the ‘M’ did.

[2015-05-08 16:11] jeroenbreen opened #589 "find Parent function isn't working correct"
It gets confused when looking for non-unique names.

[2015-05-08 16:13] jeroenbreen commented on #568
Yes, I know. That is #589 Working on that. Didn't noticed it earlier, because I was only working on th 'M' :)

[2015-05-08 16:32] #589 closed

[2015-05-08 16:33] jeroenbreen commented on #568
ok, that is fixed now.

[2015-05-09 04:38] davelab6 opened #591 "IA Question: Precision?"
I wonder how the precision compares to https://github.com/loicsander/MutatorScale :) Something to discuss at our next meeting.

[2015-05-12 15:11] guiguru commented on #359
@davelab6 @felipesanches, the question here is how quick we can make this.

an incremental model would be good here, which means that after just a few changes to a master/instance, it takes something like 5–10 seconds to do the **complete** re-export.

the interaction that is optimal depends a lot on what we can deliver.

related to this would be what I call **live wire**, the master/instance bein

[2015-05-12 15:53] guiguru commented on #462
several things speak against doing this:

on the mast list side, a new area for a double-click-to-add-to-design-space zone must be added, because it cannot be in the 3 columns we have right now (column 2 and 3 are taken—rename—column one is reserved for master sequence management). note that adding a gripper to column 3 does not create a new zone: it is just communication graphics **on** column 3.

[2015-05-12 16:19] guiguru commented on #461
looking ahead, and seeing how natural the dragging and dropping of master and instance list items will be (to organise the master sequences and the families of instances) I cannot see how this needs belts-and-braces gripper articulation. not in a creative pro app.

if you want some first-time-use security, then I suggest that we work a bit on showing—after a 5 second delay after exposing a fresh d

[2015-05-13 11:40] guiguru commented on #575
not that big a drama this one ;^}

I can design this in when I do the redesign of the point handling.

therefore I will set the milestone to 0.4.0

[2015-05-13 11:43] guiguru commented on #591
not sure why I am assigned to this…

[2015-05-15 23:13] jeroenbreen opened #593 "CPS doesn't update"
@graphicore
I am having trouble with the updating of cps, see video here.
https://youtu.be/B4fTjpO_akg

When I add a master rule, the first parameter is applied, but when I add a second parameter, it isn't updated (when I add a glyph rule after that, the master rule is applied as finally).
(When I do it the other way around, you see it is not the parameter itself that could cause it)

In the log y

[2015-05-16 23:35] jeroenbreen commented on #593
More background information:

after the discussion with Felipe and Peter about whether to start with master parameters visible in the parameters panel or not, I took a new approach. First - as in the current purple pill - I did like this:

[code]
and when you edit the parameter, I edit the `master`

Now (after the discussion), I do like this:
[code]

which is actually not necessary (cause each mas

[2015-05-16 23:42] jeroenbreen commented on #593
So for now, I can use the master rule, which makes this issue priority low (for me).

[2015-05-17 00:19] graphicore commented on #593
This could be related, I remember some 'hack' around this. Meaning where each master's elements get assigned it's rules. It may be exactly what you described, that master#name is not working within all cps files. Probably we need a better solution for this, thanks for the update!

[2015-05-17 08:11] graphicore commented on #593
To be exact: here is the hint about what causes the confusion: https://github.com/metapolator/metapolator/blob/master/app/lib/models/Controller.js#L86
I will change that this evening or tomorrow.

@jeroenbreen Great praise to you, your last comment pointed me directly to the problem! Good thinking.

That must not be true and your example shows that. I think I thought so when I made it behave like

[2015-05-17 08:32] jeroenbreen commented on #593
:)

[2015-05-17 09:27] #480 closed

[2015-05-18 10:36] jeroenbreen commented on #588
@davelab6 @guiguru
Here a little explanation about my approach on this:

Concepts:
`effectiveLevel`: the level where the parameter is effective (eg weight on point level and width on glyph level)

The `x` operator communicates directly with the cps. So when you add a `x` on master level, there is a master factor added in the cps (cps handles the inheritence downward to glyph,etc)  and when you add

[2015-05-18 10:57] davelab6 commented on #588
@graphicore what do you you think?

This seems to be not using the cascade power of CPS? I'll reread

[2015-05-18 12:19] jeroenbreen commented on #588
It's all about the `+`, which we decided the UI to handle.

[2015-05-18 12:57] guiguru commented on #588
the is why a week, or so, ago I asked if it was _that_ difficult to add to cps. it looked to me that the current situation is quite a bit of of double bookkeeping.

sounds good. only on demand.

at the moment that the “+ 100 on master level for weight” rule is added, only the _visible_ glyphs need updating. since they are visible, they have been measured—as you say above. I find this logical becau

[2015-05-18 13:07] jeroenbreen commented on #588
That is indeed the choice, although with these (significant) remarks:
• the in the middle part is excl. what already has been done (the visible glyphs.
• there are a lot of scenario's where it is never needed at all (it only is needed when people work with the `+` operators (etc) on a level higher than the effectiveLevel).

And there is - if we chose for the 'in the middle' scenario - some more to

[2015-05-18 13:19] davelab6 commented on #588
Okay... soo..... this is all great :) If its working, we should be very
happy :) Great work Jeroen!! :)

What's next?

[2015-05-18 13:31] jeroenbreen commented on #588
I need a 'go' for:

And if we chose for the 'middle' scenario, then this could be a todo (but I think that has low priority)

Then if #587 is done by Lasse, I would like to merge the v0.3.0 folder to the purple-pill folder, together with the enhancements @allcaps is doing on the input fields.
But for the merge I would need help, cause I don't know how to merge 2 folders best.

[2015-05-18 13:39] guiguru commented on #588
@jeroenbreen, did you get that there is no ‘middle’ scenario **at all**, if you simply do the master-level changes **only** for the visible glyphs (which have been measured when visible, and get measured when exposed for the first time).

I forgot to say before that for a long time (since the moment I talked to @graphicore about the speed of cps, and then designing the update mechanism) we work ac

[2015-05-18 13:40] guiguru commented on #588
ps: what ‘enhancements @allcaps is doing on the input fields.’?

[2015-05-18 13:48] davelab6 commented on #588
On 18 May 2015 at 15:40, peter sikking <notifications@github.com> wrote:

I believe its stuff like mouse scrolling to increment on hover, stuff like
that was discussed in
https://plus.google.com/109980284165962250622/posts/7h7tkeemjQX

[2015-05-18 13:50] davelab6 commented on #588
I think delay on loading is better, yes; but isn't loading also the same as
duplicating a master?

Currently duplicating masters and adding instances is pretty slow...

[2015-05-18 13:51] jeroenbreen commented on #588
@guiguru

Not completely true:

[2015-05-18 14:01] guiguru commented on #588
that was discussed in
https://plus.google.com/109980284165962250622/posts/7h7tkeemjQX

that was a bit hit and miss (OK, more hit and a little miss), and because it was just a community idea, it never got a hard-headed review, did it?

so it would have been normal process for @allcaps to come to me and discuss this, so it could have its review, before implementing.

[2015-05-18 14:19] guiguru commented on #588
whoops, my fault for glossing over that.

still, measuring the whole master at once is a **really big hammer** you are using there to not have to serve some requests for effective parameters of some glyphs on-demand while rendering the design space specimen.

I would hope that calculate-effective-glyph-parameters-on-demand can be extended to include the design space specimen.

**if not** and you r

[2015-05-18 14:42] jeroenbreen commented on #588
Yes I can build that later on, so everything will be measured only when needed.
If agreed upon that, I'll close this issue and make a new issue for that specific task.

[2015-05-18 14:54] guiguru commented on #588
actually I would say that this issue is open until the big hammer is gone, either by measure-only-when-needed, also in the design space, or by moving the big hammer to the ufo load.

closing it now would leave it half-baked.

[2015-05-18 15:02] jeroenbreen commented on #588
The import thing is to chose between them 2. I think it is up to you or Dave, but if I would have to say it, I'll go for 'when needed'.

[2015-05-18 15:11] guiguru commented on #588
I also like that more, but only when implemented to the end (the design space) and not half-done (sorry to repeat that, but too many times I have seen that things were left half-done in situations like these)

[2015-05-18 15:17] davelab6 commented on #588
On 18 May 2015 at 16:01, peter sikking <notifications@github.com> wrote:

idea, it is first and foremost a *good *idea, and I'm very grateful to Coen
for contributing this. The product is already much better for it.

For me at this point today, Coen has become a core part of the team here.

I think the timeline on this has become confused, but my guess is that
things are less far along than you ha

[2015-05-18 15:19] davelab6 commented on #588
On 18 May 2015 at 17:11, peter sikking <notifications@github.com> wrote:

For me the major focuses of the 0.3.0 round is to (1) make the parameters
work more fully on the master and glyph levels and (2) to import users' own
UFOs. I agree with @guiguru that we should take this beyond 'half done' in
order for the release milestone to be meaningful.

[2015-05-18 15:46] jeroenbreen commented on #445
further improvements are already described in #353 .

[2015-05-18 15:46] #445 closed

[2015-05-18 15:49] jeroenbreen commented on #353
@guiguru
Can you explain this again please:

What is scrolling? Are you scrolling within 1 view (eg the parameter view) or are you scrolling within the complete 'landscape', so that will take over the 3 buttons at the top, right?

[2015-05-18 15:53] davelab6 commented on #353
I think @guiguru means that if your browser window (viewport) is scrolled narrower than 960px, then the layout stops adapting to the viewport size and a scrollbar appears at the bottom of the browser window so you can scroll within the 1 view. And to move views you use the 3 buttons at the top like normal.

[2015-05-18 15:54] davelab6 commented on #353
(Which I completely agree with, making a responsive UI for tablets, phablets and phones, and making everything work with touch, is a huge interaction effort that was totally out of scope and not considered yet.)

[2015-05-18 16:00] guiguru commented on #353
what @davelab6 just said.

in other words: the 3-view UI (as switched by the buttons) has  min-width of 960 pixels. so when the browser viewport is less than 960 wide, the 3-view UI scrolls horizontally.

this 960-min is our ‘contract’ with the visual designers (they work very hard to make it fit in there) and with me (ditto).

[2015-05-18 16:12] jeroenbreen commented on #588
Okay, can I conclude then, that we choose for the 'whenever needed' option for the measurements?

If so, I'd like to close this issue and make a new one, with the specifice tasks to bring it beyond 'halfway' (just because smaller and more specifice issues make my work and overview more convenient, in the end).
And the merging of v0.3.0 and purple pill are waiting for that issue (and #587).

[2015-05-18 16:18] jeroenbreen commented on #353
Ok,
Peter, can you take a look at the sizes of the (some new) specimen tools. I think they are now adding up in width to what you once planned for the specimen panel width.

[2015-05-18 16:26] jeroenbreen commented on #353
Actually this is quite problematic. The 3 panels within a view can never be in one `div`, because some panels are in 2 views (the masterspanel is in parametersview and designspaceview), so I cannot set a min-width on that div, which would create the scrollbar.

I am going to think about this, but I expect it to be quite some work...

[2015-05-18 16:28] guiguru commented on #588
this talk is exactly about the transition from community idea to a code contribution.

Jeroen wrote: “the enhancements @allcaps is doing on the input fields.” sounds to me that facts are being created in code.

@allcaps: I also appreciate you building in extra editing interaction in the value fields. it is just that I have to ensure that what goes in fits with the Metapolator product, its users an

[2015-05-18 16:49] jeroenbreen opened #594 "Measure glyphs (initial values) which are not made visible"
This is a destillation of #588
Goal: the extra loading time by measuring parameters is only done when needed (so whenever the `+` operators etc are used) and done whenever needed (when a glyph is rendered. The time needed for the unrendered glyphs that still need to be measured up is added to the exporting time)

- [x]  when a glyph of a metapolation master is used, check if the glyph of the basem

[2015-05-18 16:50] jeroenbreen commented on #588
I transfered the tasks to #594. @guiguru please check.
I'll close this one now.

[2015-05-18 16:50] #588 closed

[2015-05-18 16:55] guiguru commented on #594
same priority as before…

making it enhancement is the beginning of leaving it half-baked

[2015-05-18 16:57] guiguru commented on #353
yes, some of the tools have gotten fat and also inter-column margins are eating space.

this is something visual design must solve, with my involvement. hey @simonegli it is a good idea to do a hangout about this.

[2015-05-18 17:03] davelab6 commented on #353
On 18 May 2015 at 18:26, Jeroen Breen <notifications@github.com> wrote:

I think if its a big effort then its really really low priority. I'm okay
to fire an dialog-like overlay that appears when viewport is less tahn 960
that says "Make the viewport wider or get a bigger screen" and disappears
when the viewport is at 960+.

[2015-05-18 17:31] davelab6 commented on #588
On 18 May 2015 at 18:28, peter sikking <notifications@github.com> wrote:

Right. My aim is to increase the productivity of this talk :)

I understand the anxiety.

I defend anyone who wishes to experiment with code that could be included
in metapolator, rather than conceptualise with discussion. I also defend
your wish to keep the shipping product coherent.

I want to reassure you that, for me, so

[2015-05-18 18:07] guiguru commented on #588
well, wish. design is product realisation and if the product does not come out coherent, I have failed.

in private: sure. but it is a sign of how serious I take @allcaps’ involvement with use (and his skills in get things done) that when I hear he is working on it, it means ‘for production’ for me.

I do appreciate that it says now in the contributing page that making an issue first (which I woul

[2015-05-18 22:07] davelab6 commented on #588
All good :)

[2015-05-19 12:03] jeroenbreen commented on #594
Ok, done. Just for the headsup  @davelab6 @guiguru

1 Whenever a glyph is rendered in the parameter specimen, it gets measured up

2 When a glyph is rendered in the designspace specimen, I check if its basemaster(s) glyph is rendered already. If not (suppose you'll use in the 1st specimen "Meta" and in the 2nd specimen (DS) "Metap", then the "p" of the basemaster(s) isn't rendered yet), it gets re

[2015-05-19 13:41] guiguru commented on #594
thanks!

[2015-05-19 14:13] jeroenbreen opened #597 "Cursor helper div isn't removed"
![screen shot 2015-05-19 at 16 12 33](https://cloud.githubusercontent.com/assets/6692653/7704997/ee8fb5e6-fe41-11e4-8c71-b82531027209.png)

[2015-05-19 14:13] guiguru commented on #353
as a naive practitioner of css, I would think that body { min-width : 960px; } would do the trick.

but I also know that living with css was never meant to be easy (and that we are pushing our luck with the 3-view layout), so I am not surprised this does not work.

[2015-05-19 14:20] jeroenbreen commented on #353
oh wow, you must be right :) thanks, I was looking from too closeby probably...
Have to adapt some other things as well though, but this should do it.

[2015-05-19 14:26] guiguru commented on #353
oh wow, I got lucky there. happy I gave it a shot, happy it is not problematic anymore.

[2015-05-19 14:31] jeroenbreen opened #598 "Repair the design for the specimentools"
For 960px the specimentools don't fit anymore within the panel

[2015-05-19 14:34] jeroenbreen commented on #353
Ok, please check.
I made a new issue for the specimentools here https://github.com/metapolator/metapolator/issues/598.

[2015-05-19 14:55] guiguru commented on #353
960 looks done to me.

theere is some funkiness (i.e. not so good behaviour) left in the Fonts view, centred on the fonts column:

1. resizing the instanced column in the Fonts view should be via the column divider between instances and fonts columns;
* resizing the viewport width (all above 960px) sees strange varying behaviour of the width of the column divider between fonts and (future) metadat

[2015-05-19 14:55] #597 closed

[2015-05-19 14:56] guiguru commented on #598
@simonegli, let’s talk online and sort this out together

[2015-05-19 14:56] #594 closed

[2015-05-19 15:33] jeroenbreen opened #599 "Bugs in font column"
- [ ] resizing the instanced column in the Fonts view should be via the column divider between instances and fonts columns;

- [ ] resizing the viewport width (all above 960px) sees strange varying behaviour of the width of the column divider between fonts and (future) metadata columns; the divider seems to affect the fonts column, so that the local menu of the fonts column wraps.

[2015-05-19 15:33] jeroenbreen commented on #353
ok, moved that too, to https://github.com/metapolator/metapolator/issues/599

[2015-05-19 15:33] #353 closed

[2015-05-19 15:52] jancborchardt commented on #373
@graphicore nice! Those installation instructions seem to work fine.

How to I start metapolator after that, as in the UI? If I do the `./bin/metapolator` command I only get the standard Usage/Commands hints. (I’m familiar with using the terminal but not a super-expert. ;)

[2015-05-19 16:19] davelab6 commented on #373
If you watch the Arabic experiment I did with Lasse and Khaled last week it
had some of the commands in workflow

[2015-05-20 00:07] davelab6 opened #600 "Improve documentation"
Port https://github.com/metapolator/metapolator/pull/585#issuecomment-103181849 into the docs/wiki

[2015-05-21 15:03] davelab6 opened #601 "Rename the three views"
I think it makes more sense to refer to these panels by names already understood by users.

[2015-05-23 15:47] davelab6 opened #602 "Review UX Checklist"
http://uxchecklist.github.io seems like a nice list of things to think about some day :)

[2015-05-26 10:49] #504 closed

[2015-05-26 11:33] davelab6 commented on #504
:+1:

[2015-05-26 11:33] davelab6 commented on #601
@guiguru @simonegli @jeroenbreen thoughts? :)

[2015-05-26 11:33] davelab6 commented on #598
Perhaps we can schedule a call on sunday?

[2015-05-26 11:35] #465 closed

[2015-05-26 11:37] davelab6 opened #604 "Move specimens texts to a txt file, so they are easy to edit"
Following #465, make the specimens text easy to edit by moving it from https://github.com/metapolator/metapolator/blob/gh-pages/purple-pill/js/controllers/specimenController.js#L18-L45 to a `.txt` file at `www.metapolator.com/purple-pill/specimens.txt` with each text on a line, with its label separated with `: `,  and blank lines for separators:

[code]

to

[code]

[2015-05-26 11:42] #548 closed

[2015-05-26 12:00] guiguru commented on #601
I think it is good to talk about the headings of the tree views. they are not brilliant.

when looking for the best we can come up with only one thing counts: **do the right thing**. the headings simply have to say **what is going on** in each of the views—without getting verbose. trying to fit in with what users are used to is putting up arbitrary limits that prevent getting to the right answer.

[2015-05-26 12:17] davelab6 commented on #601
creating masters by working on the inside of masters, with parameters and strokes, is what uniquely happens in the first view; thus its best label is Masters :)

creating instances, with metapolation, in design spaces, is what uniquely happens in the second view; thus its best label is Instances

creating exported UFO/OTFs, finalised with metadata, openType features, later hinting, is what uniquel

[2015-05-26 12:57] guiguru commented on #601
apart from what I wrote:

i.e. they live in two views, each, and are certainly not unique to any (which are super important reasons for me to not use them as labelling of these views), they are also not good descriptions of what is going on. sorry, but ‘masters’ and ‘instances’ are definitely not it.

notice that I did not jump to any conclusions in https://github.com/metapolator/metapolator/issue

[2015-05-26 14:13] davelab6 commented on #601
I don't think uniqueness is an important or relevant criteria for the label; I think the important criteria are what users primary deal with in the view, the _what is going on_ that you mentioned. What is going on in the first view is, designing masters, what is going on in the 2nd view is, designing instances, and what is going on in the 3rd view is, creating exports.

[2015-05-26 14:17] davelab6 commented on #601
My initial suggestions above are _nouns_, but you seem to suggest that _verbs_ would be better; in my following comments, I glibly describe each view's primary verb with the same word, _designing._

But thinking of verbs for each view, I

1. Design Masters
2. Metapolate Instances
3. Export Fonts

[2015-05-26 14:30] guiguru commented on #601
not necessarily (like a lot in design, there is no hard rules), but a mix of nouns and verbs is ugh. in our case (context is king) users are **doing** 3 things in these 3 views.

also it needs to be snappy (not verbose). and it needs to bring clarity, without trying to explain.

when it is right, it hits me like a hammer. when it is wrong, I smell the stink. in between there is a lot of we-can-do-

[2015-05-26 14:45] davelab6 opened #605 "Discuss: Include Size Pulley Next To Each Parameters Input"
I love interactively resizing text with the mouse pointer by using the pulley widget.

I intuitive wish to resize parameter values with a pulley too. Does anyone else have a yearning feeling for this? :)

[2015-05-26 14:46] davelab6 commented on #601
1. Fonts
2. Families
3. Exports

1. Grow
2. Breed
3. Ship

1. Expand
2. Explore
3. Export

1. Ingredients
2. Blender
3. Exports

1. meta
2. polate
3. or

[2015-05-26 14:49] graphicore commented on #605
:+1:

[2015-05-26 15:29] guiguru commented on #601
cool brainstorming. I am going to let this simmer until tomorrow (anybody can throw in more ideas here in the meantime) and look at this then with fresh eye and mind…

[2015-05-26 17:55] guiguru commented on #601
update (all goes a bit faster than expected)—

1. …
* Mix
* Export

2 and 3 already hit like a hammer.

the first one begs to be something within the cluster of:

* Design
* Adjust
* Construct

_(the last 2 are really not good enough, communicating counterproductive associations)_

something with the hands-on connotations of Sculpt or Form.

[2015-05-26 18:03] allcaps commented on #601
Suggestions for the first panel: Shape, Tweak or Define.

[2015-05-26 18:07] guiguru commented on #601
hey @allcaps: good material!

[2015-05-26 20:35] davelab6 commented on #601
http://www.eyemagazine.com/review/article/thou-shalt-not-tweak-fonts

[2015-05-26 21:52] davelab6 commented on #601
I like this:

1. Design
2. Mix
3. Export

But I stubbornly insist my original suggestion is best ;p

[2015-05-26 22:52] jeroenbreen commented on #601
from a biology perspective:

1. beget / DNA (modification) / ancestors
2. procreate / offspring / inheret
3. populate /  produce / survival of the fittest / born

[2015-05-27 08:23] davelab6 commented on #601
haha nice

1. bar
2. bedroom
3. maternity ward

1. parents
2. babies
3. school

[2015-05-27 08:23] allcaps commented on #601
The first one could also be: `Style`. So you get: Style Mix Export.

[2015-05-27 08:35] davelab6 commented on #601
I think style(s) could be, like font(s), not as informative as other choices

[2015-05-27 09:55] jeroenbreen opened #606 "Restructuring of purple pill code"
Lasse and me are prepairing a restructuring, to meet the concepts described here:
https://github.com/metapolator/metapolator/wiki/coding-style

- [ ] wire up engine

modules to do:
- [x] sortable
- [x] specimenRubberband
- [x] designSpaceControl
- [x] specimenKeyManager
- [x] listEditSelect (key manager)
- [x] listViewRubberband
- [x] panel
- [ ] parameter panel and cps functions
- [x] divider
- [

[2015-05-27 09:56] jeroenbreen commented on #604
moved to #606

[2015-05-27 09:56] #604 closed

[2015-05-27 09:57] jeroenbreen commented on #524
moved to #606

[2015-05-27 09:57] #524 closed

[2015-05-27 12:02] guiguru commented on #601
here is another brainstorming one:

1. Cut
* Cast
* Crate

on a serious note: after a night of sleep I think that Export has lost its hammer. it is now we-can-do-better.

what we are looking for is a verb related to:

* finessing
* wrapping up
* packing
* compiling
* finishing
* shipping

[2015-05-28 13:16] guiguru commented on #494
@felipesanches, thanks for asking for this, because I think I have now an idea to do it:

![fontscolumn](https://cloud.githubusercontent.com/assets/4458395/7860521/2e0bc318-054a-11e5-8b86-00b94d45f998.png)

each cell in the fonts column (the green one) stands for a font, and the checked ones are being exported. the _whole area_ of each cell can be used to show the progress of its font’s export:

!

[2015-05-28 13:26] guiguru commented on #359
and now that we got progress (heh) in https://github.com/metapolator/metapolator/issues/494, we now have the means to do it here:

![quick](https://cloud.githubusercontent.com/assets/4458395/7860966/97511ee2-054d-11e5-922b-edbf90714467.png)

one instance is being quickly exported here _(guess which one…)_

depending on how we really are going to do this (like: exporting a copy instead of the real

[2015-05-28 15:18] guiguru commented on #605
this belongs to ‘free working’ (by feeling) that was part of my LGM talk (just blogging that part right now).

remember that all parameters will be _hands-on_ adjustable on-canvas. that is where free working takes place. “squeeze it until it feels right.” note that this relies on live updating of the real thing, not just of some numerical value.

I have already designed in the pulleys in a few pla

[2015-05-28 15:37] guiguru commented on #515
so here is the stuff we have been talking about in https://github.com/metapolator/metapolator/issues/588#issuecomment-103119259, 10 days ago.

a hairy UI issue but no inclusion for me on this issue.

@allcaps: we need to talk, nothing heavy/specification, just a talk (hangout preferred over writing issues), so that we have the same understanding about what is good and what not.

[2015-05-28 17:31] allcaps commented on #515
@guiguru Okay, when?

[2015-05-28 17:38] guiguru commented on #515
@allcaps, cool.

what suits your schedule? a morning hangout?

[2015-05-28 17:42] allcaps commented on #515
@guiguru What about now? Tomorrow 9:00 or after 17:00 CET.

[2015-05-28 17:44] guiguru commented on #515
I have a nice discussion salon starting in 15 mins, lasts all night.

tomorrow at 9: let’s do it

I will set up a hangout now

[2015-05-28 17:47] allcaps commented on #515
Okay. Tomorrow.

[2015-05-29 09:15] allcaps commented on #515
A resume of the Hangout:

Two types of number input:
1) Direct update. For situations with low computation cost. E.g. specimen font-size etc.
2) Update on submit (submit == blur). For situations expensive computation. E.g. inputs in the parameter panel.

All number inputs should have the following functionality:
- Arrow up / down.
- Shift arrow up / down.
- Scroll up down. Increase decrease number

[2015-05-29 15:45] guiguru commented on #515
note that the heavy input (type 2) also commits on enter (triggers a recalc but leaves cursor in the field)

I would like to add that—

* arrows up/down and scroll up/down are equivalent, for both—
  * shift (think BIG) does big in/decrements
  * cmd/ctrl (think controoool) does mini in/decrements
  * shift + cmd/ctrl is open for doing something smart with—but not too smart
* math can go in front

[2015-06-02 21:07] jeroenbreen commented on #606
modules to do:
- [ ] specimenRubberband
- [ ] designSpaceControl
- [ ] specimenKeyManager
- [ ] listEditSelect (key manager)
- [ ] listViewRubberband
- [ ] panel
- [ ] parameter
- [ ] operator
- [ ] divider
- [ ] instances
- [ ] export
- [ ] body (click manager)
- [ ] viewportWatcher

- [ ] sortable

[2015-06-04 23:04] felipesanches opened #607 "crash while exporting: "The formula of this CPSVector didn't resolve to a Vector""
SourceCodePro-ExtraLight (downloaded from https://github.com/google/fonts/blob/master/ofl/sourcecodepro/SourceCodePro-ExtraLight.ttf and converted to an UFO by using https://everythingfonts.com/ttf-to-ufo which @davelab6 told us is in fact an automated server-side FontForge converter) imported successfully into Metapolator, but when trying to export an OTF, I got this error:

exporting OTF ...

Va

[2015-06-04 23:34] felipesanches opened #608 "Warning while importing: "skipping contour 0 because count of on-curve points is uneven""
I cloned the https://github.com/google/fonts repository and tried to import one of the UFOs with the following command:

./metapolator-import ~/devel/github_adobe-fonts/source-sans-pro/Roman/Bold/font.ufo testing/source_bold_master

And got several of these warnings:

WARNING: test this openContourOffCurveLeniency
    skipping contour 0 because count of on-curve points is uneven

Based on @graphic

[2015-06-05 13:14] graphicore commented on #608
The fist warning `WARNING: test this openContourOffCurveLeniency` is a bit annoying. The thing is that there are no unit-test for this part of the code. So, once when I tried to understand it, I was not quite sure what it does. I thought it would be nice to have it tested and added that log. However, the code works fine, because it is executed a lot and produces good results. Now I feel I can't ju

[2015-06-05 13:19] graphicore commented on #607
Can you make the files included in this bug accessible. I think you can use https://gist.github.com/ for uploads. Best out them into a zip or any other archive.

[2015-06-05 14:23] davelab6 commented on #607
No you have to put the files in a git repo and link. Gist is text only

[2015-06-05 14:37] felipesanches commented on #607
@davelab6 or @graphicore Can you create a new repository called test_files (or something like that) on the metapolator account at github?

[2015-06-05 15:06] graphicore commented on #607
Gist my ass. I though "add File" whoud mean that, now I clicked it ... and saw what happens :-/

@felipesanches  @davelab6  Should we create that on metapolator or should just everyone have an own issue-files repository?

[2015-06-05 15:24] felipesanches commented on #607
I would work with repositories per-organization instead of per-developer.
Then I would have folders labeled like: metapolator/issue_122/ or ufoJS/issue_55/

[2015-06-05 15:37] graphicore commented on #607
Yeah, but then if someone wants to contribute a bug, he will be forced to download all of the error history of the whole organization before being able to contribute.

Maybe, if we chose the `per-organization` plan, we should have an empty master branch, containing just a README.md with the description how to do it and then one branch per issue, using your naming scheme. That way, cloning should o

[2015-06-05 15:47] felipesanches commented on #607
I understand you're reasoning, but I would preffer to simplify the procedure and keep it all togeter (and more visible) on the master branch.

If anyone has issues with the data volume someday they may as well navigate the repository via github's web ui and download a single file.

[2015-06-05 15:58] graphicore commented on #607
It's more about the uploading part and annoying people who take their time to send us valuable information. If someone wants to upload bug-data the procedure is: fork on github the metapolator-issue-data repository, clone it to your disk, add your files, push it, link it in the issue and maybe add a pull -request for that branch (is that eben possible, to create a branch via a Pull Request?, that

[2015-06-05 16:02] felipesanches commented on #607
yeah, you're right. I was only thinking about the consumption of data. But indeed, the overhead on contributing is not desireable.

[2015-06-05 16:02] felipesanches commented on #607
maybe we should setup an email address for people to drop file contributions.

[2015-06-05 16:14] davelab6 commented on #607
very soon, when there is a lot of data to download.

wat? If someone is concerned about bandwidth or disk space, they will know
to use git to only fetch the most recent commit.

http://stackoverflow.com/questions/1209999/using-git-to-get-just-the-latest-revision

[2015-06-05 16:15] davelab6 commented on #607
If it was up to me I'd put the test files in the metapolator repo! ;) I
think github.com/metapolator/test-files is ok

[2015-06-05 16:16] felipesanches commented on #607
That's exactly what I suggested a while ago here: https://github.com/metapolator/metapolator/issues/607#issuecomment-109312781

[2015-06-05 16:22] graphicore commented on #607
I would call it at least issue-files or bug-files. Tests are usually some kind of unit tests or the like.

Also, I don't buy your last-revision argument, its off the point. Having to clone the whole project as it, without intending to use, if I want to report a bug, even if i don't clone history; it's an imposition. We should rather suggest to the people to just use google-drive or whatever.

[2015-06-05 16:51] davelab6 commented on #607
Up to you :)

[2015-06-05 16:55] graphicore commented on #607
Not having tried any of these:

http://www.filedropper.com/ and: http://alternativeto.net/software/filedropper/
gives a lot of simple upload and don't care again options.

[2015-06-05 17:06] graphicore commented on #607
Back to gist, you can make it manually, as it seems: https://feeding.cloud.geek.nz/posts/attaching-files-to-github-issues/

[2015-06-05 18:15] felipesanches commented on #607
Bear in mind that Metapolator is a free-software project, so one reasonable contraint would be that we try to use tools that do not obligate users to user proprietary software when contributing to the project. This would make some of the choices proposed here unsuitable, such as GoogleDrive.

I think that emails with attachments are pretty straightforward to send and do not impose any proprietary

[2015-06-05 18:31] graphicore commented on #607
You can use google drive from the webinterface. It's as proprietary as github in that respect. I mean, github is not free software as far as I can see.

Is it possible to send "large" attachments, let's say ~10 MB to a mailing list hosted by google-groups? That would create an accessible link without hassle. Do I need a google account to consume attachments on google-groups mailing lists? Is there

[2015-06-05 19:13] davelab6 commented on #607
attachments (the normal Gmail limit). Group owners or managers can edit
specific groups to set lower size limits. The default size for a message
sent in Google Groups is 25 MB.

https://support.google.com/a/answer/167085?hl=en#limits

[2015-06-05 19:17] davelab6 commented on #607
https://groups.google.com/forum/#!forum/metapolator-developers

[2015-06-05 19:33] graphicore commented on #607
Ok, this is good for me:

https://groups.google.com/forum/#!topic/metapolator-developers/FhoxkRZgNSc

[2015-06-05 19:34] graphicore commented on #607
This is the address to send to: metapolator-developers@googlegroups.com

[2015-06-05 19:53] felipesanches commented on #607
@graphicore or @davelab6: Please create the issue-files repository and add me (and yourselves) as a contributor with push rights.

[2015-06-05 20:01] graphicore commented on #607
I think that repository is not needed. I stated that multiple times. Just give the link of the message you created in here, like this:

The files to reproduce this issue can be found here: https://groups.google.com/forum/#!topic/metapolator-developers/hWhXoxoDtNQ

[2015-06-05 20:29] felipesanches commented on #607
oh, now I see! Great! :-)

[2015-06-05 20:39] graphicore commented on #607
Good :-)

[2015-06-06 11:10] graphicore commented on #608
@felipesanches can this be closed?

[2015-06-06 16:59] felipesanches commented on #608
This issue contains important information that should be migrated to the wiki. I'd suggest we only close this issue once we have this expected behaviour documented in the wiki.

[2015-06-06 20:23] graphicore commented on #608
Are you going

[2015-06-06 21:30] felipesanches commented on #608
Anyone of us can do it. If you want, I can do it.

[2015-06-11 18:53] felipesanches opened #611 "[Maintenance] Remove code duplication by adding new method to MOM/Master"
https://github.com/metapolator/metapolator/pull/603/files#r31867063

[2015-06-11 18:54] felipesanches opened #612 "It seems like Opentype.js is not NodeJS ready"
https://github.com/metapolator/metapolator/pull/603/files#r32220790

[2015-06-15 16:15] guiguru commented on #494
OK, I now officially nominate this bug as the place to talk about the progress bars, including #359.

@felipesanches let’s do a hangout on air, just so we can talk through it and find out _together_ )instead of in isolation) what the best plan is.

how about tomorrow (tuesday) 9:00 berlin time?

[2015-06-15 16:16] guiguru commented on #359
all discussion, design and development moved to #494

[2015-06-15 16:16] #359 closed

[2015-06-15 16:20] davelab6 commented on #601
@guiguru how to conclude this? :)

[2015-06-15 16:22] davelab6 commented on #591
I assigned this to you because I want to discuss if its possible to do what MutatorScale does with Metapolator. This illustration is most relevant:

![MutatorScale precision](https://github.com/loicsander/MutatorScale/raw/master/images/mutatorScale-5.png)

[2015-06-15 16:49] guiguru commented on #601
yes, this stew has been simmering long enough.

Looking at a lot of things (not just what I like) I find the best labels to be:

1. Form
* Mix
* Export

* **Form** works in both dictionary definition as verb (‘bring together parts or combine to create’ and ‘make or be made into a specific shape or form’) and even when mistaken for the noun, it works excellently (‘ the visible shape or configuratio

[2015-06-15 16:54] davelab6 commented on #601
okay, @jeroenbreen please tee this up :) However, I'll open another issue to user test this at Granshan :)

[2015-06-15 16:55] davelab6 opened #613 "Test the UI naming scheme"
Following https://github.com/metapolator/metapolator/issues/601 then I think it would be great to ask users about the names of the widgets in the UI, to see if they are about to understand what things do intuitively.

[2015-06-15 17:24] guiguru commented on #613
friendly guidance:

1. there is no such thing as intuitive in interaction. only a baby’s use of its mothers’ breast is intuitive, the rest is learned operation.
* the maximum that can be achieved in Metapolator (remember, it is a rally car) is that the naming in the UI supports the guided introduction to using the tool (like your demo, a run-through) and that the guided introduction clarifies the

[2015-06-15 18:08] guiguru commented on #591
I read the description of what he is demoing there:

“Let’s say I have two masters, a Regular and a Bold. In the regular weight, an H’s vertical stem is 100 units wide, and in the bold weight, 200 units. If I’d like to obtain a regular small capital H with vertical stems of 100 units, scaled down 85% in width and 80% in height”

everything can be done via parameters or metapolation in Metapolator,

[2015-06-15 18:13] davelab6 commented on #613
1\. Maybe intuition isn't the right word. Professional type designers and typographers have learned to operate font tools, and everything that Metapolator can do is familiar to them. I am curious to find out if it is presented in a way that meets their expectations and that they find satisfying.

2\. Guided introductions are 'progressive enhancement,' and I expect many users will not read/watch th

[2015-06-15 18:19] davelab6 commented on #591
Sure, but that is step 1 of the operation; step 2 is to them interpolate to make the vertical stem of an instance precisely 100 units wide. How to do that in the mix page? :)

In an UFO + OpenType workflow, small caps glyphs are not unicode encoded but are accessed via OpenType features (smcp + c2sc). With Metapolator as it is, I'd operate on the encoded cap glyphs (A-Z) and then export that maste

[2015-06-15 18:24] guiguru commented on #591
the stem of the Regular is already 100 wide. thus if the Weight parameter is not touched, it remains 100.
it is a skeleton transformation without changing the pen.

[2015-06-15 18:29] guiguru commented on #591
ps:

good to know, learned something there.

pps: we do this so much better than MutatorScale

[2015-06-15 18:31] davelab6 commented on #591
:) I guess where I am going with this is that I feel like I need to measure the results of things to feel sure that what I'm doing is producing precisely the values I intend

[2015-06-15 20:08] guiguru commented on #591
those value are the parameters.

as soon as we have point selection, users can put the caps and small caps next to each other (even when in two masters, cap H next to small cap H) and point-select in the vertical stems and see how the Weights relate at that point. they can also multi-select the same point in the two Hs and see the Weight be one (identical) value or a range (which is the relation b

[2015-06-15 20:14] felipesanches commented on #494
yeah, we can schedule a video-chat, but remember I'm in GMT-3 timezone. So, 9am in berlin would mean 4am in Brazil :-P

I would preffer to do it in the end of your afternoon in Berlin, which would be something like 2pm for me (in Brazil) and 5pm for you (in Berlin).

[2015-06-15 20:16] felipesanches commented on #494
I usually work on Metapolator during my mid-afternoons and nights (up to 11pm Brazilian time).

[2015-06-15 20:23] guiguru commented on #494
sorry @felipesanches, I had my timezones screwed in the wrong way around.

sure. shall I set it up for tomorrow like that?

[2015-06-15 20:31] felipesanches commented on #494
Yes, let's do it. Should I perhaps publicly announce it in my daily report on G+ tonight?

[2015-06-15 20:33] guiguru commented on #494
I will make a public hangout out of it

[2015-06-15 20:37] felipesanches commented on #494
ok

[2015-06-15 21:09] felipesanches opened #614 "Export profiling / Speed improvements"
The current implementation of the UFO Export routines is slow. This issue is aimed at making it faster.

The default base master has 171 glyphs. Exporting it (running in my personal computer) takes:

* 2min 34s to generate the UFO data for all of the glyphs;
* 3 or less seconds to pack it into a ZIP file.

2min 34s == 154 seconds. Divided by 171 glyphs, it results in approximatelly 900ms per glyph

[2015-06-15 21:46] davelab6 commented on #614
10 seconds of wasted time out of 2.5 mins, that allows a little
interaction, is ok for me. Best to focus on making glyph calculation
faster:)

[2015-06-15 21:56] Troush commented on #614
Javascript has multi threads support now days.
http://pmav.eu/stuff/javascript-webworkers/
Just lurking around.

[2015-06-15 21:58] graphicore commented on #614
@Troush yeah, but that's not so easy. I have plans to get there, however :-)

[2015-06-15 22:15] felipesanches commented on #614
@graphicore, does adopting requireJS on the ui-code on purple-pill v3.0.0 put us closer to adopting webworkers in Metapolator ?

[2015-06-15 22:21] graphicore commented on #614
@felipesanches No, not really. How do you think that would help? As this matter is not attached to a UI, rather the inverse is true, a UI would be dependent on the interface of the model. With Webworkers a lot of the UI code would have to become async. However, how we organize and load the code is not that big of a question here.

[2015-06-15 22:25] graphicore commented on #614
Also, Webworkers, they will help to speed it up a bit. However, they are not the golden bullet. The real feature that we gather is that the ui is not blocked when a Webworker is running. The other feature is that we can make a lot of improvements to how we handle things. The byproduct will be easier to implement history(redo undo) and probably it opens the doors for multi-user editing.

[2015-06-15 22:33] graphicore commented on #614
If you want to get dirty on the inner workings of this, my next move would be to do clustering when checking which rules apply for which element, as I see this as the biggest bottleneck at the moment. Clustering means to further inspect or to dismiss a set of rules at a time, rather then checking each rule one by one. First would be clustering by already existing `@namespace` rules, later, we coul

[2015-06-15 22:33] felipesanches commented on #614
I only vaguely recall you (or someone else perhaps) commenting something about RequireJS and WebWorkers. So, I thought maybe the current work being done by Jeroen could bring us some benefit related to that as well...

[2015-06-15 22:36] graphicore commented on #614
RequireJS can be used as a loader in webworkers as well, so it is very convenient for us. But the UI won't run in a Webworker.

[2015-06-15 22:37] felipesanches commented on #614
I could give it a try, for sure. But not without a video-chat session with you covering the architectural concepts involved. Otherwise we may end up wasting too much energy (i.e. developer time) on this.

[2015-06-15 22:38] felipesanches commented on #614
Would you be happy to schedule such video session for this next Thursday or Friday, perhaps?

[2015-06-15 22:40] graphicore commented on #614
That's what I think as well. You would have to pick up a lot of concepts there, so I doubt it can be very effective. On the other hand, if we can isolate the task good, it may not be so much at once :-/

[2015-06-15 22:42] graphicore commented on #614
We can do so. We should make it public, though and we need an agenda (I always say that, in the hope to be more focused then).

[2015-06-15 22:49] felipesanches commented on #614
The focal point of discussion is clearly a mix of (A) concepts of the export internals and (B) identifying the most probable performance bottlenecks to be dealt with.

[2015-06-15 23:00] graphicore commented on #614
The one bottleneck I described would be good to get rid of, It's the last big one from when I measured the last time. Then we need to do profiling again. But profiling will not be so easy then anymore, I think the time used is well spread then. We would have to find good things that we want to measure.
Some actions when invalidating the caches are also throwing too much away, maybe we can be bette

[2015-06-16 14:46] felipesanches commented on #614
I timed the export of the same default (171-glyphs) font again and now I got it exported in 1min58s. It seems there might be other factors such as CPU load that also afect how fast/slow the export goes.

[2015-06-19 11:41] guiguru commented on #494
hey @felipesanches, all of a sudden I am thinking:

our export looks t the browser like a download, right?

does the browser show its normal ‘downloading…’ feedback (progress bar, or spinning bar. and an end-of-download notification)?

is this shown during the whole export or only a little bit at the end?

[2015-06-19 13:27] davelab6 commented on #494
The download action can only occur at the very end of the export and is
instant

[2015-06-24 08:12] guiguru opened #617 "get parameter editing in a minimal usable state"
for 0.3.0, the minimal viable product version of Metapolator, it is of utmost importance that the parameter editing is usable. if not, we have immediately lost the goodwill of our first users, who are the gateway to much more users.

I will make this really practical:

- [ ] @guiguru evaluates the parameter editing of the most up to date version
- [ ] starting from that state, @guiguru makes a lis

[2015-06-24 08:14] guiguru commented on #617
@jeroenbreen, can you tell me where the most up to date version is now?

after that you can assign this issue back to me.

[2015-06-24 09:54] jeroenbreen commented on #583
done by the refactoring #606

[2015-06-24 09:54] #583 closed

[2015-06-24 09:54] jeroenbreen commented on #578
done by refactoring #606

[2015-06-24 09:54] #578 closed

[2015-06-24 10:06] jeroenbreen commented on #617
How I see it is this:
• Lasse is now reviewing my refactoring work
• If that is done, I need to wire some engine stuff (shouldn't be too much work)
• At that time, 2 parameters (weight and width) are working with all the operators (in the current purple pill, only multiply is working). You could review at that moment.
• If #587 is fixed, all parameters are working with all operators. You could rev

[2015-06-24 10:50] guiguru commented on #617
hey, that is of course the best possible outcome! I think @davelab6 wants to know how long that really is join to take (and he may have to give a nudge here and there to get #587 done).

yes, because in all my enthusiasm I should not forget that ‘all parameters are working with all operators’ is functionality (what works), but not usability (how it works).

so if @jeroenbreen can confirm the corre

[2015-06-24 13:34] davelab6 commented on #617
I think it was http://metapolator.com/v0.3.0/

[2015-06-24 13:45] guiguru commented on #617
I want to be sure, because it is a lot of work to do on the the wrong version (plus some unneeded irritation for all of us establish that we a re talking about different versions)

[2015-06-24 14:53] jeroenbreen commented on #617
Yes, step 3 (of my 4 dots) will be simalor to the situation of http://metapolator.com/v0.3.0/ But in the refactoring also these techniques have been refactored.

So you could look at http://metapolator.com/v0.3.0/ to see if I understood everything Uex-wise correctly, but you could find bugs there which are not there in the refactoring and vice versa.

So the most effecient way is for you to wait f

[2015-06-24 15:10] davelab6 commented on #617
All good! I just chatted with Peter (video in the G+ stream) and at the
tail end we discussed this and we are all on the same page.

[2015-06-24 15:21] guiguru commented on #617
@jeroenbreen thanks for clarifying.

I see, simply let me know the earliest moment we get to your point 3. I will update the list at the top.

[2015-06-24 16:22] jeroenbreen commented on #617
I will announce it with loud voice at G+, I think @felipesanches will be glad with that moment as well :)

Currently still at bulletpoint 1: @graphicore just did a bunch of comments here https://github.com/metapolator/metapolator/pull/618#issuecomment-114854747 this will probably take at least a few days ping pong of me and Lasse.

[2015-06-25 20:49] felipesanches commented on #514
This is done :-)

[2015-06-25 20:58] felipesanches commented on #612
Now that we have OTF export working both on Node.js via command-line and in the Metapolator UI, I wonder what exactly you comment means, @graphicore

Can you better explain what is the real issue here? What is the aspect of "NodeJS ready" that Opentype,js supposedely fails to deliver in your point of view?

[2015-06-25 21:20] graphicore commented on #612
If it's working all is fine. I thought Node.js would not have the `Int8Array` or generally a different set of binary data tools than the WebAPI.  Probably outdated, if this is working. It seems like Node.js has them all (ArrayBuffer, Uint8Array, **Buffer**)

But looking into this I think that "Buffer" is not a Browser API. So where the hell is it coming from in our Browser environment?

[2015-06-25 21:43] davelab6 opened #622 "Update export text"
![screen shot 2015-06-25 at 5 39 21 pm](https://cloud.githubusercontent.com/assets/261579/8366247/4f1001f0-1b61-11e5-8206-9df170129a61.png)

Should be

[code]

[2015-06-25 21:44] davelab6 commented on #514
This is not shipping in http://metapolator.com/purple-pill/ ?

[2015-06-25 21:45] #495 closed

[2015-06-25 22:22] graphicore commented on #612
Actually if we have a `Buffer` in the browser, not all is fine, that should be explicit somewhere.

[2015-06-25 23:01] #622 closed

[2015-07-04 09:50] guiguru opened #623 "get export in a minimal usable state"
font export is a first class citizen of the UX of Metapolator. This means that key ingredients simply have to work well, without dumping our users into a technological world.

here are the key ingredients, the list will be amended after each round of testing:

- [ ] file dialog at the beginning of the export, not at the end _(“and all the problems of noticing or losing it are gone…”)_ ideas to tri

[2015-07-04 09:52] guiguru commented on #623
no need to wait for me to be able to look at the current implementation. the points above are clear and implementation can start without delay

[2015-07-04 09:54] guiguru commented on #494
I am moving this to 0.4.0.

#623 is much more important and pressing for 0.3.0

[2015-07-06 14:05] #606 closed

[2015-07-06 14:12] jeroenbreen opened #624 "Roadmap for refactoring purple pill"
In week 23 - 25 I started refactoring the complete purple pill code under guidance of Lasse and with this in mind:
https://github.com/metapolator/metapolator/wiki/coding-style

Lasse still saw a lot of thing he wants to change in order to have a stable base for future development.
He thinks this will take some time and he is going to help with this.

In this issue we can discuss how the roadmap wi

[2015-07-06 14:29] davelab6 commented on #624
Hmm. Peter and Lasse and I are meeting in 3 weeks in Reading. Do you think it may be possible for designers to upload their own UFOs and play around with them by then?

[2015-07-06 14:43] jeroenbreen commented on #624
I think the whole question can be summarized with:

• do we want a complete refactoring and then do all the new implementations; or
• do we want a semi-refactoring - do some implementations - complete the refactoring

@graphicore can give a better estimation what the cons of the latter are.

[2015-07-06 14:46] graphicore commented on #624
Yeah, I think I can provide some more information this week. I think we must have some improvements of the overall structure at least in mind, before we can continue working on features. So that we move into a good direction when adding new stuff.

My basic critique is that the architecture as it is now is built from the perspective of the user interfaces as a starting point, resulting in poor mod

[2015-07-06 15:26] guiguru commented on #624
I agree: the backend and the UI are **completely different worlds** and by nature are structured differently. it is not desirable—for the both of us—that they are like mirror images.

I would like to to sharpen that definition to: a strong model layout that is capable to **support** the user interfaces/interaction as intended.

with that definition, I am completely happy.

yes, that sounds good, e

[2015-07-06 15:36] davelab6 commented on #624
On 6 July 2015 at 10:46, Lasse Fister <notifications@github.com> wrote:

But the project is in need of saving today, by getting a user. Currently
there are zero users, and I can not gather support for a product with zero
users.

[2015-07-06 15:59] graphicore commented on #624
So why bother moving it into master and asking me to look over it? If there is a priority list that I should obey, please give it to me. Also, mark the point where we start to tackle the biggest problems of the current code.

Also I wrote in the same message:

All of it is very supportive in respect of the we-need-something-very-soon demand. I feel a bit misquoted.

We made a list in Toronto with

[2015-07-06 16:21] davelab6 commented on #624
I'm sorry that I misquoted you; on re-reading more carefully, I see that
you do balance the need for something to show to users with the long-term
technical debt repayment :)

If there's nothing new for users to see in 3 weeks, its not really a
problem, there's always next time :)

[2015-07-06 16:26] graphicore commented on #624
Three weeks should be enough time to finish the loading of ufos. But probably without checking compatibility or a very rough check that allows a project to only consist of compatible masters etc.

[2015-07-06 16:34] davelab6 commented on #624
Users can follow exact instructions, that's not a problem :) I suggest having such checking provided as extensions to the user's native font editors would be better than a lot of checks in mp, so that they can get the fonts passing with a minimum of fuss :)

[2015-07-06 16:39] graphicore commented on #624
... and then get an error because they don't interpolate (glyph is missing, contour is missing, point is missing etc.) It just postpones the fuss. Removing this postponed fuss by trying to fail gracefully would need more code as well :-)

We don't have a nice error reporting in place as well, at the moment, so  UX wise that is all a bit rough.

[2015-07-06 16:44] davelab6 commented on #624
The same set of checks have to be written somewhere. I don't see why the
editor checks could not account for all possible errors.

But this is beside the point: with clear instructions about what to do, and
a ungraceful "File not valid. Please retry" UX just in case, users will be
ok

[2015-07-06 16:59] guiguru commented on #624
I agree that at this omen we can work with **a really good instructions webpage**: how to set u your fonts for metapolator. and a minimal sanity check in code.

you know this causes me pain, but it is a a pain i can bear for an MVP.

[2015-07-06 17:01] guiguru commented on #624
…and remember, I took out Undo from the MVP.

now_that_ is rough

(it **must** go into 0.4.0)

[2015-07-08 10:13] jeroenbreen commented on #624
Just a sidenote. I wrote this Reading thing in my agenda once, not sure if it is right, but my agenda says 22nd of july, which would mean we have 2 (instead of the mentioned 3) weeks from now.
I would have to do most of the stuff in the evening hours, so I would love to be prepaired well when storm is coming.

[2015-07-08 10:19] graphicore commented on #624
Allright, so, I woke up and remembered that the engine is not connected to the current version of the code and so on. Also, this week I have some administrative work to do and I'm pretty occupied.

Thus, it is probably stupid to further delay the PR. I know that I have to put work in here, but just to restore the status quo on the current state will also take time, i.e. attaching the engine, porti

[2015-07-08 11:03] jeroenbreen commented on #624
Though I could really need advice on the very first plug of the engine connecting.

[2015-07-08 11:26] graphicore commented on #624
Of course :-)

[2015-07-08 13:36] davelab6 commented on #624
Right, 2 weeks. My math is bad :)

[2015-07-09 14:50] graphicore commented on #624
@jeroenbreen I just merged #626 I hope that is enough to get you going. Read the comment in the PR as an introduction thoroughly, I think it covers all you need to know. Ask me if there are open questions.

[2015-07-09 21:13] jeroenbreen commented on #624
thanks.

[2015-07-15 15:17] jeroenbreen commented on #624
@davelab6
Okay, a little update. Lasse helped me yesterday-night to get Metapolator serving, so I have worked today (and have to do more somewhere in the next days) to rewire all the engine plugs. Came (and coming) across a few hitches in the process and I realize I have to do some more adjustments to the refactoring.

When I am finished with that @guiguru would want to do a thorough check I assum

[2015-07-15 15:49] davelab6 commented on #624
Thanks man! No worries if its not ready for Granshan :) We just keep on
rollin'

Sounds like you've massively levelled up in terms of web application
development, which is awesome!!

Lasse's Arabic is also not nailed yet, maybe the next project he does could
be more metapolator based, so if 0.3 isn't ready, there's plenty to talk
about there

[2015-07-15 20:27] VictorBjelkholm commented on #494
Hey guys, not exactly sure what you're doing or how you're using ngProgress but I understand that you do. One new feature in the latest release (1.1.0) of ngProgress includes functionality for multiple progressbars. Basically, it's done like this:

[code]

I'm not sure if this helps you or not but I thought I'd let you know :)

[2015-07-15 20:32] davelab6 commented on #494
@VictorBjelkholm thanks for the heads up :) basically @jeroenbreen is completely refactoring the UI code, so I'm also not sure how ngProgress fits in the latest development branch, but this is great to know :)

[2015-07-15 20:58] felipesanches commented on #494
We ended up reimplementing the feature ourselves and not using ngProgress anymore.

[2015-07-15 21:27] VictorBjelkholm commented on #494
Ah, understandable. Thanks for the information :+1:

[2015-07-17 08:41] jeroenbreen commented on #593
Please inform me when this is fixed, so I can remove the harcoded cps rule index.

[2015-07-17 13:39] graphicore commented on #593
Is it already possible to use the Purple-Pill again, as in the video above?

[2015-07-17 13:49] jeroenbreen commented on #593
So you mean you want to see it in the broken way?
I just came across this issue again in my refactoring.
If you change 3 to null here - it behaves more or less like in the video
https://github.com/jeroenbreen/metapolator/blob/master/app/lib/models/metapolator/masterPanel/MasterModel.js#L25

This is where cps file is logged:
https://github.com/jeroenbreen/metapolator/blob/master/app/lib/ui/metapola

[2015-07-17 16:58] #593 closed

[2015-07-17 21:38] jeroenbreen opened #628 "Can there be, or is there already a 'Pater Familias' status for a master?"
For the parameters, I need to measure glyphs to know the initial value of a certain parameter. To save computing time, I only do this, when a glyph is rendered. So every glyph has boolean called rendered.

With that system, you could end up with for example 'master#regular glyph#a' rendered, and master#bold glyph#a' unrendered. When the second one is showed, the measuring is done again (but will h

[2015-07-17 22:57] davelab6 commented on #628
What is it that you measure? Which parameters? :)

[2015-07-18 09:57] jeroenbreen commented on #628
see https://github.com/metapolator/metapolator/issues/587

[2015-07-20 12:05] jeroenbreen opened #629 "ruleController.write doesn't update"
When I want to remove a master from an instance I need to rewrite the cpsString with a new generated-n.cps file and with a new baseMaster / proportion set.

It looks like the ruleControlller doesn't update well. When I do this log, I get the old cpsString when doing `parameterCollection.toString())`.

[code]

[2015-07-20 21:34] graphicore commented on #629
Did you try to write something that is actually cps? Because `"something new"` surely won't parse and thus it won't end in a `parameterCollection`.

[2015-07-21 10:39] jeroenbreen commented on #629
Yes, above was ment as pseudo code.
Here you see the code:
https://github.com/jeroenbreen/metapolator/blob/527d62e0742e06fa60ef70188a532ebd6fd56422/app/lib/ui/metapolator/services/InstanceTools.js#L23-L25

To reproduce:
• create a second master (the double diamond icon bottom right)
• go to design spaces, drag the 2 masters (one by one) in the space and check the log on the second (uses updateCPSf

[2015-07-23 14:50] jeroenbreen commented on #624
New update:

a) I am getting near to the status that purple pill has + the full operator functionality. Here a short demo:
http://youtu.be/i5Cdm8UlufY
I have to fix a few big bugs though.

b) spent also much energy in getting the models into the right shape.
@graphicore what do you think of it now:
https://github.com/jeroenbreen/metapolator/tree/master/app/lib/models/metapolator

Maybe it is time

[2015-07-23 19:29] davelab6 commented on #624
Wow! Awesome

What's the tune??

Can a user upload  their own ufo and use the + operator on it?

[2015-07-23 20:48] jeroenbreen commented on #624
https://www.youtube.com/watch?v=7fxL-sxN7fo

I hope @felipesanches would like to implement the work he has done on this himself (upload and export).

Then it should work (I am saying that, not knowing much about the conditions an import should meet... so saying that assuming a clean import. @graphicore can better comment this), with all operators.
But...
a) as said, I have to fix some problems sti

[2015-07-24 01:00] davelab6 commented on #624
All good, no rush! :) Felipe, once this is merged would be good to switch
to this plus the opentype.js GPOS stuff 50/50 :)

[2015-07-24 01:03] felipesanches commented on #624
yeah, sure. I can port/adapt the UFO/OTF import/export code to the new purple-pill as soon as this is merged.

[2015-07-24 12:58] jeroenbreen opened #630 "Setting point CPS parameter factor"
@graphicore

Now with the new operators (`+`, `-`, `min`, etc), values for parameters that act on `point` level, need to be able to affect specific points' cps.

So in the `parameters.cps` file, I need to set the standard for point level, to be able to override it later on in the UI.

[code]

error:
[code]

[2015-07-29 17:48] guiguru commented on #628
that sounds a bit strange to me.

it is normal enough to import several **really** different masters (like a regular and italic starting point; really different skeletons) that are not even point-compatible—no need for that, they live in parallel universes.

also a collection like this: http://www.houseind.com/fonts/housearama/viewfonts can be worked on in a single project; completely different, e

[2015-07-29 19:14] jeroenbreen commented on #628
Yes yes, you understood me correctly and by answering with future scenarios you have answered me partly already. Let me think on it a bit more.

[2015-07-29 19:26] davelab6 commented on #628
Woah. I think that if a set of masters are not point compatible, they can not belong to the same project.

@graphicore how do you understand this?

[2015-07-29 19:27] davelab6 commented on #628
I expect the a designer with 3 projects like that would work with 3 metapolator windows open

[2015-07-30 00:34] graphicore commented on #628
It's possible, but in a well guarded explicitly user friendly environment I think it could become challenging.

Think about a project with 3 compatible masters, but with a point-changing editor (a drawing solution) When you change one master, and intend to change the other masters later, then you have a incompatible situation. Probably, we should go back to the concept of the "essence" and build t

[2015-07-30 10:59] guiguru commented on #628
this is a good discussion.

you can convince me about dropping the house-a-rama argument, but the italics case is as hard as steel, and super mainstream. in good interaction design fashion, let’s go through the needs of product, users and tech and harmonise them (i.e. design).

**users** first. here are two non-controversial observations about designing italics:

1. true italics have really differ

[2015-07-30 11:08] davelab6 commented on #628
Right. I see the confusion: I was assuming this discussion was about the 0.3.0 release work, where I think it is reasonable that a user with a roman and italic would work with 2 metapolator windows open; but Jeroen is asking for long term guidance since the 0.3.0 refactoring is meant to set up the codebase for a long haul.

Therefore, no, a system where only the first master is measured can not wo

[2015-07-30 11:19] guiguru commented on #628
yes, I meant to say in https://github.com/metapolator/metapolator/issues/628#issuecomment-126273394 that this is not for 0.3.0. (but in the year following: yes, this is elementary.)

[2015-07-30 17:07] jeroenbreen commented on #628
ok.

[2015-07-30 17:07] #628 closed

[2015-08-25 21:38] felipesanches opened #632 "adapt import/export features to the new purple-pill code"
I see that 20 days ago @graphicore merged a huge set of commits developed by @jeroenbreen

This is the merge I'm refering to: 980e2effe34da3630b393b25310b7456b14f6b20

Is this the new purple pill ui code now living on master branch? After this merge, do we stop using the gh-pages branch for UI development and now we keep it all in the master branch?

Also, is it the code that needs to have the imp

[2015-08-26 11:03] jeroenbreen commented on #632
Yes.

I believe so.

Yes.

[2015-08-26 11:14] #481 closed

[2015-08-26 11:15] jeroenbreen commented on #568
moved open sub issues to https://github.com/metapolator/metapolator/issues/343

[2015-08-26 11:15] #568 closed

[2015-08-26 11:19] jeroenbreen commented on #601
Form, Mix, Export is now implemented in the new master branch ui development.

[2015-08-26 11:19] #601 closed

[2015-08-26 11:21] guiguru commented on #601
hey @jeroenbreen , it is good to see you again!

[2015-08-26 11:25] jeroenbreen opened #633 "Check if all glyphs are measured and cps is written before export"
To save computing time, only glyphs that are displayed are measured and thus only those have cps rules.
There can be (a lot of) scenarios where a glyph needs cps, but doesnt have it yet. Eg:
User wants +10 for the `width` at `master` level. This means that every glyph needs to have this operation:
• measure initial width
• displayed width = initial + 10
• glyph width factor = displayed width / ini

[2015-08-26 11:29] jeroenbreen commented on #601
:v:

[2015-08-26 11:30] jeroenbreen commented on #601
just cleaning up my issues. Activity statement here https://plus.google.com/+DaveCrossland/posts/ihdmD5pSuPc

[2015-08-27 13:58] graphicore commented on #632
All yes. That's what I meant when I wrote:

in my pre-vacation "Away" email :-)

[2015-08-27 14:08] felipesanches commented on #632
Sure! I can do it. These past weeks I've been helping Marcelo working with Inkscape & Fontforge. So time is not lost at all :-)

[2015-08-31 14:35] allcaps opened #634 "UI doesn't load when UFO has hidden files and/or folders."
I wanted to checkout Metapolator after the big merge. It took me a while to get up and running. This is what I did:

$ git clone git@github.com:metapolator/metapolator.git
$ cd metapolator
$ git submodule update --init --recursive
$ npm install
$ bower install
$ cd ..
$ git clone git@github.com:jeroenbreen/Canola.git
$ cd metapolator
$ metapolator serve -p 8080 ../Canola.git

Opened http://localho

[2015-08-31 14:38] jeroenbreen commented on #633
Phase II
When a master is duplicated, we can prevent double measuring.
So a measuring of a glyph counts for each glyph in the 'sibbling' masters.

[2015-09-01 13:42] guiguru commented on #118
I suggest a milestone change here, or **close**

[2015-09-01 13:52] graphicore commented on #118
Actually the jsHinTabulaRasa®© and WhitespacePocalypse™ already happened in the meantime, I guess however that the latest additions by @jeroenbreen do not fully comply and that there are also some other style deviations took place again, but all not as bad as it used to be.

I wouldn't close, but we can remove the milestone. Just closing does not make it go away.

[2015-09-01 14:04] guiguru commented on #118
please change the milestone to something **defined** instead of _undefined_.

the next around of things I want to do today is to take everything that is milestone:undefined and assign it one, so that we do not have these U-boats here.

[2015-09-01 14:18] guiguru commented on #329
I suggest a milestone change here

[2015-09-01 14:20] guiguru commented on #339
I suggest a milestone change here, or **close**

[2015-09-01 14:22] guiguru commented on #349
is this still a bug?

[2015-09-01 14:25] graphicore commented on #339
We don't have any "wire format" yet because everything is inside the browser. I'd give it a closer look when it comes to sending messages around (also between web-worker processes for example).

[2015-09-01 14:29] guiguru commented on #368
on my list for the next days

[2015-09-01 14:32] guiguru commented on #339
@graphicore still a 0.3.0 issue, or change milestone?

[2015-09-01 14:35] graphicore commented on #339
It depends on when we start to do messages. Which in turn will start when we do history management, I suppose.

[2015-09-01 14:40] guiguru commented on #339
“history management” like Undo? (if there is more to it, I would like to get an idea about that too)

with a big pain in my heart I have written off Undo for 0.3.0 (it is, together with persisting projects, the BIG issue for 0.4.0, though)

[2015-09-01 14:41] guiguru commented on #367
do we still have this ambition?

for me persisting project (+ Undo) is the BIG issue of 0.4.0

[2015-09-01 14:45] guiguru commented on #370
needs a bit of UI thinking first, so assign to myself

[2015-09-01 14:53] guiguru commented on #394
is this still a bug?

[2015-09-01 14:54] guiguru commented on #395
is this still a bug?

[2015-09-01 14:57] guiguru commented on #399
is this still a bug?

[2015-09-01 15:03] graphicore commented on #339
Yes, like undo and redo. Basically it means we will have to change how we interact with our models/the engine. Talking to the APIs via commands instead of calling functions directly. Your Idea of undo is also not the simplest way to implement, as far as I recall. I think it can be done with something like a transaction mechanism, as used in SQL-databases.
That command API is also a perfect chance

[2015-09-01 15:07] guiguru commented on #339
@graphicore: is it safe to say that this will not happen for 0.3.0 (as in: doing for 0.3.0 all make its release again weeks later)

[2015-09-01 15:07] graphicore commented on #339
yes

[2015-09-01 15:10] graphicore commented on #399
yes

[2015-09-01 15:10] guiguru commented on #339
thanks @graphicore, for the explanation

[2015-09-01 15:11] graphicore commented on #367
yes, still there (easier to implement than history though)

[2015-09-01 15:12] guiguru commented on #469
guidance: yes, I prefer that it would be .mpz

[2015-09-01 15:16] guiguru commented on #466
strange to be completely not on this bug, it is all UI

[2015-09-01 15:24] guiguru commented on #486
I suggest a milestone change here, or **close**

[2015-09-01 15:25] guiguru commented on #487
moving to 0.4.0

[2015-09-01 15:32] guiguru commented on #515
@allcaps: how is this going?

[2015-09-01 15:36] guiguru commented on #550
let me restate that the glyph update progress bars are a high-priority must for 0.3.0

I also want to note that this one is dependent on #390

[2015-09-01 15:40] guiguru commented on #569
looks like the air is out of this one

[2015-09-01 15:40] #569 closed

[2015-09-01 15:48] guiguru commented on #605
has been clarified

[2015-09-01 15:48] #605 closed

[2015-09-01 15:49] guiguru commented on #598
OK, we have to un-break our process here.

on my to do list

[2015-09-01 16:08] guiguru commented on #412
0.4.0 methinks

[2015-09-01 16:23] allcaps commented on #515
Not progressing. I waited a bit till the big merge and now have to find my way around again.

@jeroenbreen where do you want these widgets to live?

[2015-09-01 17:27] jeroenbreen commented on #412
@allcaps mentioned once he wanted to look into this. Still eager Coen :) ?

[2015-09-01 20:30] jeroenbreen commented on #515
@allcaps
Here are the inputs:
https://github.com/metapolator/metapolator/blob/master/app/lib/ui/metapolator/parameter-panel/selection/selection-parameter/selection-parameter.tpl

and here is the controller with the relevant functions:
https://github.com/metapolator/metapolator/blob/master/app/lib/ui/metapolator/parameter-panel/selection/selection-parameter/selection-parameter-controller.js#L24
and

[2015-09-02 14:31] jeroenbreen commented on #394
@graphicore

When I do `cpsRule.parameters.erase('WidthF');`
(did the parameterName hardcoded to be sure)

I am getting:
[code]
When I log the cps rule afterwards, I does look like it erased the line with `WidthF` though (maybe the empty line says something?):
[code]

[2015-09-02 14:54] graphicore commented on #394
We should merge my `cps-model-hardening` branch. I believe it fixed this issue, at least there went a lot of changes into these libraries also where this error comes from. In general I caught there a lot of subtle bugs.

The problem is that that will be a quite large merge, including library updates for AngularJS and whatnot. So I was hoping for a more calm situation when merging (like when nobody

[2015-09-02 15:06] jeroenbreen commented on #394
I can wait. Untill you are ready, I can just set a factor to 1, instead of removing it. Is that ok?

[2015-09-02 15:11] graphicore commented on #394
whatever works ...
I can later give it a shot and rebase my branch onto master.
If there are not so many problems we can merge it.

[2015-09-02 15:12] graphicore commented on #394
There's also 90% of the cps-dev tool in it. So that will be unfinished in master then. I gues that is a fair price to pay.

[2015-09-02 19:07] felipesanches opened #636 "Deploy instructions"
While trying to run the new metapolator code (see #632) I did the following things but got a blank window in my webbrowser:

1) made sure I'm with the latest metapolator code from the master branch (currently that means 980e2effe34da3630b393b25310b7456b14f6b20)
2) checked out the project_zero repository's master branch
3) navigated to github_felipesanches/metapolator_master/app/
4) and executed th

[2015-09-02 19:09] felipesanches commented on #636
Loading localhost:8080 in the webbrowser results in a blank window.

I checked the loaded source code and it seems to correctly load the Metapolator index page.

[2015-09-02 19:27] felipesanches opened #637 "ui-tools/instanceTools.js 404 Not Found"
After performing the deploy procedure that I described in #636, and getting a blank browser window as a result, I looked at the browser console in Firefox I saw:

GET http://localhost:8080/lib//ui/metapolator/ui-tools/instanceTools.js [404 Not Found Error]

and also:

Error: Script error for: metapolator/ui/metapolator/ui-tools/instanceTools
http://requirejs.org/docs/errors.html#scripterror

[2015-09-02 19:31] felipesanches commented on #637
I see that there's a file called InstanceTools.js at https://github.com/metapolator/metapolator/blob/master/app/lib/ui/metapolator/ui-tools/InstanceTools.js

The issue seems to be that the first letter is uppercase and apparently the other metapolator developers are running macOS, which as far as I heard other people say, ignores case in filenames. For me running on GNU/Linux, case in filenames is

[2015-09-02 19:33] felipesanches commented on #637
yes, it did make a difference. Indeed after the filename fix now I got another problem:
IONoEntry: Status 404 Not Found

[2015-09-02 19:53] graphicore commented on #636
serving the blue pill with project zero is bound to fail. You should use the canola version by @jeroenbreen

Also, you have a developer tool built into your brower that tells you about errors that cause a blank screen. Is there any additional information?

[2015-09-02 19:56] felipesanches commented on #636
yeah, that's exactly the tool I used in the issue referenced above (https://github.com/metapolator/metapolator/issues/637)

[2015-09-02 19:58] graphicore commented on #637
That's not necessarily an error. Metapolator tries to load a log file that may not exist. Probably you should try to load that canola project and see if it works.

@jeroenbreen wrote on gplus, Aug 29, 2015:

https://github.com/jeroenbreen/Canola
and a faster loading project with just a few glyphs:
https://github.com/jeroenbreen/Canola-min﻿

[2015-09-02 20:03] felipesanches commented on #637
cool, thanks!

[2015-09-02 20:21] davelab6 commented on #637
I wonder if Mac OS X users may need to re-clone the repo to a fresh
directory, as the filename case change may not work well for them...

[2015-09-02 20:31] allcaps commented on #412
@jeroenbreen: I'll try to create a proof of concept.

[2015-09-02 21:59] graphicore commented on #637
I think it rather should work out, git will just rename the file. I mean, the filename is stored case sensitive after all, just access to the file is case insensitive, right? Otherwise all filenames on a mac must have a "neutral" case.

[2015-09-02 22:03] allcaps commented on #412
@jeroenbreen: This seems to work. http://jsfiddle.net/allcaps/6Lp17pfy/

[2015-09-02 22:26] jeroenbreen commented on #412
I remember vaguely the challenge was combining it with https://jqueryui.com/sortable/

[2015-09-03 08:34] allcaps commented on #412
The behaviour of draggable clashes with sortable. Sortable will remove the dragged item form the original list on drag start. This enables a drop ar another position. (Multi) draggable will leave the items in the original list. Duplicated items hang at the cursor. This is needed to cancel drag by releasing the dragged items on the original list. Leaving the original list unchanged.

Example of sor

[2015-09-03 08:41] guiguru commented on #412
just to be sure: I think you mean _technical_ design, not interaction design, right?

[2015-09-03 08:56] guiguru commented on #412
OK, so it **is** interaction design. ;^}

the expected behaviour is that a drag of one or more highlighted items of the master list does not change the content (nr. of items, sort order) and state (what is highlighted, view states) of said list **at any given moment** between starting a drag (passing a move threshold while mouse is down on one of the highlighted items in the 3rd column of the list

[2015-09-03 09:05] allcaps commented on #412
What about the sort functionality?

[2015-09-03 09:17] guiguru commented on #412
argh, **now** I see your point where it clashes in behaviour.

and that _does_ need design. |^/

thinking about it, will report back within an hour…

[2015-09-03 10:05] jeroenbreen commented on #412
I would suggest the following:

Drop outside the list is a 'drag and drop' action
Drop inside the list is a 'sort' action

Dragging always (re)moves the original item (so no duplicates) and thus a collapse.

Release on a drag and drop = restoring the original order (here you can use the `cancel` of `sortable`)
Release on a sort = sort, as you described here:

@allcaps  It's coming back a little mo

[2015-09-03 10:51] guiguru commented on #412
OK, here we go:

user have to be able to do the following things, with one or more master list items:

1. move them to another place in the list (resort)
* drop them on a design space (drop in space)
* **panic**—cancel this dragging _inside_ the master list
* **panic**—cancel this dragging _outside_ the master list

in only one of four of the above it is desirable that the dragged items are alread

[2015-09-03 12:14] graphicore commented on #637
I can confirm this and I could fix it with an upcomming PR. The PR however is a bit off-topic, it's my cps-engine improvements and partial dev-tool branch). I just rebased on upstream master and tried to run the purple-pill, so I had to fix this.

@felipesanches:
Another thing: I had to delete the ".git" directory from https://github.com/jeroenbreen/Canola-min﻿ to make it load (faster or at all I

[2015-09-03 13:02] jeroenbreen commented on #637
Another thing: I had to delete the ".git" directory from https://github.com/jeroenbreen/Canola-min﻿ to make it load (faster or at all I don't know I was impatient)

Just to add: @allcaps mentioned this as well here:
https://github.com/metapolator/metapolator/issues/634 and here:
https://plus.google.com/+DaveCrossland/posts/XL8AhaEcx74

[2015-09-03 14:33] graphicore commented on #634
1) loading a font with a relative path would work;

I agree to that. It's a bug. It can create correct directory listings, but **it fails to read and serve the files.**

3) Some feedback in console or browser window.

Hmm, I don't know if I should accept that (so called) "hidden files" are present in a defined file format. UFO doesn't define "hidden files" and a Metapolator project is a UFO_V3. So

[2015-09-03 14:50] allcaps commented on #634
Thanks for the explanation.

FYI and as a reference: I deleted also the .DS_store file (OSX file for storing custom attributes of a folder).

[2015-09-03 15:13] graphicore commented on #634
I didn't have to do that.

[2015-09-03 21:54] #394 closed

[2015-09-03 22:03] felipesanches commented on #636
I can successfully open a file like this (a path that starts with "lib") in the webbrowser:
http://localhost:8080/lib/ui/metapolator/design-space-panel/design-space-panel.less

But I get an error when trying to open something like this:
http://localhost:8080/project/glyphs.skeleton.base/A_.glif

Cannot GET /project/glyphs.skeleton.base/A_.glif

Even though I can see A_.glif listed when I access th

[2015-09-03 22:11] graphicore commented on #636
How do you invoke the `metapolator serve` command? because we have a current bug report with similar description #634

[2015-09-03 22:13] graphicore commented on #636
never mind, I see: ` ../bin/metapolator serve -p 8080 ../../../github_metapolator/project_zero/project_zero.mp/`

That's the same as #634
Try to not use `..` in the path to the metapolator project.

[2015-09-03 22:48] felipesanches commented on #636
Alright! I got it working now :-)

[2015-09-03 22:51] graphicore commented on #332
I consider this done with 0dc3d20436f :dancers:

Despite of that the whole discussion that followed the description is off topic.

[2015-09-03 22:51] #332 closed

[2015-09-04 13:35] jeroenbreen commented on #394
@graphicore
btw, `cpsRule.parameters.erase(key)` works now :)

[2015-09-04 13:43] jeroenbreen commented on #394
and is `cpsRule.parameters.keys().length` the best way to check if the rule is empty?

[2015-09-04 13:48] #395 closed

[2015-09-04 15:07] graphicore commented on #394
It depends. Is a rule that contains only comments empty? If yes, then this is the way. Otherwise, including comments in the count, you can use `cpsRule.parameters.length`

[2015-09-04 15:44] jeroenbreen commented on #394
ok, thanks. (wow, looks like you thought about everything)

[2015-09-04 16:36] graphicore commented on #394
Thanks ;-)
The "ParameterDict" is both a key-value dictionary and a list of items. As a list of items it can have comments and also multiple key-value pairs with the same key and so on. The count of all of these is `cpsRule.parameters.length` But you are using it as a dictionary, meaning that you are more interested about the effect a ParameterDict has, as such, counting the keys to see if it does

[2015-09-04 18:10] allcaps opened #640 "bower_components in repository?"
Is there any reason why we add bower components to the repository?
I think we should ignore `app/lib/bower_components` and just do `bower install`.

[2015-09-08 15:04] graphicore commented on #640
Well, we do this intentionally but there are other valid opinions on this. The reasons are some, most importantly: we have more control. If some bower dependency goes bad, we can still control what is used by us. Another one is that we spare one step in initializing the app. Also, I like that updates of these dependencies are always handled very explicitly with a commit in our repo. It's also less

[2015-09-08 15:41] allcaps commented on #640
Good. I'm convinced.

The metapolator bower.json has `~` in the pinnings. If we drop those, the pinnings will be exact. That doesn't solve 'disappearing' repos but might help understand which packages are used.

[2015-09-08 15:46] graphicore commented on #640
Yeah, right these `~` pinnings are quite handy I think :-) If repos are disappearing we'll have to find a solution sooner or later. However, if something with bower goes wrong, we don't have to solve this issue for everyone who checked out metapolator, instead we can solve it once within our repo.

[2015-09-08 16:06] davelab6 opened #642 "Create standalone JS/Angular libraries for our UI widgets"
Where we develop our own UI widgets, we could make these available for other projects. This would help us to reach out to developers and perhaps attract more :)

(Reference https://plus.google.com/+SalehSouzanchi/posts/NED9pX2M98u)

[2015-09-08 16:14] graphicore commented on #642
:+1: We may start with identifying interesting pieces.

[2015-09-08 18:20] felipesanches commented on #637
The wrong case in the filename has been solved already so I'll close this issue. The other problems described here already have their own issue registered. (#634)

[2015-09-08 18:20] #637 closed

[2015-09-08 18:21] felipesanches commented on #632
Last week I did re-sync the export features. Now I'm working on bringing back the instance import routines.

[2015-09-08 18:23] felipesanches commented on #624
Can this issue be closed as Jeroen's new ui code has already been pushed to git master ?

[2015-09-08 20:17] jeroenbreen commented on #624
ehm.. yeah. I was planning to sharpen the issue following this discussion https://plus.google.com/+DaveCrossland/posts/ihdmD5pSuPc But better to close it and make a new issue.

[2015-09-08 20:17] #624 closed

[2015-09-08 20:27] jeroenbreen opened #643 "Roadmap for MVP"
Following this discussion https://plus.google.com/+DaveCrossland/posts/ihdmD5pSuPc
This will be the roadmap to 'MVP'.

@guiguru MVP can:
• import fonts
• export fonts
• use all parameters
• use all operators

To make that happen, this is the roadmap:
- [x] @felipesanches implements his previous export work
- [ ] I will add the latest measuring step to that (https://github.com/metapolator/metapolat

[2015-09-08 20:32] davelab6 commented on #643
:8ball:

[2015-09-08 20:41] felipesanches commented on #643
great!

[2015-09-08 21:40] graphicore commented on #630
So, you have this rule:

[code]

The selector applies for three different MOM-elements: `left`, `right` and `p`.

None of these have the name `point` defined, hence "failed with KeyError: point not found for"

You need to define the name `point` within the dictionaries of `left` and `right`:

[code]

[2015-09-08 21:44] graphicore commented on #630
Look at this: https://github.com/jeroenbreen/Canola/blob/master/data/com.metapolator/cps/lib/flexmaster.cps#L20 and the whole file.

[2015-09-08 22:11] graphicore commented on #643
@jeroenbreen @felipesanches please re-read this https://github.com/metapolator/metapolator/pull/585#issuecomment-103181849 In the second half tasks are described that will need to be tackled for the import featurre.

[2015-09-09 13:07] guiguru commented on #643
added some major points at the top. **continuous collaboration + support is offered by me**

about me needing to find a way to be able to follow the development to provide feedback
@graphicore contributed this build-static-deployment script (yay!)

https://github.com/graphicore/metapolator/commit/419fdd89795f73425d8d727106bf8b7cc018d6db

how far off are we from all other UI developers (@jeroenbree

[2015-09-09 13:24] graphicore commented on #643
They can just use it.

The workflow is as follows:

1. Use the script from the branch that is interesting: `$ path/to/my/branch/bin/build-static-deployment metapolator path/to/sample/project.mp path/to/gh-pages_branch/my_current_state`
* add deployment to gh-pages: `$ cd path/to/gh-pages_branch; git add my_current_state; git commit -m "my latest work"`
* upload: `$ git push`

For updates of the de

[2015-09-09 13:30] guiguru commented on #643
@graphicore , many thanks.

[2015-09-12 10:57] allcaps commented on #515
@jeroenbreen Thanks for the guidance. I still struggle a bit...

We used to create `mouseWheelUp` and `mouseWeelDown` directives.
https://github.com/metapolator/metapolator/blob/f6a4c282d472ff75c91adebdd8c996a375d1bebb/purple-pill/js/directives/directives.js#L766-L790

In the same way as Angular build in `ng-click`, `ng-blur`, etc: https://github.com/angular/angular.js/blob/master/src/ng/directive

[2015-09-14 09:42] jeroenbreen commented on #515
Had to puzzle a bit as well. I made a quick setup which you can use to see for yourself.
https://github.com/jeroenbreen/metapolator/tree/mousewheel-directives
https://github.com/jeroenbreen/metapolator/commit/603f0d7ea697a5122633ecce631d00f3ebabda95

Maybe it would be nice if the up and down are within one directive. I don't know something like this works:
in the html: `mtk-mousewheel="{up: up(),

[2015-09-14 10:51] jeroenbreen commented on #630
Ok, that works.
So I have this tree https://github.com/jeroenbreen/metapolator/tree/%23630 and the corresponding edit of the parameters.cps here https://github.com/metapolator/Canola-min/blob/master/data/com.metapolator/cps/lib/parameters.cps#L10.

But now there is a danger of all kind of different `parameters.cps` files, spreading around, don't you think @graphicore ?

[2015-09-14 11:07] allcaps commented on #515
Yes. Combining up and down is the idea. We might even listen for `blur`. Have one directive to catch them all.

I came a long way but had some something wrong in selection-parameter.js. Thanks for the help!

[2015-09-14 11:14] jeroenbreen commented on #515
ng-blur is a native angular directive

[2015-09-14 11:28] jeroenbreen commented on #643
@graphicore I am getting these after the deployment script:
[code]

There is a `project` directory inside the `lib` directory though.

[2015-09-14 13:33] graphicore commented on #643
Is the project directory in lib a metapolator project?

Also, is there no "project" directory that is a metapolator project at '.../mvp/project'

How do you address the project in you browser? Why does the path not start with http?

[2015-09-14 14:37] jeroenbreen commented on #643
no

no

Do you mean how I would address the gh-pages? that would be http://localhost:8888/Metapolator/gh-pages/mvp/

[2015-09-14 15:08] graphicore commented on #643
Oh, I get it, so the messages are from `https://github.com/metapolator/metapolator/blob/master/bin/build-static-deployment` (not exactly after but from running it) and the program "find" is complaining.

In that script, this line: https://github.com/metapolator/metapolator/blob/master/bin/build-static-deployment#L60
`cp -a "$PROJECT/." "$TARGET/project"` should copy the project to the target direc

[2015-09-14 15:10] davelab6 commented on #643
On 14 September 2015 at 11:08, Lasse Fister <notifications@github.com>
wrote:

I suggest

rsync -vvap /src/path/ending/in/slash/ /dest/path/ending/in/slash/ ;

[2015-09-14 18:03] graphicore commented on #643
does that mean `cp` is broken on mac, or would a simpler `cp -R` work

[2015-09-14 18:40] davelab6 commented on #643
The mac os x `cp` sucks:
[code]

[2015-09-14 20:15] graphicore commented on #643
Well, in this case I think "cp -R" is sufficient, but we can also use rsync, I'm pretty indifferent regarding the choice.

@jeroenbreen will you fix this or should I?

[2015-09-14 20:36] graphicore commented on #630
But now there is a danger of all kind of different parameters.cps files, spreading around, don't you think @graphicore ?

Yes of course!. I wouldn't call it a "danger" but it's definitely a bad idea for some scenarios. It may also be a good idea to keep a project working even after metapolator changes it's cps-library files, so there is no straight answer.
I already pointed repeatedly to my **old*

[2015-09-14 20:36] jeroenbreen commented on #643
I have completely lost track were this thread went to. So I suggest the latter :p

[2015-09-14 21:12] graphicore commented on #643
@jeroenbreen, I pushed directly to master. So `git rebase` your branch and try it again.

This was the task:
https://github.com/metapolator/metapolator/commit/3f615852f4871312347db8446632fa116f2abd1e

@davelab6 I used rsync, `cp -R` is also *a bit different* on os x …

[2015-09-15 19:11] felipesanches commented on #600
The comment at https://github.com/metapolator/metapolator/pull/585#issuecomment-103181849 is very dense and raises more doubts than actually providing answers. The overall set of concepts around CPS technology and both internal and user-facing terminology is mostly unclear to me and the lack of more detailed documentation on these concepts is blocking my progress on getting the import routines to

[2015-09-15 19:33] felipesanches commented on #600
And, yes, I did read the "Terminology" wiki page (https://github.com/metapolator/metapolator/wiki/Terminology) and that's very little information if compared to the complexity of the underlying technology.

[2015-09-15 19:46] graphicore commented on #600
Yeah we need more docs and what we have is outdated. That's right.

Feel free to ask! And feel free to document the answer.

[2015-09-15 20:30] graphicore commented on #600
Actually I was quite verbose in many of my answers in issues in the last few month. It seems like that had no very educating effect after all.

I wrote a lot of documentation stuff at the beginning of the the project, much of which is outdated now but still in the wiki. I think it's too early to write really good docs, because things are still changing and then the docs are old. Also, I don't thin

[2015-09-15 20:34] felipesanches commented on #600
Cool!

One of the things I would love to understand better is this:

https://github.com/metapolator/metapolator/wiki/concepts#ufo--skeleton--cps
"UFO + Skeleton + CPS
Here's a discussion about how the data is going to be serialized/represented on disc."

[2015-09-15 20:42] graphicore commented on #600
What do we do? A new doc-QA issue?

[2015-09-15 21:37] davelab6 commented on #600
I think writing a lot of stuff in issues is unwise. I think Github wikis
are bad. I think markdown files in the git repo is best.

[2015-09-15 21:41] graphicore commented on #600
I agree with the gh-wikis, they are bad. The issue was meant to provide a forum where Felipe could ask in order to get the article done. Better than chat or email, where we have no public trace.

[2015-09-15 21:51] davelab6 commented on #600
On 15 September 2015 at 16:34, Felipe Corrêa da Silva Sanches <
notifications@github.com> wrote:

Link was broken, I fixed it.
https://github.com/metapolator/metapolator/wiki/file-format

[2015-09-15 21:53] felipesanches commented on #600
Cool, thanks!

[2015-09-15 22:35] graphicore commented on #600
@felipesanches : The `data` directory works different now. The layer `glyphs.skeleton.base` would belong to `./data/com.metapolator/cps/base.cps`

[2015-09-15 22:55] davelab6 commented on #600
I updated it; is it better?

[2015-09-15 23:16] graphicore commented on #600
Ok, I added `project.yaml` and `log.yaml`

when we look at canolas [/data/com.metapolator/cps](https://github.com/jeroenbreen/Canola/tree/master/data/com.metapolator/cps) we can see that there is much more structure (other dirs) and files in the cps directory.

And in the infamous comment https://github.com/metapolator/metapolator/pull/585#issuecomment-103181849

I wrote:

and more .

So this is s

[2015-09-15 23:21] davelab6 commented on #600
joke {
new-t-shirt:

![screen shot 2015-09-15 at 19 20 29](https://cloud.githubusercontent.com/assets/261579/9892652/e5106506-5bde-11e5-8c60-d83a0bd240eb.png)

}

[2015-09-16 00:05] graphicore commented on #600
I think I mean `data/com.metapolator/cps/{subdirectory structure}`

[2015-09-16 00:07] graphicore commented on #600
Nice shirt.

[2015-09-16 12:30] jeroenbreen commented on #630
ah here you said it indeed

agreeing to that.

[2015-09-16 22:22] guiguru commented on #466
picking up from @felipesanches’ [questions](https://github.com/metapolator/metapolator/pull/645#issuecomment-140902103)

big animated barbershop diagonals (like the big, red ones below—ignore the rest there):

![](https://lh5.googleusercontent.com/-DHY5MXYWQaU/VQg_yVavivI/AAAAAAAAQEE/3tWUfqWsplI/w805-h491-no/Screen%2BShot%2B2015-03-17%2Bat%2B15.47.02.png)

a couple of **important principles**:

1.

[2015-09-16 22:35] davelab6 commented on #466
What does "and show them" mean? Show these glyphs in a dialog, or show these glyphs normally, the same as and mixed in with good quality ones?

Show the list in a dialog?

Yes, I think that's what Felipe means, but we may not be able to "just" import incompatible masters. @jeroenbreen has your refactoring work this year allowed for 2 univers in one project yet?

using the file menu, right?

[2015-09-16 22:51] guiguru commented on #466
huh, where did this come from?

1. show a dialog saying **in which glyphs** (a list) there are bad curves;
* import the whole master anyway;
* in the glyphs with bad curves we show whatever we can, so that users can see the point (‘oh, how bad!’) and go and repair them in another application.

yes we have to say that there were odd-number glyphs, and then exactly which glyphs.

**if** that is the

[2015-09-16 23:04] davelab6 commented on #466
I wrote it a long time ago, above

Like this is ok?

![screen shot 2015-04-24 at 8 22 16 pm](https://cloud.githubusercontent.com/assets/261579/7330615/a3649a9a-eabf-11e4-8c90-0d05a064d196.png)

[2015-09-17 07:25] jeroenbreen commented on #466
2 universes means incompatible masters right? I haven't thought about the consequences of that before, I guess it would only (?) cause me to check upon dropping in a design space, cause the only place where they cannot be together is there right? And to know that, I need to set up a (little) administration of who matches who and for that I need to have a tell from 'the import'.

[2015-09-17 09:42] allcaps commented on #466
I've got doubts about the second 'important principle':

The developer install instructions is a example of why this won't work. Detached, outdated, wrong instructions are confusing and frustrating.

I think the best way around is concise error messages without links. All needed messages should live in Metapolator itself. We want MP to be also a stand alone / offline product... right?

I'm not aga

[2015-09-17 13:56] davelab6 commented on #466
It is a web based app, so the document should be part of the application.

[2015-09-17 13:59] davelab6 commented on #466
Yes - 'univers' is an old @graphicore term to describe sets of compatible masters, allowing for the joke phrase, "masters of the univers" :)

That would be great :)

[2015-09-17 13:59] graphicore commented on #466
:+1: We can think about an in-app help system for the future

[2015-09-17 14:03] felipesanches commented on #466
"masters of the univers" ?! We need a T-shirt with that !

[2015-09-17 14:13] graphicore commented on #466
No. `<univers>` is the MOM element that contains all `<master>` elements. It's there and it won't go away. There is also a `<multivers>` which contains "all" `<univers>`-elements BUT "all" means **one** at the moment. *We don't allow multiple `<univers>`-elements at the moment. The `<multivers>` is rather a tactical reserve. Also it connects the MOM to the `models/Controller`. If we'd use multiple

[2015-09-17 14:17] jeroenbreen commented on #466
confused... what are the borders of a universe then?

[2015-09-17 14:23] graphicore commented on #466
It's like a list. You put things into it or you don't. You are the borders of the univers. (I'm getting used to t-shirt ripe quotes when it comes to the univers)

[2015-09-17 14:26] jeroenbreen commented on #466
And can a user make a master travel to another universe (in other words: does the concept of a univers match the concept of a sequence)?

[2015-09-17 14:27] graphicore commented on #466
Well, we could agree that we shouldn't put incompatible stuff into the same univers. As a convention. And that there is no way to have incompatible stuff in the multivers, until we extend it to be used like that.
Also, it's important to know that there is a state that we have at the moment, written in code, and that there is a state in the future that we need to find. Where we must make our mind u

[2015-09-17 14:31] graphicore commented on #466
That's what I mean. We still need to define parts of the concept.
The word `univers` is a bit big maybe. Think of it as a collection of masters, just like a master is a collection of glyphs.

In theory yes. Like a path can travel to another glyph.

What is the concept of a sequence?

[2015-09-17 14:32] jeroenbreen commented on #466
"It's like a list. You put things into it or you don't."
:p

[2015-09-17 14:38] guiguru commented on #466
we have been through the whole incompatible master discussion recently, in #628

“roman + italic must live in one project” simply makes clear what the right thing to do is here: incompatible masters must be able to live in one project.

I quote from how I resolved that there:

* only point-compatible masters can be mixed (easy to control by allowing what can be dropped in a design space);
* instan

[2015-09-17 14:43] graphicore commented on #466
@guiguru thanks for the reference. I think I'm pretty consistent here with what I said there. So, that may give more insights to the topic if anyone is interested.

[2015-09-17 14:51] guiguru commented on #466
well, since that discussion it is impossible to write—

since then we know it is suicide for product Metapolator not to be able to work on incompatible masters (roman + italic) in one project.

the only question left is: is this going to work for the MVP, or for the version right after that (0.4.0)

[2015-09-17 14:54] jeroenbreen commented on #643
hmm still having trouble.
You mentioned http, I am using 3x a local computer address for the paths (deployment, project, destination), shouldn't I?

the destination folder looks like this afterwards:

<img width="611" alt="screen shot 2015-09-17 at 16 52 44" src="https://cloud.githubusercontent.com/assets/6692653/9936486/8a6bc3b4-5d5c-11e5-869d-8e85e2cc5372.png">

and the complete log

[code]

[2015-09-17 15:12] graphicore commented on #466
and

*I agree that there are use cases for this.*

A very limited option would be **to share some global properties**, without further interaction between the incompatible masters. But you must understand, that there is more than that possible.

I just don't see any indication in the design that handles working with incompatible masters, since there is no magic trick we can pull. I suggest we try

[2015-09-17 15:28] guiguru commented on #466
well, that is maybe because keeping them separated where it matters (when metapolating) is quite easy to handle for us (says also @jeroenbreen ): only allow compatible masters in a design space. _(it takes one sentence to spec that.)_

**but we can also easily mix incompatible masters where it matters**: in our specimens.

that means that both parameter and metapolation work can be done while all

[2015-09-17 15:31] graphicore commented on #643
please check if you have this line https://github.com/metapolator/metapolator/blob/master/bin/build-static-deployment#L60 in your version of `build-static-deployment`

Also, use always the `build-static-deployment`script of the repository that you want to deploy,

Forget it, it was before I understood the problem.

You posted the output of multiple runs.

Below is a log how it should look.

You ar

[2015-09-17 15:34] graphicore commented on #466
Ok, you are talking about zero interaction between incompatible masters. That's of course not what I mean. And yes, at the moment we can have this within the same univers.

[2015-09-17 15:36] guiguru commented on #466
super , we will keep them separated!

[2015-09-17 15:40] graphicore commented on #466
Yeah, the "keep them separated" part still needs to be done, though.

[2015-09-17 15:45] guiguru commented on #466
ah, o. but uncontroversial and doable, no?

[2015-09-17 15:48] graphicore commented on #466
yes. We need this anyways on import, we may use it however not on import but when putting masters into a designspace.

@felipesanches that would mean that we import everything, regardless of compatibility. But we still need that check.

[2015-09-17 17:16] jeroenbreen commented on #643
I have the line (had it already):

<img width="947" alt="screen shot 2015-09-17 at 19 12 35" src="https://cloud.githubusercontent.com/assets/6692653/9940480/6e29a4b4-5d70-11e5-9cfb-1d50c1c325f0.png">

[2015-09-17 17:21] jeroenbreen commented on #466
I suggest to introduce the concept of `galaxy`.

:) just joking, enough concepts.

[2015-09-17 17:29] graphicore commented on #643
So why is rsync not outputting any information?

can you run on your computer:

`rsync -vvap "a/directory/with_some_contents/" "anotther/directory"\`

and see if it produces any output like the stuff I referenced above AND a copy.

[2015-09-17 17:36] jeroenbreen commented on #643
[code]

[2015-09-17 17:38] davelab6 commented on #643
You didnt include final slashes in the paths

[2015-09-17 17:44] graphicore commented on #643
They are in the script, but anyways.

` && rsync -vvap "$PROJECT/" "$TARGET/project/"\ `

@jeroenbreen similar output MUST be in your `build-static-deployment` log. Otherwise you are not running the version with `rsync`. Regardless of final slashes.

[2015-09-17 17:44] jeroenbreen commented on #643
still no luck

[2015-09-17 17:45] graphicore commented on #643
@jeroenbreen please post the command that you use to invoke `build-static-deployment`

[2015-09-17 17:47] jeroenbreen commented on #643
[code]

[2015-09-17 17:50] graphicore commented on #643
@jeroenbreen now post the output of:

`cat /Users/jeroen/Documents/_WERK/Innouveau/_Online/Metapolator/git-jb/bin/build-static-deployment`

and

`ls /Users/jeroen/Documents/_WERK/Innouveau/_Online/Metapolator/projects/minimal.mp/`

[2015-09-17 18:19] jeroenbreen commented on #643
#!/bin/sh
SOURCE="$(dirname $0)/..";
APP=$1
PROJECT=$2
TARGET=$3

if test "$APP" = '--help' || test "$APP" = '-h' || test "$APP" = ''; then
    echo "Usage: $(basename $0) APPLICATION PROJECTDIR TARGETDIR\n"
    echo 'Build an instance of a Metapolator application as a HTML website to be served (statically) from any simple HTTP file server.\n'

    echo 'APPLICATION: the Metapolator application to

[2015-09-17 18:20] jeroenbreen commented on #643
[code]

[2015-09-17 18:24] graphicore commented on #643
Ok, so now I know what it is. You are exporting into am existing directory. That makes `mkdir "$TARGET"` fail. When you delete the target directory first, then it will work.

I'll add an error message to the script and make it halt when the target exists.

[2015-09-17 18:41] graphicore commented on #643
Allright, this is pushed, now it goes like this:
[code]

[2015-09-17 18:58] jeroenbreen commented on #643
:+1:
working! thanks.

@guiguru I will provide you an online link soon. I think the main goal for you there is to check if I didn't drop anything that was in the purple pill and checkout the (new) operators.

[2015-09-17 19:07] guiguru commented on #643
hey cool @jeroenbreen & @graphicore, thanks for making this work

[2015-09-17 19:20] jeroenbreen commented on #643
hmmm now there is a new problem. @graphicore
After it worked, I fetched the upstream, now it's not working anymore, I only get these files:

<img width="219" alt="screen shot 2015-09-17 at 21 15 01" src="https://cloud.githubusercontent.com/assets/6692653/9943409/591c7e50-5d81-11e5-9d68-4f527e10080b.png">

[code]

[2015-09-17 20:09] felipesanches commented on #466
So, right now, if we import and load everything together, we will end up with something that may or may not work well out-of-the-box. Are you ok with simply getting a new master to load into the workspace and later we can tweak Metapolator to adapt to watever we come up with in terms of user interaction design?

[2015-09-17 20:13] guiguru commented on #466
@felipesanches, you are asking @graphicore, no?

[2015-09-17 20:24] graphicore commented on #643
Man, right, I pushed a fix. I hope that's it! I don't like shell scripting  a lot :-/ Is there a good documentation anywhere?

[2015-09-17 20:59] jeroenbreen commented on #643
working again!

[2015-09-17 21:08] felipesanches commented on #466
well... all of you may have a say, of course :-)

@graphicore and/or @jeroenbreen may provide some insight or opinion on how feasible this could be from the technical point of view. (I guess it is indeed totally doable, but probably does not yield a too much functional tool if we don't address afterwards all of the UX questions presented here.)

@guiguru can understand the question as whether or n

[2015-09-17 21:11] davelab6 commented on #466
Yes, loading new imported masters even if they are not compatible is good,
even if there isn't a check in the design space drag'n'drop to prohibit
this, I can simply avoid doing so during a demo

[2015-09-17 21:15] jeroenbreen commented on #643
@davelab6 I pushed the deployement:
https://github.com/metapolator/metapolator/tree/gh-pages/mvp

but it is not showing up:
http://metapolator.com/mvp/

[2015-09-17 21:19] guiguru commented on #466
well, really soon you should be able to tell @jeroenbreen’s code which previously loaded masters the newly loaded is/are (you can load more than one out of a ufo, no?) compatible, so that he can build clusters of compatible masters (e.g. master A, B and D are compatible; master C and E are; and master F is all in its own).

[2015-09-17 21:19] davelab6 commented on #643
The page build failed with the following error:

`.gitmodules` file. For more information, see https://help.github
.com/articles/page-build-failed-missing-submodule.

[2015-09-17 21:27] graphicore commented on #643
Well, probably we should just not make the uf3 project files the git root directories. That's just not a good idea.

[2015-09-17 21:30] davelab6 commented on #643
Submodules can live anywhere, right?

On 17 September 2015 at 17:27, Lasse Fister <notifications@github.com>
wrote:

--
Cheers
Dave

[2015-09-17 21:30] graphicore commented on #643
I mean, it causes problems everywhere and the simple solution is just not to do it it. That kind of misconception of the ufo directories is the the reason why there is a search for a single file solution for ufo4.

[2015-09-17 21:42] jeroenbreen commented on #643
• how can I see in my files that it is a submodule?
• what should I do to fix it?

[2015-09-17 22:03] graphicore commented on #643
When you copy a `.git` directory into another git directory, then it is a submodule. Even if you did not init it properly, I guess.

Don't have a `.git` directory in the ufo-project-directory. See this: https://github.com/metapolator/project_zero

For your case, the demo Canola and Canola minimal repositories.
1. Go there
* make a new directory maybe `Canola.mp` or even project.mp
* Move all files

[2015-09-18 04:44] davelab6 commented on #643
Please use http://metapolator.com/v0.4.0/ :)

[2015-09-18 09:08] guiguru commented on #643
surely 0.3.0, right?

[2015-09-18 09:50] jeroenbreen opened #646 "Forgotten things refactoring purple pill to v0.3.0"
- [x] social media stuff
- [x] loading screen
- [x] enter key to fire a parameter change
- [x] up/down arrow keys to in/decrement parameter values < @allcaps
- [x] shift/ctrl-click does not make/change multiple selection in specimen
- [x] parameter panel: way [too many decimals](https://github.com/metapolator/metapolator/wiki/working-UI-demo#layout-and-typography-hints) #653
- [x] Math #653
- [x]

[2015-09-18 09:50] jeroenbreen commented on #643
it is live:
http://metapolator.com/v0.3.0/

I openend an issue https://github.com/metapolator/metapolator/issues/646 where you can add your findings.

[2015-09-18 10:03] guiguru commented on #643
hmmm, I get this (in chrome):

![white](https://cloud.githubusercontent.com/assets/4458395/9956999/223695b6-5dfd-11e5-8efa-242b4168b90d.png)

this is View Source:

![source](https://cloud.githubusercontent.com/assets/4458395/9957003/2c38185a-5dfd-11e5-8750-2020443b3178.png)

[2015-09-18 10:04] jeroenbreen commented on #643
Firefox?

[2015-09-18 10:07] moyogo commented on #643
This is the error in Chrome:
Uncaught Error: proxies not supported on this platform `/v0.3.0/lib/bower_components/harmony-reflect/reflect.js:1992`

Maybe let the user know what’s happening?

[2015-09-18 10:18] guiguru commented on #643
yes, runs there.

my bad, forgot which browser-I-never-use I had to go to.

we used to have some message about where this runs, no?
I remember we put some effort into it

[2015-09-18 12:18] davelab6 commented on #643
Wow Jeroen!!!! This is awesome!!!!!!!

The SPEED is FAST. Like, DAMN. Everything is fast, even export.

However, I think this might be because the pre-loaded UFO has only a small
number of glyphs?

So I'd like to propose having a full Sean pre-loaded, like in the prevoius
/purple-pill

Also, the arrow key de/increment of the parameters panel inputs, enter key
to effect them.

I found a bug where,

[2015-09-18 12:20] davelab6 commented on #643
Weight is applied to the correct master, however:
[image: Inline images 1]

[2015-09-18 12:24] davelab6 commented on #643
Hmm, also, setting a weight min value doesn't seem to have any effect... I
expected that setting a min weight of 10 would reduce these 'pinching'
corners of the curves of the /a (like in the top right of the neck and the
top left of the bowl) but they had no effect...

[image: Inline images 2]

[2015-09-18 12:57] jeroenbreen commented on #643
Yes, for most speed increade that is true.

Can you add new issues for the stuff you'll find or if it was there before in purple pill, put it in here.
https://github.com/metapolator/metapolator/issues/646

I will try to update with the full project now.

[2015-09-18 13:24] jeroenbreen commented on #643
There is now
http://metapolator.com/v0.3.0/min/ and
http://metapolator.com/v0.3.0/max/ (not full Sean, I discovered too late, but quite a set)

[2015-09-18 13:27] jeroenbreen commented on #643
The concept is working:

![screen shot 2015-09-18 at 15 25 01](https://cloud.githubusercontent.com/assets/6692653/9960206/7e2869b4-5e19-11e5-91fd-0c23960cde58.png)

If you select a glyph, you'll see the weight values. The lowest in the word is 7.something. So maybe setting the min to 10, is optical insignificant:

![screen shot 2015-09-18 at 15 26 14](https://cloud.githubusercontent.com/assets/669

[2015-09-18 13:28] davelab6 commented on #643
Sorry the images didn't attach, I'll post them in the other issue and you can see what i mean :)

[2015-09-18 13:31] davelab6 commented on #646
Updated top comment

[2015-09-18 13:50] jeroenbreen opened #647 "Min value doesn't update the parameter"
Fix bug where setting a weight min value doesn't seem to have any effect... (@davelab6 expects that setting a min weight of 10 would reduce these 'pinching' corners of the curves of the /a (like in the top right of the neck and the top left of the bowl) but they had no effect...)

<img width="607" alt="e4fb2352-5de7-11e5-925f-bd7aafa958c3" src="https://cloud.githubusercontent.com/assets/6692653/99

[2015-09-18 13:51] jeroenbreen opened #648 "Selecting a master and setting parameters bugs"
Solve bug where, when duplicate the pre-loaded master, and then select 1 glyph ("M") and adjust its width, it doesn't get adjusted, instead the pre-loaded master's glyph is adjusted:

<img width="828" alt="f1c1693e-5de7-11e5-9b32-347168302642" src="https://cloud.githubusercontent.com/assets/6692653/9960806/170108d2-5e1d-11e5-8e5d-d484ecf01305.png">

[2015-09-18 13:53] jeroenbreen commented on #647
@davelab6
hmm I saw what you meant. But sometimes it goes well. You could help tracing the exact bug by checking the console. I have a .log() on the cps writing event. You could check if the cps is doing what you expect it should.

[2015-09-18 21:03] davelab6 opened #649 "Exported 0.3.0 OTF files have serious errors"
The fonts exported can not be installed in Mac OS X:

<img width="623" alt="screen shot 2015-09-18 at 16 57 49" src="https://cloud.githubusercontent.com/assets/261579/9970929/74f33006-5e26-11e5-9943-2dc35ce6d0f3.png">

As per https://github.com/googlefonts/fontbakery/issues/445 the Apple font validator says:

[code]

[2015-09-18 21:16] felipesanches commented on #649
The error report is fuzzy and its meaning is unclear. Is ther documentation of the meanings of Minor/Major/Fatal severity for each of these tests somewhere? The validator is free software so that i can inspect its source in case we lack detailed documentation of what the tests are checking ?

[2015-09-18 21:20] felipesanches commented on #649
I'm reading this now:
https://blog.idrsolutions.com/2013/09/using-os-xs-font-validator/

[2015-09-18 21:23] felipesanches commented on #649
yeah, but the blogpost conclusion is the same: obtuse error report without much info.

It is not yet clear what are the technical issues with the OTFs exported by Metapolator.

[2015-09-18 21:29] felipesanches commented on #649
The essence of the vague info available in this report seems to be:
* ‘hmtx’ table usability: Minor Error
* ‘name’ table structure: Minor Error

[2015-09-18 21:53] felipesanches commented on #649
@davelab6
Here's what we currently do to generate hmtx (actually that's not strictly a Metapolator routine, but instead that's code from our opentype.js dependency):
https://github.com/nodebox/opentype.js/blob/master/src/tables/hmtx.js#L28

It looks pretty straightforward and seems compatible with the htmx table description found here:
https://developer.apple.com/fonts/TrueType-Reference-Manual/RM

[2015-09-18 22:03] felipesanches commented on #649
The name table is a bit more complex and, thus, more error prone:
https://github.com/nodebox/opentype.js/blob/master/src/tables/name.js#L734

https://developer.apple.com/fonts/TrueType-Reference-Manual/RM06/Chap6name.html

It would require a clearer error log from the font-validation tool though, in order to better direct an effort to fix watever issue there may be in opentype.js name table compil

[2015-09-18 23:09] davelab6 commented on #649
The font can not be installed, so the problem is important to diagnose and
fix.

[2015-09-18 23:26] felipesanches commented on #649
Sure! The severity of the issue was understood.

But I'm still looking for more detailed insight into the reasons for it being rejected by the system. Can you make the font validation tool provide more information? We need to know what are the test criteria used by the validator.

[2015-09-18 23:34] #640 closed

[2015-09-18 23:52] davelab6 commented on #649
Sure, this gives the most comprehensive/verbose output
[code]

[2015-09-19 00:02] felipesanches commented on #649
yeah! Now that's good :-D

* "hmtx: Glyph 1 has a width of 568; it should be zero"
* 'name': A name begins with a space (index %d)

With that I can further inspect what's going on.

[2015-09-19 01:01] felipesanches commented on #649
well... regarding names beginning with a space being bad, I guess this is necessarily something that opentype.js should guard against, given the disastrous side-effect. So, even if there's a bug in Metapolator generation of names, there is also necessarily something to be fixed upstream to forbid and/or automatically fix name strings starting with spaces.

[2015-09-19 01:58] davelab6 commented on #649
Agree

[2015-09-19 02:00] felipesanches commented on #649
I'll send a pull request upstream to add that verification and log a warning message in these cases while fixing the bad strings.

[2015-09-19 02:02] davelab6 commented on #649
Perfecto

[2015-09-21 08:19] allcaps commented on #556
I placed the full logo as icon on the website and only one pen on Metapolator PR #652.

[2015-09-21 08:19] #556 closed

[2015-09-21 18:19] guiguru commented on #646
I have started adding stuff, more to come

[2015-09-21 20:15] allcaps commented on #646
I checked the boxes that landed in master. PR #650

[2015-09-21 23:12] allcaps opened #654 "CTRL + arrow up down is a system shortcut on OSX"
CTRL + arrow can be used to change an input with increment steps a 10th. Bit it is also a system shortcut on OSX. It triggers Mission Control, formerly Exposé.

[2015-09-21 23:17] allcaps opened #655 "Create a simple /v0.3.0/index.html that offers 2 links, to the min and max versions"

[2015-09-22 03:13] davelab6 commented on #654
Shift instead is better I think
On Sep 21, 2015 7:12 PM, "Coen van der Kamp" <notifications@github.com>
wrote:

[2015-09-22 03:13] davelab6 commented on #655
Already did it, but needs work

[2015-09-22 07:13] guiguru commented on #655
this is just a hack for testing and demoing, no?

if so, bare-bones is good enough _(I liked the quintessential blue links ;^)_

[2015-09-22 07:20] guiguru commented on #654
shift is, like, made for big steps, no?

alt/option up/down seems not to be claimed _(in web browsers on OS-X)_

[2015-09-22 08:26] allcaps commented on #654
Yes, shift==BIG and ctrl==control (smaller steps).

It will always be unsure if key combinations are available. Different platforms use different combinations AND most systems have key combinations configurable AND key combinations can be claimed by other third party (helper) apps.

I think in all those cases the system or third party app will take precedence.

For now it will be good enough to ta

[2015-09-22 13:43] davelab6 opened #656 "Interactive Tour with Shepherd"
Maybe some day I'd like to setup http://github.hubspot.com/shepherd/ for an interactive tour

[2015-09-22 23:47] adamschwartz commented on #656
You can also install it with Eager now ;)
https://eager.io/app/shepherd/install

[2015-09-22 23:49] adamschwartz opened #658 "SmartUnderline on the site?"
When looking at http://metapolator.com/home/ I thought y’all might enjoy a little this:

<img width="910" alt="screen shot 2015-09-22 at 7 48 15 pm" src="https://cloud.githubusercontent.com/assets/154613/10034895/ef09a78c-6162-11e5-9976-abb4f12f2ac9.png">

Just visit https://eager.io/app/smartunderline/install and paste in `http://metapolator.com/home/` to see for yourself. :)

[2015-09-22 23:49] adamschwartz commented on #658
cc @davelab6

[2015-09-23 15:12] zackbloom commented on #658
+1

[2015-09-24 08:59] allcaps commented on #654
I'll put small increments on both alt and ctrl key. So shift is big. Alt or ctrl give control.

[2015-09-24 20:38] davelab6 commented on #654
Sorry misread 10th as 10x :) This is good!!

[2015-09-24 20:46] guiguru commented on #654
@allcaps, good idea to run with this. we will simply see how it works out in practice

[2015-09-24 22:40] allcaps opened #660 "Errors and feedback via messages framework"
From a bad input value to a fatal error during a background task: We need to notify the user.

During PR #659 I created an basic alert dialogue on a validator of a parameter input field. @graphicore and I agree that a pop up dialogue that the user needs to click to close is to intrusive. I would like to solve this issue, but also come to a more general approach of handeling messages. So I suggeste

[2015-09-24 23:23] davelab6 commented on #660
As far as I am concerned, anyone can volunteer for anything and put it on the roadmap where they want. I think there are a few areas we can place a message notification counter, which shows 1 or 2 digits or ":D" for the number of unread messages, and when clicked will open a large 'overlay' dialog that contains all the messages with the most recent at the top, and when they become visible (scrolle

[2015-09-24 23:26] graphicore commented on #660
Some info to our message logging tool.

This is what we use https://www.npmjs.com/package/util-logging
and some custom code: https://github.com/metapolator/metapolator/tree/master/app/lib/logging

We already initiate it in https://github.com/metapolator/metapolator/blob/master/app/lib/project/MetapolatorProject.js#L84

but currently we don't really use the logs very well.

When working with the cl

[2015-09-25 00:04] davelab6 commented on #660
I think what @allcaps means is that you'd see a log item like

[code]

[2015-09-25 00:37] graphicore commented on #660
[code]

I agree with the messaging system and the log stuff that I described does exactly that.

A dialog is however something different: a dialog requires interaction, a log in contrast requires no direct interaction. A log is like leaving a note without waiting for the answer. A dialog is asking a question and waiting actively i.e. blocking until there is an answer.

Besides that, I'd try to sol

[2015-09-25 00:43] davelab6 commented on #660
I agree. I think we all agree; the divide by 0 answer isn't a good example because its something that could be better handled by a dialog that interrupts the user, or at least appears as a 'toast' or 'butter bar' pop-up notification that doesn't interrupt.

Perhaps a better example is dealing with couchdb conflicts. http://guide.couchdb.org/draft/conflicts.html

[2015-09-25 13:37] guiguru commented on #660
yes _any_ notification, positive or negative is first of all an interaction design issue. the holy grail there is to make them all unnecessary. in 22 years I have spent a lot of time on that; zapped loads of them.

thus ( @felipesanches ) every import/export error/notification is an interaction design issue, because all the time the schema is:

1. can we rig it so that the error does not occur?
*

[2015-09-25 13:50] guiguru commented on #658
my _personal_ experience with websites where some automatic link-inserter is active has been super bad.

I now associate it by default with some cynical advertising/moneymaking scheme.

my UI-evaluating eye says that there are too many links in that fragment shown at the top of this page. setting links is a matter of sound judgement (what is important, what needs clarification, what do we associat

[2015-09-25 14:07] davelab6 commented on #658
This is just changing the visual design of the underlines.

[2015-09-25 14:09] guiguru commented on #658
_(removes foot from mouth)_

huh, one needs external help for _that_?

[2015-09-25 14:11] guiguru commented on #658
is it that chars with descender do not have underlining?

done with spans, I guess & hope

[2015-09-25 14:26] adamschwartz commented on #658
@guiguru here’s a before image:

<img width="896" alt="screen shot 2015-09-25 at 10 26 22 am" src="https://cloud.githubusercontent.com/assets/154613/10103046/e519b028-636f-11e5-8b6e-f27cada25aca.png">

[2015-09-25 14:46] guiguru commented on #646
some more testing: before I just plunk it in the top section, I would like to mention some things here so we can discuss it first—

* parameter panel
  * the glyph-level values (straight after starting up) cannot be edited. [they should be];(https://github.com/metapolator/metapolator/wiki/working-UI-demo#changing-values)
  * I have echoes in my ears of “all parameters, all operators.” right now I

[2015-09-25 14:58] guiguru commented on #368
OK, I have looked in to this in general and here is some **early-warning** observations:

working in a web browser, unite a bit of the tab and arrows mode is arranged for us. except for:

1. our custom UI elements. they need to be able to sit in the tab/arrow sequence, have a state that they are the one and only focussed thing in our UI, and they need to reflect this graphically (ping @jeroenbreen

[2015-09-26 06:51] jeroenbreen commented on #646
https://github.com/metapolator/metapolator/issues/643#issue-105462502 : - >7nd checkbox #587

[2015-09-28 09:17] jeroenbreen opened #661 "Prevent removing hardcoded cps rule"
@allcaps detected this bug here https://github.com/metapolator/metapolator/pull/659#issuecomment-143596738

In the following comments a discussion how to handle this situation.

[2015-09-28 09:37] allcaps commented on #661
In app/lib/models/metapolator/masters/_ElementModel.js line 32 and 33:

        if (factor === 1) {
            this._removeParameter(parameter);

The reason to remove the parameter is that the value `1` means no change. So we don't need to apply the rule at all. The bug is that the remove leads to invalid CPS.

[2015-09-28 09:46] jeroenbreen commented on #661
I fixed the current approach now with (so closing this one)
https://github.com/metapolator/metapolator/commit/87a056da47a1807cc657a9b607d802af70c3325d

But the discussion about the approach can continue here
https://github.com/metapolator/metapolator/pull/659#issuecomment-143684029

[2015-09-28 09:46] #661 closed

[2015-09-28 10:04] allcaps opened #663 "Design input error feedback"
I wrote:

@guiguru

[2015-09-28 10:07] allcaps commented on #663
@guiguru There are likely errors in the future. But a definitive list will never exist.

Negative _width_ is mentioned in the error console. That is because we can't render a negative bounding box to display the glyph. But the the glyph shape itself will be flipped which I think we don't want to prevent. The same for negative weight. It won't look pretty but IMHO it is a font designers design choi

[2015-09-29 07:59] jeroenbreen commented on #633
(still one subissue to do)

[2015-09-29 15:00] graphicore opened #666 "Node.properties import/loading/saving"
In PR #665 I introduced `MOM _Node.properties` as a API for metapolator coding.

There is also a little helper to load values for all `node.properties` of a master when that master is loaded -> link

However, there still things to do:

- [x] Make a better format of a propertiesFile. A Key-Value storage would be much faster to read. Making a specially crafted cps file could be a good solution. The

[2015-09-29 16:28] jeroenbreen commented on #648
@davelab6 I seem to be unable to reproduce anymore :) Can you?
metapolator.com/v0.3.0/min/ (or max)

maybe this commit something got to do with it, dunno https://github.com/metapolator/metapolator/commit/cc271c3ab96f660ed1d3d86a4fc120e6c32c987c

[2015-09-29 17:12] davelab6 commented on #648
Confirmed as fixed :)

[2015-09-29 17:12] #648 closed

[2015-09-29 17:23] davelab6 opened #668 "UX: Transition Time of Form/Mix or Mix/Export is too slow / flat"
Now that metapolator 0.3.0 is zippy even in Firefox, the transitions from adjacent pages (form to mix or mix to export) feel a little slow.

Also, I wonder if easing 'curves' can be added to the transition? eg https://www.google.com/design/spec/animation/authentic-motion.html#authentic-motion-mass-weight

[2015-09-29 17:47] guiguru commented on #668
can see that it is a liiiitle slow (the connection between the views should remain followable).

can we set the transition time 100ms less (to 600ms)? then push and review?

[2015-09-29 17:54] allcaps opened #669 "Scroll wheel update rate"
@guiguru wrote in #659:

[2015-09-29 17:56] allcaps commented on #669
I don't see how slowing down updates will speed up the experience. MP doesn't block while scrolling.

[2015-09-29 17:56] guiguru opened #670 "÷ looks like +"
The crossbar on our ÷ glyph should have the width of an em-dash

[2015-09-29 17:57] allcaps opened #671 "Jumpy cursor"
@guiguru wrote #659:

[2015-09-29 18:00] allcaps commented on #670
This is expected. `+11 = 11` and `1 + 11 = 12`.
You also don't expect -11 to be -10.

[2015-09-29 18:22] guiguru commented on #670
@allcaps thanks for responding so quickly. thinking about why you wrote that and trying to reproduce my bug, I found out it is something really different that went wrong:

the + and ÷ are near identical, and I was doing divide by 11 instead of +11.

luckily I made a solution with @simonegli long ago for the ÷ symbol: make the crossbar as wide as an em-dash.

updated at the top

[2015-09-29 18:23] allcaps commented on #670
Maybe we have a different concept of how this should work. The way it currently works (and should work IMHO) is that a math expression is evaluated and the result is the input. The current value doesn't have anything to do with it, unless you keep it in the expression.

[2015-09-29 18:27] guiguru commented on #669
what I am trying to achieve is that when N scroll up/down events come in in a row, only the last one is acted upon, because we are too slow to do N in a row.

I thought the 500ms would help to decide ”anything more coming?”

[2015-09-29 18:33] allcaps commented on #670
Off topic: Those checkboxes are mostly the beginning of issues that are open for a long period of time. I think issues should be as small as possible so that issues can be claimed, worked on, fixed, merged and closed.

Having issues that keep growing (like we did in the past) really takes the dynamic out of the workflow.

[2015-09-29 18:41] allcaps commented on #670
I now see how I misunderstood you. You where not trying to evaluate math in the input but the second and third operator look the same.

![screen shot 2015-09-29 at 20 40 03](https://cloud.githubusercontent.com/assets/1969342/10174492/61c47504-66ea-11e5-9a8d-42dd5b2b0d2e.png)

[2015-09-29 18:44] allcaps commented on #670
@guiguru offtopic 2: If you want Simon to fix this, just assign him. ;)

[2015-09-29 19:29] allcaps commented on #654
Closed by #659

[2015-09-29 19:29] #654 closed

[2015-09-29 20:24] #671 closed

[2015-09-29 20:25] jeroenbreen commented on #458
Seems to be still happening https://plus.google.com/109980284165962250622/posts/cQhW67CnifW

[2015-09-29 20:37] allcaps commented on #668
I think the time doesn't say that much about speed since `speed is distance over time`. We have forgotten about distance. At the moment the sliding seems to slow on small displays and quite speedy on big. So we might want to measure viewport size and use that to figure out the appropriate sliding time.

[2015-09-29 22:42] allcaps commented on #670
@guiguru I cleaned up this issue. I hope you are okay with that.

Issue #475 is about a to bold looking font on OSX. We now have the same problem. It seems that the fix isn't applied anymore. :/

I added the needed styles in my browser developer tools. Here the before and after comparison:

![before and after](https://cloud.githubusercontent.com/assets/1969342/10180224/af09e954-670b-11e5-8352-635b

[2015-09-30 00:49] davelab6 commented on #668
Great point Coen! I found it slow on my 1680 x 1050 screen when Firefox is
maximised :)

[2015-09-30 07:30] guiguru commented on #668
what @allcaps says about speed & distance is an eye-opener.

now let’s see what the interaction design goals are:

1. the transition **never** takes _too_ long
* the eye must be able to follow the master/instance column that flies across the viewport during a transition.

miss one of these and we have failed.

I think the procedure to get to a formula t(width) = a*width + b is quite simple—

* our

[2015-09-30 07:31] jeroenbreen commented on #670
@guiguru I think you'll have to email Simon, instead of assign him.

[2015-09-30 07:35] guiguru commented on #670
yeah, I will have to call him, which is not a bad thing anyway

[2015-09-30 09:10] allcaps commented on #668
We seem on track of handeling the speed right. Let us also choose the right _transition curve_ since it has has a big influence on the speed experience as well.

@davelab6 points to a [nice document](https://www.google.com/design/spec/animation/authentic-motion.html#authentic-motion-mass-weight). It says:

We can say the whole user interface is big and heavy.

Technically... The `mtk-landscape` ta

[2015-09-30 21:02] jeroenbreen commented on #668
found this nice tool http://cubic-bezier.com/

[2015-10-01 15:50] jeroenbreen commented on #646
@graphicore
I have added the splashscreen again. Is this
https://github.com/jeroenbreen/metapolator/blob/master/app/lib/Metapolator.js#L41
the right/place time to hide it?

[2015-10-01 15:57] graphicore commented on #646
You can do so earlier, like here: https://github.com/jeroenbreen/metapolator/blob/master/app/lib/redPillMain.js#L64

actually, part of the old mechanism is still in place: https://github.com/jeroenbreen/metapolator/blob/master/app/lib/metapolatorMain.js#L22

used to do this: https://github.com/jeroenbreen/metapolator/blob/master/app/lib/ui/redPill/app.less#L33

[code]

[2015-10-01 16:01] jeroenbreen commented on #646
perfect.

[2015-10-01 16:29] guiguru commented on #670
@allcaps wrote (now removed somehow):

well you really got m thinking with that. a lot and quite agitated.

in spring we had a special way of collaborating via the bug tracker, and it delivered exceptional results, in terms of getting good UI done with little communication noise.

it is quite an explanation what went on and why normal bug tracking practice tends to pulverise good UI design. so I a

[2015-10-01 16:32] #646 closed

[2015-10-01 17:15] davelab6 commented on #670
I'm looking forward to the blog post. I think there is a middle path, where
the benefits of the discussion thread issues can be accompanied by the
benefits of having single task issues that are closed with specific
commits/PRs. In a voluntary project like this, developer satisfaction is
the fuel of progress, and nothing gets done without it.

I think the tasks could be drafted as checkbox list ite

[2015-10-01 21:54] allcaps commented on #670
I cleaned up this issue and realise I shouldn't have done that. I just wanted this issue to be on topic and removed off topic parts with best intentions. @guiguru started a list and I shouldn't have edited that out or removed any other content at all. Peter I'm sorry. I won't do something like that again.

[2015-10-01 22:05] allcaps commented on #670
@guiguru I hope you can understand that there are benefits for contributors like me to have tight issues. I do for sure understand that lists with checkboxes work for you. So please continue working like that.  Keep up the good work.

[2015-10-01 22:17] davelab6 commented on #670
Would `∕` be better than `÷` - unicode's "division slash", www.fileformat.info/info/unicode/char/2215/index.htm

[2015-10-02 06:40] guiguru commented on #670
@allcaps you can help me understanding why for you separate bug is better. in the blog post I am looking at the big picture (nature of engineering) but I am missing why you are unhappy with ‘omnibus’ or ‘holistic’ issues.

I will think about it this morning _(did I reject it before? if so, why? must recollect)_

[2015-10-02 06:43] guiguru commented on #670
oh, nothing bad happened. I was really engaging with your unhappiness with omnibus bugs, and then the communication about that had disappeared.

[2015-10-02 13:34] davelab6 commented on #670
Closing issues is designed by github to be satisfying. Green turns to red,
git commit / pull request says "this fixes x", etc, in a way checking a
list item is not.

[2015-10-02 22:25] allcaps commented on #670
@guiguru,

In normal life people make todo lists and are happy getting things done. I think the same is true for software development and issues. I like to have overview on what needs to be done and get issues of my list. For me, the ideal issue is not to big and not to small. Something that can be done within a clear timespan and celebrated when done.

Tight defined issues are nicer to work on be

[2015-10-03 03:13] davelab6 commented on #670
Thanks for this, waffle looks cool, I'll check it out :)

[2015-10-03 15:27] guiguru commented on #670
@allcaps, thanks for writing up your insights. I will go through it with a fine-tooth comb.

by writing the blog post, I have moved on from being a self-interested complainer in our small club, to a designer of workflow in general. thus I have to look at things in a more generalised way. your input about “Companies use issue trackers for more than just text threads” is good because I can design it

[2015-10-03 15:49] davelab6 commented on #670
Thought on / ? :)

[2015-10-03 15:59] guiguru commented on #670
Thought on / ?

yes, I think unicode's “division slash” ‘∕’ (not a normal slash) is a better plan than ÷.

I guess I had put to must trust in desk and pocket calculators, which for half a century or more have been using ÷. its likeness to + is simply a usability issue: errors and slow-down

I will update the spec, and that will probably take longer than updating the code

[2015-10-04 17:45] allcaps commented on #668
I tested various things and tried a few formulas. I wasn't looking for the exact right transition time, but for a way to make the transition appear the same speed on various widths. I realised the following:

- Fixed time makes the speed higher on wider displays. The transition on bigger displays is to fast.
- Fixed speed makes the time longer on wider displays. Then transition on bigger displays

[2015-10-04 20:47] davelab6 commented on #668
On Oct 4, 2015 1:45 PM, "Coen van der Kamp" <notifications@github.com>
wrote:

the exact right transition time, but for a way to make the transition
appear the same speed on various widths. I realised the following:

bigger displays is to fast.

bigger displays is to slow.

object. E.g. a master panel with a couple of masters added is easy to
follow even at very high speeds. But master panel with

[2015-10-06 22:12] #670 closed

[2015-10-06 22:20] jeroenbreen opened #676 "bugs in export panel"
- [x] check all / uncheck all doenst work
- [x] all glyps must be measured upon exporting (moved from #633)

[2015-10-06 22:20] #633 closed

[2015-10-06 22:44] #676 closed

[2015-10-06 22:49] #630 closed

[2015-10-09 09:46] jeroenbreen commented on #643
updated the roadmap (checked checkmarks) in the opening post.

[2015-10-09 09:55] jeroenbreen opened #678 "Make decision about some Metapolator concepts"
This is more a reminder for myself (maybe as well for @felipesanches) to get involved in decision that will be fundaments of how Metapolator works.

Read:
https://github.com/metapolator/metapolator/pull/585#issuecomment-103181849 and https://github.com/metapolator/metapolator/issues/630#issuecomment-140198616

Decide (maybe @graphicore can sharpen this up):
- [ ] what categories of masters do exis

[2015-10-11 13:08] jeroenbreen opened #679 "Editing ranges"
Moved from #343;

[2015-10-11 16:05] davelab6 commented on #643
@FelipeSanches and @jeroenBreen what is next for import ?

[2015-10-11 20:30] #679 closed

[2015-10-12 19:35] jeroenbreen commented on #643
to my understanding Felipe is working/thinking on it, right @felipesanches ?

[2015-10-15 19:40] davelab6 opened #681 "Import GX fonts (with TT outlines)"
Thanks to @brawer opentype.js can now read the GX variations tables. This means that we have the potential to import a GX font, edit it with our UX, and export a new GX font.

Since GX font binaries have TT/quadratic outlines, we would need to use something like @brawer 's https://github.com/brawer/playground/blob/master/fonts/showoutline/showoutline.mm#L226-L237 to convert the quadratic splines t

[2015-10-15 19:44] graphicore commented on #681
ufoJS can convert quadratics to cubics, the same as fonttools does here: https://github.com/behdad/fonttools/blob/master/Lib/fontTools/pens/basePen.py#L175

[2015-10-15 19:45] graphicore commented on #681
here is the ufoJS port https://github.com/graphicore/ufoJS/blob/master/lib/tools/pens/BasePen.js#L82

[2015-10-15 20:56] davelab6 commented on #681
Ah, brilliant! :) Did not know

[2015-10-17 08:37] jeroenbreen opened #682 "Use element style instead of cps way"

[2015-10-21 13:18] #418 closed

[2015-10-21 16:48] davelab6 commented on #383
This is now a child of https://github.com/metapolator/metapolator/issues/383

[2015-10-22 01:50] davelab6 opened #683 "Specimen: Inter-Paragraph Spacing Should Change With Looseness"
I think the paragraph spacing is overall too loose, and there is only 1, which I can not easily change.

This means that when comparing masters, its a pain to set up a word in 3 masters that match:

<img width="297" alt="screen shot 2015-10-20 at 17 01 03" src="https://cloud.githubusercontent.com/assets/261579/10617981/351206bc-774c-11e5-9ed8-be7b85271aa4.png">

Especially as when you then look at

[2015-10-23 08:48] raphaelbastide opened #684 "npm Installation failure"
I get this error when I try to npm install. Am I missing something?

[code]

[2015-10-23 09:02] graphicore commented on #684
gyp ERR! stack You can pass the --python switch to point to Python >= v2.5.0 & < 3.0.0.

Looks to me like it ask for a different python version. Did you try something like `npm install --python=python2` (if you have a python2 command available, could also be `python2.7` etc)

[2015-10-23 09:32] raphaelbastide commented on #684
Thank you @graphicore for your quick and effective answer. It worked with `npm install --python=python2`

[2015-10-23 09:32] #684 closed

[2015-10-23 09:33] graphicore commented on #684
:+1:

[2015-11-02 12:44] tomByrer opened #687 "node version compatibility?"
*Seems* that metapolator is only compatible with  an [old version of node](https://github.com/metapolator/metapolator/blob/master/INSTALL.md#install).  Are you limiting to only one version?  If so, perhaps at least bump to the long-term v4.x, since IIRC more memory leaks were fixed.

[2015-11-02 13:00] graphicore commented on #687
Yeah, we should do so. I remember when I tried 0.12.something a while ago that there was some problem with a dependency. It's likely that this is resolved now. I should try it again.

[2015-11-03 16:35] jeroenbreen opened #688 "editing of effective value fields and effective value ranges;"
distilled from https://github.com/metapolator/metapolator/issues/343

[2015-11-03 16:36] jeroenbreen opened #689 "marshalling the availability of operators"
distilled from #343

[2015-11-03 16:37] jeroenbreen commented on #343
moved leftovers to distinct issue #688 and #689

[2015-11-03 16:37] #343 closed

[2015-11-03 16:39] jeroenbreen commented on #688
@guiguru editing of the effective value is the ultimate override of all operators?
You probably described it before, can you provide the link if so?

[2015-11-03 16:41] jeroenbreen commented on #383
I dont get what is happening here. @davelab6 can you explain?
How does this relate to https://github.com/metapolator/metapolator/issues/343 (see my last posts there)?

[2015-11-03 16:48] jeroenbreen commented on #689
@guiguru Maybe you described this as well, although this is quite an odd event:

So this issue is about checking whether you can add an operator, since the "=" operator cannot be added multiple times to a node. So ok, that is clear.
But what if I have a selection of 2 masters, and 1 of them has the "=" operator (on master level) and the other one doesn't?

Thinking about that - another half-relate

[2015-11-11 17:21] #647 closed

[2015-11-11 17:46] jeroenbreen commented on #383
@davelab6 ↑

[2015-11-11 17:48] jeroenbreen opened #693 "the size pulley causes some overflow when selected"

[2015-11-11 18:01] jeroenbreen commented on #458
ah, @allcaps seeing the video it is only when editting via the input field. Apparently this was a bug all the time already, but I never used the input field, so never noticed it.

[2015-11-11 18:03] #458 closed

[2015-11-11 18:27] #693 closed

[2015-11-13 10:41] davelab6 commented on #383
@jeroenbreen aha I think I see how my previous comment was confused; it referred to "383" but that is this very issue so its nonsense :) I'm pretty sure that I meant that this issue is a child of 343, which was to implement the Parameters Panel in full, and that issue is now closed with 2 specific child issues (https://github.com/metapolator/metapolator/issues/688 and https://github.com/metapolato

[2015-11-13 11:35] davelab6 commented on #688
@guiguru i suggest to set up a call with Jeroen to figure this and #689 out :)

[2015-11-13 12:11] davelab6 commented on #383
Currently we just support width and weight at the Font and Glyph levels:

<img width="485" alt="screen shot 2015-11-13 at 17 42 19" src="https://cloud.githubusercontent.com/assets/261579/11144266/0360e508-8a2e-11e5-8d87-9b87374827fd.png">
<img width="546" alt="screen shot 2015-11-13 at 17 42 15" src="https://cloud.githubusercontent.com/assets/261579/11144267/0368185a-8a2e-11e5-9c64-8b1c63e63a32.pn

[2015-11-13 12:14] davelab6 commented on #565
@jeroenbreen I'm assigning this to you and renaming the title :)

[2015-11-13 12:15] davelab6 commented on #565
@graphicore also a question for you here :)

[2015-11-13 12:15] davelab6 commented on #474
Export works for me.

[2015-11-13 12:15] #474 closed

[2015-11-13 12:28] graphicore commented on #565
HarfbuzzJS would be the one definitely and long term valid solution.

[2015-11-13 13:37] graphicore commented on #383
Hmm, I'm not sure if this is it. In my opinion changing these things relative to the current state is straight forward. But implying that one could set the absolute width is, to say the least, odd. The software does at no instance predictions of how a setting would come out as a shape. One way here could be to let the software try width/height transformations on the centerline until the width fits

[2015-11-16 10:15] jeroenbreen commented on #688
Okay, reading https://github.com/metapolator/metapolator/wiki/working-UI-demo#parameters-panel this one is clear now, seeing the concept of `calc-back` (horror...). #689 isn't described as far as I can see.

[2015-11-16 10:20] jeroenbreen commented on #688
@davelab6 There is still a lot of detail work to do (reading the wiki) in the parameters panel. Do you want that to be done first, before leaving the parameters panel as is or do you want to move on first (it would do me good to have some fresh subject)

[2015-11-16 10:29] jeroenbreen commented on #565
Hmm, probably will need help to get that going. The HarfbuzzJS page itself is already the first hurdle making my legs to heavy to jump.

[2015-11-16 10:54] davelab6 commented on #688
Maybe the gui for the import process?

[2015-11-16 12:47] jeroenbreen commented on #383
Maybe I want to add a little concern of mine here.
I noticed that working on the parameters panel was tipping the top of my technical skills (and with that as well my motivation for it). Parallel with that the 'problem' with (believe in) the concept of `initial` shows there is a gap in the arrangement of our team.

Recap of how this happened: we decided that all the calculations needed for plus, m

[2015-11-16 12:48] graphicore commented on #565
There's AFAIK no HarfbuzzJS that we can use: https://github.com/prezi/harfbuzz-js/issues/3

[2015-11-16 13:13] davelab6 commented on #383
Jb, as I recall you were taking on the more engineering tasks to learn.

If it's too steep a learning curve, no problem :)

There is still a lot of ui to be created, that can be hooked up to an engine later.

[2015-11-18 18:52] graphicore opened #697 "Renaming the Red Pill and all the other things that are about to come."
I'm leaning towards a simple *{something-Inspector}* so the questions is what that something could be. Probably we'll just call it "The Inspector", but we still need a name to refer to it when the context is not obvious.

I'd like to have an umbrella name for all the "Metapolator Technology", but I'm not sure if we should keep that name. In that case it would likely be a *Metapolator-Technology-In

[2015-11-18 19:24] davelab6 commented on #697
I think renaming Red Pill to CPS Inspector isn't quite right.

I think s/MOM/OMA/g is a good idea.

I think putting the generic stuff under your personal Github is good, like
ufoJS, because you are afterall the lead developer for these things.

However, I don't think calling this stuff "Graphicore" is so good, unless
you want to 'sacrifice' your handle to this specific technology. I
personally wou

[2015-11-18 19:40] graphicore commented on #697
No it isn't. But all browsers call their thing "Inspector". Maybe this is is also something with a different focus than just an inspector. Like a multi-tool that could be a lot of things for you.

Good point. I agree and withdraw the *graphicore* proposal.

Yeah, not much (a bit though).

I agree.

[2015-11-18 20:15] davelab6 commented on #697
The browsers' "Inspector" feature is part of the Developer Tools.

[2015-11-18 20:22] graphicore commented on #697
Good point!

[2015-11-19 01:23] graphicore commented on #697
I recalled this: https://plus.google.com/u/0/+DaveCrossland/posts/MU5SqqYf15y

There was **AtemJS** which

* is catchy
* means simply "breath" in German
* reads backwards *meta* which is cool
* can be subtitled with sth. like "AtemJS—breathing live into code."
* could be a (b)acronym (but I think it doesn't have to be one)

e.g. a  recursive (b)acronym:

**A**TEM **T**ooling **E**xpressive **M**od

[2015-11-19 08:07] davelab6 commented on #697
Where is this "SomethingJS" naming from? "atem.js" seems more typical. But
Atem seems to be better as we might see a python or c++ implementation of
the tech someday
On Nov 19, 2015 8:23 AM, "Lasse Fister" <notifications@github.com> wrote:

[2015-11-19 14:47] graphicore commented on #697
I think it's from RequireJS  http://requirejs.org/ or from AngularJS https://angularjs.org/ but "something.js" is probably stil more typical.

What are the requirements for name clashes?

There is a range of TV-live-production switchers: ATEM https://www.blackmagicdesign.com/products/atem
Someone reverse-engineered it's communication protocol; so now there are some projects on GitHub containing th

[2015-11-19 16:31] davelab6 commented on #697
I think atem is good :D

[2015-11-19 16:43] graphicore commented on #697
:+1:

[2015-11-20 10:32] graphicore commented on #687
The code (or at least the tests) now runs with almost any version of node.js from `0.10.x` to `5.x`, I think.

Probably we should change `INSTALL.md` now. However, I'm not sure if we should recommend a version there or if we just try and see how long we can stay "version-agnostic".

[2015-11-24 12:12] jeroenbreen opened #698 "Design import UI"
@guiguru Are you taking the lead into this - what we spoke about in the call?

[2015-11-24 15:17] graphicore commented on #629
I looked at it. There's no bug. The thing is that the rule is updated asynchronously, so you can't witness the change to the rule in the moment you changed the file.

what you did:
[code]

when I add a delayed call (setTimeout):
[code]

I get the output:

[code]

Note the last block, all there.

[2015-11-24 15:17] #629 closed

[2015-11-26 03:07] graphicore opened #699 "Collection of things that can (and will) go wrong on import."
### Not handled / fatal at the moment

#### master-name is already used

Fixing this is easy if we choose to just enumerate at the end of the used name and take the first free choise. However, since we currently use the mom-ids as screen names, I thought it would be a good reason to tackle that as well. Also, maybe overwriting the existing master is preferred (this is more demanding but enables a

[2015-11-26 03:25] davelab6 commented on #699
As soon as we have import and export working then I want to do some real user studies and find out from real type designers what they need. This tool was __always__ intended to fit into a UFO based workflow, and making that work smoothly is critical to growing users and moving forwards.

My recommended next steps are:

1. overwrite by default, and log that this happened - the fastest way forwards

[2015-11-26 03:36] graphicore commented on #699
Yeah, I'll have to do so. I'll first ship the vanilla import, we can then discuss further steps.

Yeah, though, it's hard to control for designers and hard to influence for us. But AFAIK (I have to try) we would just not draw incompatible elements, or maybe stop drawing when they begin to be incompatible. Anyways, the StyleDicts can recover from the sort of error that happens here, so the code tha

[2015-11-26 03:41] graphicore commented on #699
Not sure if that is the same. We could implement a 'fallback' operator that tries to use from one source and falls back to another. But basically that is an `if ... else ...`. It could be a very limited if/else though.

[2015-11-26 03:43] davelab6 commented on #699
If it isn't then it is going to be very high on the list of things we need to support in order to import `.glyphs` files, because these kinds of '3 glyph masters' are absolutely essential to contemporary expert type design practices.

[2015-11-26 03:46] davelab6 commented on #699
Great!

I'm really excited to see import coming together :D

[2015-11-26 03:46] graphicore commented on #699
The fallback thing, that's the very foundation for it. The rest would have to happen in the ui.

[2015-11-26 03:50] davelab6 commented on #698
@guiguru we need an import UI that is approved by you asap, because the functionality is now basically working, and this kind of UI should be very straightforward for @jeroenbreen to implement once we have a design approved by you written up in the wiki.

(This is sort of a duplicate of https://github.com/metapolator/metapolator/issues/466 but there the discussion got off-track....)

[2015-11-26 04:05] davelab6 opened #700 "red pill: text selection doesn't include {}'s and @namespace's"
<img width="426" alt="screen shot 2015-11-26 at 11 04 58" src="https://cloud.githubusercontent.com/assets/261579/11414874/8b7b87be-942d-11e5-9796-8f976c613c74.png">

[2015-11-26 04:29] graphicore commented on #700
Hmm, I used css `:before { content: "blub" }` and `:after { content: "blub" }` I see now that that's not the right choice.

I should also add a "paste CPS in here" tool, that tries to parse a CPS string, and if error free inserts it.

[2015-11-29 10:47] davelab6 opened #704 "CPS: Refactor min/max extent syntax?"
Over in https://plus.google.com/u/0/+DaveCrossland/posts/Ngcy9k5eabr @graphicore and I discussed the syntax for min and max values, which are currently something like,

    widthFactor: min 0.5 (max 2.5 1.3 );

I want continue this discussion because I hope we can be more elegant here :) And I figured I've move the CPS discussion hee so its easier to find later.

So, the above syntactical order se

[2015-11-29 18:21] graphicore commented on #704
I could explain the syntax to you, clearly something missing (also from our missing documentation). The order is by the way not that important. The max operator takes two inputs and returns the bigger one, the min operator takes two inputs and returns the smaller one.

`min` and `max` have the same precedence. In an example like:  `max 0.5  min 1.3 2.5 ;` the `max` operator would consume as it sec

[2015-11-30 02:35] davelab6 commented on #704
Thanks for all the details :)

I agree, that doesn't make sense. Your explanation of why the order is the way that it is does make sense.

I think this

    widthFactor:  actualMinMax 1.3 0.5 2.5;

is better than

    widthFactor: min 0.5 (max 2.5 1.3 );

because the order is self-explanatory and it is 'shorthand' enough :)

[2015-11-30 02:36] davelab6 commented on #704
I suggest the action to close this issue, then, is to define `actualMinMax` in the Metapolator CPS standard library and use it in Project Zero / Red Pill :)

[2015-11-30 03:35] graphicore commented on #704
ok.

[2015-12-04 12:34] davelab6 opened #705 "[redpill] Easier way to add new rules"
When I tried to add a new rule to an element property, it was quite difficult to click in the correct place to create the 'new' placeholder that allowed me to enter a new rule and value.

I suggest making it easier to create the 'new' placeholders; perhaps an icon on hover, so it is clear where to click?

[2015-12-04 12:34] davelab6 opened #706 "CPS: How to prevent "crossing the streams""
In red-pill-demo today, when I clicked the 4th glyph (`condensed-extra-bold.cps`) and changed the 5th styleDict rule, widthFactor, from 0.7 to 1.4, I saw this:

<img width="672" alt="screen shot 2015-12-04 at 17 44 24" src="https://cloud.githubusercontent.com/assets/261579/11589450/ae05d58c-9aae-11e5-8a59-be7e890e12ac.png">

This glyph has become "deformed" because - per https://www.youtube.com/wa

[2015-12-04 15:06] graphicore commented on #705
Hmm, Somewhere in master, but not yet in the demo is this commit: https://github.com/metapolator/metapolator/commit/5dda0dd885ef78da5a13ca695b3b0ee932032a31
I wonder if it makes it easier to do what you are asking for.

[2015-12-04 15:39] graphicore commented on #705
As when doing drag and drop, we could display the "drop indicator" always, which is however just a horizontal bar at the moment.

[2015-12-04 16:07] davelab6 commented on #705
That looks like it will help :)

Indicating the drop bar always, providing a place in empty selectors to
double click on, sounds good :)

[2015-12-04 16:13] graphicore commented on #706
This is the same problem that causes the bean-form of an `O` when doing to extreme transformations. We usually attribute it to the behavior of the `tensions`. Maybe we can now learn more about the issue, having this inspector tool at hand :-)

Here are some remarks about the specific top left situation:

It's `on` vector is defined like this:
[code]
so, there is no `yTranslate`. In `lib/scale.cps`

[2015-12-04 17:33] davelab6 commented on #706
Awesome!

I guess my feature request is to extend the 'new rule' feature to have an autocompleting dropdown for the possible rules, similar to web browser inspectors, and an 'expanded' view of 'all rules' that shows all possible rules applied to the element that can thus be overridden, so I don't have to go diving around searching for what rules might possibly be relevant to override.

Here in the

[2015-12-04 18:03] davelab6 commented on #706
FWIW, here's a screenshot of the autocompleting dropdown in the Chrome web inspector:

<img width="433" alt="screen shot 2015-12-04 at 23 08 57" src="https://cloud.githubusercontent.com/assets/261579/11596658/66b2d95e-9adc-11e5-8ca2-3f499494d922.png">

I guess this is really a 3rd option in the current 'view' drop down selector at the top of the inspector. Perhaps tabs would be better than the dro

[2015-12-04 19:30] graphicore commented on #706
We could show all already defined properties for an element but not all "possible" properties. Since with CPS we are free to come up with our own properties and we don't have a list of pre-defined options. In CSS the list of possible properties is predefined; but in CPS we don't do this, so we can't show all things possible.

Not really. in the second screenshot however, where you show "a screensh

[2015-12-04 19:51] graphicore commented on #706
I wrote:

I think this is what you're asking for, since:

It would have this effect.

[2015-12-04 22:40] davelab6 commented on #706
Hmm, not sure I agree. In the above `master#ceb:i(3) glyph#a:i(7) penstroke#stem:i(1) point:i(5) center:i(1)` then when we load red pill, no `yTranslate` is defined for that point, but it is a possible value, as you demonstrated.

[2015-12-04 22:43] davelab6 commented on #706
I wonder if prepending the value to the formula would work well, sort of like this ascii art sketch:

[code]

[2015-12-04 22:46] graphicore commented on #706
It is defined:

![selection_015](https://cloud.githubusercontent.com/assets/393132/11603325/42d6522c-9ae1-11e5-9b84-79f10bf3608f.png)

[2015-12-04 22:58] davelab6 commented on #706
I was wrong! :) Okay COOL :D haha

I think that is what I am asking for.

[2015-12-04 23:01] davelab6 commented on #706
I wonder if red pill should have a midnight-commander-like "split view," so that you could have 2+ views of the same project viewed/edited side by side,

....I appear to be suggesting it become more and more like Emacs ;)

[2015-12-04 23:01] graphicore commented on #706
I'd rather append it, but I'm open for anything here. Not every property may yield a value, some may just yield errors, for different reasons.  Since you can make a rule that is valid for many different elements it may even have no further meaning than that the value can't be calculated in the specific situation.

And since it seems that the user experience is bad when you present users with error

[2015-12-04 23:09] graphicore commented on #706
I had something like that on my mind as well. You could have different containers and open within each any widget you like.
like the terminal ui I'm using: http://gnometerminator.blogspot.de/p/introduction.html

You can split each terminal horizontally or vertically into new terminals, also rearrange by drag and drop.

![an extrem example](http://2.bp.blogspot.com/-DYWH3IZubRI/TrmFBPxmyEI/AAAAAAAA

[2015-12-05 00:12] davelab6 commented on #706
Surely there are js window managers already

[2015-12-05 00:33] graphicore commented on #706
There are probably hundreds! The problem is that it takes so long to find a "good" one that I can as well write own that fits my needs from the beginning.

[2015-12-09 17:10] jeroenbreen opened #707 "make instance.clone"
to fix DRY stuff

[2015-12-12 02:30] graphicore commented on #666
it's at the moment master based yaml indexed with "index pathes" giving starting from the glyph indexes down to each element, like "0/3/5/3"

it's not saved yet (we don't do saving at all right now)

There wont be `legacy data-CPS` that goes into element properties. Only project_zero did so for a short period of time.

[2015-12-12 02:30] #666 closed

[2015-12-12 02:30] graphicore commented on #666
Fixed with #701

[2015-12-12 02:50] graphicore commented on #271
The information is now in the Red Pill. It's looking differently though.

![selection_024](https://cloud.githubusercontent.com/assets/393132/11759759/697fee90-a083-11e5-9ef5-8792ef3940bb.png)

[2015-12-12 02:50] #271 closed

[2015-12-12 21:35] jeroenbreen opened #708 "switch to element.properties"

[2015-12-17 14:58] #707 closed

[2015-12-17 15:07] jeroenbreen opened #710 "get rid of designSpace.trigger"

[2016-01-04 10:20] jeroenbreen opened #711 "Restrict masters in behaviour causing incompatibility-effects"
After a master is imported (waiting for completion here https://github.com/metapolator/metapolator/issues/698), the UI has to restrict masters in behaviour that causes incompatibility-effects of masters.

As far as I can see, at this time the only thing is
- [x] prevent incompatible masters being present at the same design space

@graphicore is there a way already I can know incompatibilty?

[2016-01-04 14:39] #710 closed

[2016-01-07 16:22] #678 closed

[2016-01-07 16:46] graphicore commented on #711
Good that you were just active, you reminded me of this question :-)

No. But I have a rough plan.

using `models/MOM/_Node.prototype.walkTreeDepthFirst` we can create an "essence string" per glyph. Per glyph because glyph order is not important (the cps is using the glyph names not the indexes) However, at the moment it would be better if both masters have the same glyphs.

Shouldn't be too hard

[2016-01-10 13:18] jeroenbreen opened #714 "Spacing issue when changing width"
@graphicore
I saw the spacing issue with width change we had before again. It looks like it only appears when doing this:
1) set master to width 'something bigger then 1' 2) set master exactly to 1.
(when you do stuff like 1) set to 5 2) set to 1.1 or 1) set to 5 2) set to 3) there is no problem)

[2016-02-18 16:55] davelab6 opened #715 "Add a .github folder with templates for issues and pull requests"
The https://github.com/dear-github/dear-github letter has a practical response in https://github.com/blog/2111-issue-and-pull-request-templates

We should add a .github folder with templates for
- [ ] issues and
- [ ] pull requests

I think it is good to leave the CONTRIBUTING.md file in the root so it is more visible.

[2016-02-24 14:25] jeroenbreen commented on #682
this is double https://github.com/metapolator/metapolator/issues/708

[2016-02-24 14:25] #682 closed

[2016-02-24 14:28] jeroenbreen commented on #565
@davelab6 passing this issue back to you, to provide me guidance on this.

[2016-02-24 14:30] jeroenbreen commented on #711
Ok, so assigning it back to you then.

Priority up to @davelab6

[2016-02-24 15:06] davelab6 commented on #565
Cool. Fontkit is how handling some harfbuzz stuff, its similar to opentype.js

[2016-02-24 15:07] davelab6 commented on #565
Actually I'm not 100% sure what this issue is. @jeroenbreen could you re-explain it? :)

[2016-02-24 15:08] davelab6 commented on #698
@guiguru any news on the import UI spec? :)

[2016-02-24 15:13] davelab6 commented on #708
@jeroenbreen do you need help from @graphicore on this?

[2016-02-24 15:14] davelab6 commented on #688
@guiguru I think it would be great if you and @jeroenbreen and @graphicore could do a hangout to clarify the tasks ahead to close this issue

[2016-02-24 15:17] davelab6 commented on #466
@guiguru looks like we may not that auto-compatible code for a while, so need a UI to address that.

@felipesanches has got import basically working, right? So now we need **something, anything** to enable users to use what we have, and we can improve from there.

[2016-02-24 15:18] davelab6 commented on #711
Done. I believe this is related/blocking #466

[2016-02-24 15:18] davelab6 commented on #698
I believe this is blocking https://github.com/metapolator/metapolator/issues/466

[2016-02-24 15:19] davelab6 commented on #697
@graphicore are all the things renamed now?

[2016-02-24 15:21] davelab6 commented on #689
@guiguru please review and comment :)

[2016-02-24 15:22] davelab6 commented on #687
@tomByrer anything more to do here?

[2016-02-24 15:34] davelab6 commented on #688
(sorry don't know why the close button kept being hit =)

[2016-02-24 16:09] jeroenbreen commented on #565
We need to have a system that transforms input in a certain protocol to glyphs, like http://partners.adobe.com/public/developer/en/opentype/aglfn.txt

[2016-02-24 16:09] jeroenbreen commented on #708
I pinged him already here https://github.com/metapolator/metapolator/pull/713

[2016-02-24 16:11] jeroenbreen commented on #711
indeed

[2016-02-24 16:12] jeroenbreen commented on #688
The tasks are clear to me, it's the motivation that's lacking...

[2016-02-24 16:18] davelab6 commented on #565
So this issue title is really

?

[2016-02-24 16:19] davelab6 commented on #688
hehe ok :) Maybe a pair programming session with @graphicore ?

[2016-02-24 16:19] graphicore commented on #697
No not all. I got a lot of the groundwork done and working though.
Ported the stuff to a lot of "Atem-*" Repositories: https://github.com/search?q=user%3Agraphicore+Atem

`Atem-MOM` is not ready yet though. It will be done when bringing all the Atem stuff into metapolator, soon.

[2016-02-24 16:23] jeroenbreen commented on #565
I had sort of a (dumb) system like that, before the refactoring, but then I was introduces to standards (?) like these http://partners.adobe.com/public/developer/en/opentype/aglfn.txt and then Lasse suggested HarfbuzzJS, but that seemed not an option in the end.

So it's not about the allowing itself, but about using which standard and/+ making use of existing systems; if so, which.

[2016-02-24 16:29] graphicore commented on #565
I think it's really about shaping, i.e. mapping an input stream of "text" (unicode) to a stream of "glyphs". And if so, I believe the best action to take is a) just let it as it is b) put on the agenda to get an harfbuzzJS by using emscripten.
Because I really think that implementing something more advanced than what we have right now is a waste of time, the ultimate answer is to do real world sha

[2016-02-24 16:31] graphicore commented on #711
I'm doing this now.

[2016-02-24 16:39] graphicore commented on #697
By the way. I removed the dependency to the 'es6/Proxies' meaning that it won't need special command line flags to run metapolator on chrome.

[2016-02-24 18:18] davelab6 opened #716 "Add a new sample string"
This [metagram](https://github.com/davelab6/pangrams/blob/gh-pages/metagrams.md﻿):

    Incredibly, he makes a major life-change! For example: "I’ll require that the system have two sizes."

[2016-02-24 18:21] davelab6 commented on #565
So there are 2 aims, one after the other?

1. Allow custom sample text to include glyph names (so you can preview an Indic/Arabic font by manually  'shaping' it, typing in a string of glyph names that are those needed for a text to be readable)
2. Shape custom sample text, ie a string of unicodes becomes the list of glyphnames needed for the string to be readable text

[2016-02-24 18:22] davelab6 commented on #565
The glyph names can be arbitrary, and while that is one 'standard' mapping of glyph names to unicodes, Glyphs has its own map which is now much more common.

[2016-02-24 18:24] davelab6 opened #717 "Update User Agent sniffing logic and dialog"
Per https://github.com/metapolator/metapolator/issues/697#issuecomment-188343710 we can test that Metapolator runs in Chrome/Chromium without flags, and then adjust the user-agent sniffing logic and dialog